<template>
  <!-- /.row -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Transportation Fee Report</h3>

            <!-- <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
                <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
                <div class="input-group-append">
                <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                </div>
            </div>
            </div> -->
        </div>
        <!-- /.card-header -->
        <!-- <div class="card-body table-responsive pb-2" style="height: 330px;"> -->
        <div class="card-body table-responsive pb-2">
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <v-select v-model="user" name="province" :options="users" placeholder="Select User" label="name" :reduce="user => user.id"></v-select>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <date-picker v-model="dateRange" lang="en" value-type="format" format="YYYY-MM-DD" name="dateRange" :disabled-date="notAfterToday" placeholder="Select Date Created" range appendToBody></date-picker>
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <button type="button" class="btn btn-sm btn-block btn-primary" @click.prevent="getData()">Generate Data</button>
                    </div>
                </div>
            </div>
            <div class="col-md-12" v-if="loading == false">
            <table id="reservation-table" class="table table-head-fixed text-nowrap">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Title</th>
                    <th>Event Address</th>
                    <th>Transportation Fee</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="reserve in reservations">
                    <td><a :href="'/notifications/' + reserve.orig_id ">{{ reserve.id }}</a></td>
                    <td>{{ reserve.username }}</td>
                    <td>{{ reserve.title }}</td>
                    <td>{{ reserve.address }}</td>
                    <td>{{ reserve.delivery_fee }}</td>
                </tr>
                </tbody>
            </table>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
  <!-- /.row -->
</template>

<script>
import Vue from 'vue'; 
import DatePicker from 'vue2-datepicker';

const today = new Date();

export default {
    components: {
        DatePicker
    },
    created() {
        this.getData();
        this.getUsers();
    },
    data() {
        return {
            user: null,
            dateRange: [],
            reservations: [],
            users: [],
            loading: false,
        }
    },
    methods: {
        getUsers()
        {
          axios.get('/admin/get-users').then(response => {
            this.users = response.data.totalUsers;
            this.users.forEach(u => {
                u.name = u.firstname + ' ' + u.lastname;
            });
          }).catch(e => {
            console.log(e);
          });
        },
        getData()
        {
            this.loading = true;
            axios.get('/admin/fee-management-data', {
                params: {
                    user: this.user,
                    dateRange: this.dateRange
                }
            }).then(response => {
                this.reservations = response.data.reservations;
                if (this.reservations != null) {
                    setTimeout(() => {
                        $('#reservation-table').DataTable({
                            "order": [[ 2, "desc" ]]
                        });
                    }, 100);
                }
                this.loading = false;
            }).catch(e => {
                console.log(e);
            });
        },
        notAfterToday(date) {
            return date > today;
        },
    },
}
</script>

<style>

</style>