<template>
  <!-- /.row -->
    <div class="card">
        <div class="card-header">
            <h3 class="card-title">Sales Report</h3>
        </div>
        <div class="card-body table-responsive pb-2">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <select name="choice" @change="getData()" id="choice" v-model="choice" class="form-control">
                            <option value="daily">Daily</option>
                            <option value="weekly">Weekly</option>
                            <option value="monthly">Monthly</option>
                            <option value="yearly">Yearly</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="text-center">
                <div v-show="reservations.lenght != 0">- No Data -</div>
            </div>
            <div class="row">
                <div class="col-md-12" v-if="loading == false">
                    <div v-for="(reserve, index) in reservations" :key="index">
                        <hr>
                        <div><b>{{ index }}</b></div>
                        <div class="row" id="content-desktop">
                            <div class="col-md-2 pl-4">
                                Client Name
                            </div>
                            <div class="col-md-4">
                                Event Title
                            </div>
                            <div class="col-md-2">
                                Event Date
                            </div>
                            <div class="col-md-2 text-right">
                                Transportation Fee
                            </div>
                            <div class="col-md-2 text-right pr-4">
                                Total Amount
                            </div>
                        </div>
                        <div class="row border-bottom" v-for="r in reserve">
                            <div class="col-md-2 pl-4">
                                {{ r.username }}
                            </div>
                            <div class="col-md-4">
                                {{ r.title }}
                            </div>
                            <div class="col-md-2">
                                {{ r.date | formatDate }}
                            </div>
                            <div class="col-md-2 text-right">
                                {{ formatPrice(r.fee) }}
                            </div>
                            <div class="col-md-2 text-right pr-4">
                                {{ formatPrice(r.amount) }}
                            </div>
                        </div>
                        <div class="row pt-4">
                            <div class="col-md-8">
                                <!-- <label>Invoice Term</label>
                                <div><b>fasfsdf</b></div> -->
                            </div>
                            <div class="col-md-2 text-right label-total">
                                    <div><b>Total Reservations</b></div>
                            </div>
                            <div class="col-md-2 text-right pr-4">
                                    <div>{{ reserve.length }}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <!-- <label>Invoice Term</label>
                                <div><b>fasfsdf</b></div> -->
                            </div>
                            <div class="col-md-2 text-right label-total">
                                    <div><b>Total Transportation Fee</b></div>
                            </div>
                            <div class="col-md-2 text-right pr-4">
                                    <div>Php {{ formatPrice(reserve[reserve.length - 1].total_fee) }}</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <!-- <label>Invoice Term</label>
                                <div><b>fasfsdf</b></div> -->
                            </div>
                            <div class="col-md-2 text-right label-total">
                                    <div><b>Total Amount</b></div>
                            </div>
                            <div class="col-md-2 text-right pr-4">
                                    <div>Php {{ formatPrice(reserve[reserve.length - 1].total) }}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.card-body -->
    </div>
    <!-- /.card -->
  <!-- /.row -->
</template>

<script>
import Vue from 'vue'; 
import DatePicker from 'vue2-datepicker';

const today = new Date();

export default {
    components: {
        DatePicker
    },
    created() {
        this.getData();
        this.getUsers();
    },
    data() {
        return {
            choice: 'daily',
            user: null,
            dateRange: [],
            reservations: [],
            users: [],
            loading: false,
        }
    },
    methods: {
        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', '.')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        },
        getUsers()
        {
          axios.get('/admin/get-users').then(response => {
            this.users = response.data.totalUsers;
            this.users.forEach(u => {
                u.name = u.firstname + ' ' + u.lastname;
            });
          }).catch(e => {
            console.log(e);
          });
        },
        getData()
        {
            this.loading = true;
            axios.get('/admin/get-data', {
                params: {
                    choice: this.choice,
                }
            }).then(response => {
                this.reservations = response.data.reservations;
                if (this.reservations != null) {
                    setTimeout(() => {
                        $('#reservation-table').DataTable({
                            "order": [[ 2, "desc" ]]
                        });
                    }, 100);
                }
                this.loading = false;
            }).catch(e => {
                console.log(e);
            });
        },
        notAfterToday(date) {
            return date > today;
        },
    },
}
</script>

<style>
    #content-desktop {
        display: flex !important;
    }
    #content-mobile {
        display: none !important;
    }
    @media all and (max-width: 700px) {
        #content-desktop {
            display: none !important;
        }
        #content-mobile {
            display: flex !important;
        }
    }
</style>