<template>
    <div class="row">
        <!-- MODAL -->
        <PaymentModal></PaymentModal>
        <div class="modal fade" id="payment-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered form-dark" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h2>Proof of Payment</h2>
                        <div class="row">
                            <div class="col-md-6">
                                <validation-observer v-slot="{ invalid, pristine }" tag="form" class="user-form" @submit.prevent="addPayment" ref="updateStatusValidationObserver">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <validation-provider name="status" rules="required" :isInitial="true" v-slot="{ errors }">
                                                <date-picker 
                                                    v-model="payment_date"
                                                    value-type="format" 
                                                    format="YYYY-MM-DD"
                                                    type="date"
                                                    name="birthdate"
                                                    placeholder="Receipt Date"
                                                    lang="en"
                                                    :disabled-date="notAfterToday"
                                                ></date-picker>
                                                <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                            </validation-provider>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <validation-provider name="refferenceno" rules="required" :isInitial="true" v-slot="{ errors }">
                                                <input type="text" v-model="refferenceno" name="refferenceno" id="refferenceno" class="form-control" placeholder="Enter Reference No.">
                                                <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                            </validation-provider>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <validation-provider name="ramount" rules="required" :isInitial="true" v-slot="{ errors }">
                                                <input type="text" v-model="ramount" v-on:keypress="isNumberKey($event)" name="ramount" id="ramount" disabled class="form-control" placeholder="Enter Amount">
                                                <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                            </validation-provider>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <validation-provider name="file" rules="required|image" :isInitial="true" ref="provider" v-slot="{ validate, errors }">
                                                <input type="file" @change="onImageChange" name="file" id="file" ref="file" class="form-control">
                                                <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                            </validation-provider>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <validation-provider name="notes" rules="required" :isInitial="true" v-slot="{ errors }">
                                                <textarea name="notes" id="notes" v-model="notes" cols="30" rows="5" class="form-control" placeholder="Note(s)..."></textarea>
                                                <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                            </validation-provider>
                                        </div>
                                    </div>
                                    <div class="form-group" v-if="!loading">
                                        <div class="col-md-12 text-right">
                                            <button type="submit" :disabled="invalid" class="btn btn-sm btn-primary"> Send Payment </button>
                                            <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal" aria-label="Close"> Close </button>
                                        </div>
                                    </div>
                                    <div class="form-group" v-else>
                                        <div class="col-md-12 text-right">
                                            <button type="submit" disabled class="btn btn-sm btn-primary"> Please wait... </button>
                                            <button type="button" disabled class="btn btn-sm btn-danger" data-dismiss="modal" aria-label="Close"> Close </button>
                                        </div>
                                    </div>
                                </validation-observer>
                            </div>
                            <div class="col-md-6">
                                <p>Customer Refund Account.</p>
                                <ul v-if="account != null">
                                    <li><b style="text-transform:uppercase">{{ account.type }}</b></li>
                                    <ul>
                                        <li>{{ account.name }}</li>
                                        <li>{{ account.account_number }}</li>
                                    </ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MODAL -->
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-12">
                            <h3 class="card-title">Refunds</h3>
                        </div>
                    </div>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                <table id="categories-table" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Revervation</th>
                            <th>Reference_no</th>
                            <th>Amount</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="refund in refunds">
                            <td> {{ refund.title }}</td>
                            <td> {{ refund.refference_no }}</td>
                            <td> {{ refund.amount }}</td>
                            <td> {{ refund.status }}</td>
                            <td>
                                <span v-if="refund.refference_no == null">
                                    <a href="#" class="btn btn-xs btn-success"  @click.prevent="showPaymentForm(refund)">Send Payment</a> | 
                                </span>
                                <a href="#" class="btn btn-xs btn-info" @click.prevent="showDetailsModal(refund)">Details</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</template>

<script>
import DatePicker from 'vue2-datepicker';
import PaymentModal from '../Public/PaymentDetails'

const today = new Date();

export default {
    components: {
        DatePicker,
        PaymentModal
    },
    created() {
        this.getRefunds();
    },
    data() {
        return {
            ramount: null,
            refferenceno: null,
            payment_date: null,
            file: null,
            notes: null,
            loading: false,

            refunds: [],
            account: null,
        }
    },
    methods: {
        showDetailsModal(refund) {
            this.$root.$emit('dashboard:show-payment', refund);
            console.log('test');
        },
        notAfterToday(date) {
            return date > today;
        },
        isNumberKey(evt)
        {
            let keyCode = (evt.keyCode ? evt.keyCode : evt.which);
            if ((keyCode < 48 || keyCode > 57) && (keyCode !== 46 || this.ramount.indexOf('.') != -1)) { // 46 is dot
                evt.preventDefault();
            }
            if(this.ramount!=null && this.ramount.indexOf(".")>-1 && (this.ramount.split('.')[1].length > 1)){
                evt.preventDefault();
            }
        },
        async onImageChange(e) {
            console.log(e);
            const { valid } = await this.$refs.provider.validate(e);

            if (valid) {
                this.file = e.target.files[0];
            }
        },
        getRefunds()
        {
            axios.get('/admin/get-refunds').then(response => {
                this.refunds = response.data.refunds;
            });
        },
        showPaymentForm(refund)
        {
            this.ramount = refund.amount;
            this.account = refund.account;
            $('#payment-modal').modal('show');
        }
    },
}
</script>

<style>

</style>