<template>
    <div class="modal fade" id="delete-package">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete Package</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <validation-observer v-slot="{ invalid, pristine }" tag="form" class="user-form" @submit.prevent="deletePackage">
                    <!-- <form v-submit.prevent="addUser()" method="post"> -->
                        <div class="row">
                            <div class="col-12">
                                <p>Are you sure you want to delete <b>{{ pack.name }}'s</b> package?</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group" style="text-align: right;">
                                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">No</button>
                                    <button :disabled="invalid" type="submit" class="btn btn-sm btn-primary">Yes</button>
                                </div>
                            </div>
                        </div>
                    <!-- </form> -->
                    </validation-observer>
                </div>
            </div>
        <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</template>

<script>
export default {
    data() {
        return {
            pack: {
                name: null
            }
        }
    },
    methods: {
        deletePackage()
        {
            axios.delete('/admin/packages/' + this.pack.id).then(response => {
                if (response.data.success) {
                    this.$toastr.s(response.data.msg, 'Success');
                } else {
                    this.$toastr.e(response.data.msg, 'Error');
                }
                $('#delete-package').modal('hide');
                this.$root.$emit('packages:refresh');
            }).catch(e => {
                console,log(e);
            });
        }
    },
    mounted() {
        this.$root.$on('package:delete', (pack) => {
            this.pack = pack;
        });
    },
}
</script>

<style>

</style>