<template>
  <div class="modal fade" id="edit-package">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Package</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" v-if="selectedPackage != null">
                    <validation-observer v-slot="{ invalid, pristine }" tag="form" class="user-form" @submit.prevent="editPackage" ref="editPackageValidationObserver">
                    <!-- <form v-submit.prevent="addUser()" method="post"> -->
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="choice">Type of Package</label>
                                        <input type="text" v-model="selectedPackage.type" class="form-control form-control-sm" disabled>
                                    <!-- <div style="padding-left: 30px;">{{ selectedPackage.type }}</div> -->
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <validation-provider name="name" rules="required" :isInitial="true" v-slot="{ errors }">
                                        <label for="name" class="label">Name <span style="color:red;">*</span></label><br>
                                        <input type="text" v-model="selectedPackage.name" class="form-control form-control-sm" name="name">
                                        <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                    </validation-provider>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <validation-provider name="price" rules="required|decimal" :isInitial="true" v-slot="{ errors }">
                                        <label for="price" class="label">Price <span style="color:red;">*</span></label>
                                        <input type="text" v-on:keypress="isNumberKey($event)" v-model="selectedPackage.price" name="price" id="price" class="form-control form-control-sm">
                                        <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                    </validation-provider>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <validation-provider name="status" rules="required" :isInitial="true" v-slot="{ errors }">
                                        <label for="status" class="label">Status <span style="color:red;">*</span></label>
                                        <select name="status" v-model="selectedPackage.status" id="status" class="form-control form-control-sm">
                                            <option value="available" >Available</option>
                                            <option value="not-available">Not Available</option>
                                        </select>
                                        <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                    </validation-provider>
                                </div>
                            </div>
                        </div>
                        <div v-if="selectedPackage.type === 'tools'">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <validation-provider name="description" rules="required|min:5" :isInitial="true" v-slot="{ errors }">
                                            <label for="description" class="label">Description <span style="color:red;">*</span></label>
                                            <vue-editor name="description" v-model="selectedPackage.description" :editor-toolbar="customToolbar"></vue-editor>
                                            <!-- <textarea name="description" v-model="selectedPackage.description" class="form-control form-control-sm" id="description" cols="40" rows="10"></textarea> -->
                                            <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                        </validation-provider>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div v-if="selectedPackage.type === 'menu'">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <validation-provider name="package_type" rules="required" :isInitial="true" v-slot="{ errors }">
                                            <label for="package_type" class="label">Package Type <span style="color:red;">*</span></label>
                                            <select name="package_type" v-model="selectedPackage.package_type" id="package_type" class="form-control form-control-sm">
                                                <option value="seta" >Set A</option>
                                                <option value="setb">Set B</option>
                                            </select>
                                            <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                        </validation-provider>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <validation-provider name="food_max" rules="required" :isInitial="true" v-slot="{ errors }">
                                            <label for="food_max" class="label">Food(s) Max <span style="color:red;">* <span style="font-size: 10px;">(This is for main menu only.)</span></span></label>
                                            <select name="food_max" v-model="selectedPackage.food_max" id="food_max" class="form-control form-control-sm">
                                                <option value="1">1</option>
                                                <option value="2">2</option>
                                                <option value="3">3</option>
                                                <option value="4">4</option>
                                                <option value="5">5</option>
                                                <option value="6">6</option>
                                                <option value="7">7</option>
                                                <option value="8">8</option>
                                                <option value="9">9</option>
                                                <option value="10">10</option>
                                            </select>
                                            <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                        </validation-provider>
                                    </div>
                                </div>
                            </div>
                            <div class="row" v-for="(cat,index) in selectedPackage.lists" :key="index">
                                <div class="col-4">
                                    <div class="form-group">
                                        <validation-provider name="category" rules="required" :isInitial="true" v-slot="{ errors }">
                                            <v-select v-model="cat.category_id" name="category" @input="getCategoryFoods(cat.category_id)" :options="categories" placeholder="Select Category" label="name" :reduce="category => category.id" :disabled="!isLoadingArray[index]"></v-select>
                                            <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                        </validation-provider>
                                    </div>
                                </div>
                                <div class="col-5">
                                    <div class="form-group">
                                        <validation-provider name="category" rules="required" :isInitial="true" v-slot="{ errors }">
                                            <v-select v-model="cat.value" name="category" :options="categoryFoods" placeholder="Select Food/Drink" label="name" :disabled="!isLoadingArray[index]"></v-select>
                                            <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                        </validation-provider>
                                    </div>
                                </div>
                                <div class="col-1">
                                    <div class="form-group">
                                        <button type="button" v-if="isLoadingArray[index]" class="btn btn-sm btn-block btn-success" @click="cancelCategory(cat, index)">
                                            <span>Update</span>
                                        </button>
                                        <button type="button" v-else class="btn btn-sm btn-block btn-outline-primary" @click="editCategory(cat, index)">
                                            <span>Edit</span>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        <button class="btn btn-sm btn-block btn-danger" @click.prevent="removeSelectedCategory(cat)">Remove</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div v-if="selectedPackage.type === 'menu'" class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <button @click.prevent="addCategory()" class="btn btn-primary">Add Category</button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group" style="text-align: right;">
                                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
                                    <button :disabled="invalid" type="submit" id="submit" class="btn btn-sm btn-primary">Save</button>
                                </div>
                            </div>
                        </div>
                    <!-- </form> -->
                    </validation-observer>
                </div>
            </div>
        <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</template>

<script>
const today = new Date();

export default {
    created() {
        this.getCategories();
    },
    data() {
        return {
            customToolbar: [
                [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                ['bold', 'italic', 'underline'],
                [{'align': ''}, {'align': 'center'}, {'align': 'right'}, {'align': 'justify'}],
                ['blockquote', 'code-block'],
                [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                [{ 'script': 'sub'}, { 'script': 'super' }],
                [{ 'indent': '-1'}, { 'indent': '+1' }],
                [{ 'color': [] }, { 'background': [] }],
                [{ 'font': [] }],
            ],
            newPackage: {
                type: 'menu',
                status: 'available',
                categories: [],
            },
            categories: [],
            categoryFoods: [],
            selectedPackage: null,
            isLoadingArray: [],
        }
    },
    methods: {
        addCategory()
        {
            this.selectedPackage.lists.push({
                'category_id'  : null,
                'value'     : null
            })
        },
        editPackage()
        {
            axios.put('/admin/packages/' + this.selectedPackage.id, {
                name: this.selectedPackage.name,
                description: this.selectedPackage.description,
                type: this.selectedPackage.type,
                price: this.selectedPackage.price,
                status: this.selectedPackage.status,
                categories: this.selectedPackage.lists,
                package_type: this.selectedPackage.package_type,
                food_max: this.selectedPackage.food_max
            }).then(response => {
                if (response.data.success) {
                    this.$toastr.s(response.data.msg, 'Success');
                    this.resetForm();
                } else {
                    this.$toastr.e(response.data.msg, 'Error');
                }
                $('#edit-package').modal('hide');
                this.$root.$emit('packages:refresh');
            })
        },

        removeSelectedCategory(category){
            var that = this;
            that.selectedPackage.lists = that.selectedPackage.lists.filter((item) => {
                return item !== category;
            });
        },
        isNumberKey(evt)
        {
            let keyCode = (evt.keyCode ? evt.keyCode : evt.which);
            if ((keyCode < 48 || keyCode > 57) && (keyCode !== 46 || this.amount.indexOf('.') != -1)) { // 46 is dot
                evt.preventDefault();
            }
            if(this.amount!=null && this.amount.indexOf(".")>-1 && (this.amount.split('.')[1].length > 1)){
                evt.preventDefault();
            }
        },
        getCategories()
        {
            axios.get('/admin/get-categories').then(response => {
                this.categories = response.data.categories;
            }).catch(e => {
                console.log(e);
            });
        },
        getPackage(id) {
            axios.get('/admin/packages/' + id + '/edit').then(response => {
                this.selectedPackage = response.data.package;
            }).catch(e => {
                console.log(e);
            })
        },
        getCategoryFoods(id)
        {
            axios.get('/admin/get-category-foods', {
                params: {
                    id: id
                }
            }).then(response => {
                this.categoryFoods = response.data.categoryFoods;
            }).catch(e => {
                console.log(e);
            });
        },
        cancelCategory(cat, index)
        {
            if (cat.value != null) {
                this.$set(this.isLoadingArray, index, false)
            }
        },
        editCategory(cat, index){
            this.$set(this.isLoadingArray, index, true)
            this.getCategoryFoods(cat.category_id);
        },
        notAfterToday(date) {
            return date > today;
        },
        formatPriceValue(value) {
            let val = (value/1).toFixed(0).replace('.', '.')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        },
        resetForm() {
	        this.selectedPackage = null,

	        this.$nextTick(() => {
	        	this.$refs.editPackageValidationObserver.reset();
            });
        },
    },
    mounted() {
        this.$root.$on('package:edit', (pack) => {
            // var p = pack;
            console.log(pack);
            // this.selectedPackage.price = Number(p.price);
            $('#edit-package').modal('show');
            this.getPackage(pack.id)
        });
    },
}
</script>

<style>

</style>