<template>
    <!-- Main content -->
    <section class="content" style="padding-top: 20px;">
      <AddPackage></AddPackage>
      <EditPackage></EditPackage>
      <!-- <EditUserDetails></EditUserDetails> -->
      <DeletePackage></DeletePackage>
      <ShowPackage></ShowPackage>
      <div class="row">
        <div class="col-12">

          <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-11">
                        <h3 class="card-title">Packages</h3>
                    </div>
                    <div class="col-1">
                        <button class="btn btn-sm btn-block btn-primary" @click.prevent="showAddModal()">Add</button>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="packages-table" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th class="text-center">Status</th>
                    <th class="text-center">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="(pack, i) in packages" :key="i" >
                    <td>{{ pack.name }}</td>
                    <td>{{ formatPrice(pack.price) }}</td>
                    <td class="text-center"><span class="btn btn-xs" :class="pack.status == 'available' ? 'btn-success' : 'btn-danger'"  @click.prevent="">{{ pack.status }}</span></td>
                    <td class="text-center"><a href="#" class="btn btn-xs btn-info"  @click.prevent="showShowModal(pack)">Show</a> | 
                        <a href="#" class="btn btn-xs btn-success"  @click.prevent="showEditModal(pack)">Edit</a> | 
                        <a href="#" class="btn btn-xs btn-danger" @click.prevent="showDeleteModal(pack)">Delete</a>
                      </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
</template>

<script>
import AddPackage from './AddPackage';
import EditPackage from './EditPackage';
import DeletePackage from './DeletePackage';
import ShowPackage from './ShowPackage';

export default {
  created() {
    this.getPackages();
  },
  components: {
    AddPackage,
    DeletePackage,
    ShowPackage,
    EditPackage,
  },
    data() {
        return {
            packages: [],
        }
    },
    methods: {
      formatPrice(value) {
          let val = (value/1).toFixed(2).replace('.', '.')
          return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
      },
      getPackages()
      {
        axios.get('/admin/get-packages').then(response => {
          this.packages = response.data.packages;

          setTimeout(() => {
              $('#packages-table').DataTable();
          }, 100);
        }).catch(e => {
          console.log(e);
        })
      },
        showAddModal()
        {
          $('#add-package').modal('show');
        },
        showDeleteModal(pack)
        {
          $('#delete-package').modal('show');
          this.$root.$emit('package:delete', pack);
        },
        showEditModal(pack)
        {
          this.$root.$emit('package:edit', pack);
          // $('#add-package').modal('show');
        },
        showShowModal(pack)
        {
          $('#show-package').modal('show');
          this.$root.$emit('package:show', pack, 'admin');
        }
    },
    mounted() {
      this.$root.$on('packages:refresh', () => {
        this.getPackages();
      });
    },
}
</script>

<style>

</style>