<template>
    <div class="modal fade" id="show-package">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Package Details</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12" v-show="status == 'admin'">
                            <label for="name"><b>ID : </b></label> {{ pack.id }}
                        </div>
                        <div class="col-12">
                            <label for="name"><b>Name : </b></label> {{ pack.name }}
                        </div>
                        <div class="col-12">
                            <label for="name"><b>Price : </b></label> {{ formatPrice(pack.price) }} pesos
                        </div>
                        <div class="col-12">
                            <label for="name"><b>Description : </b></label> <div v-html="pack.description"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group" style="text-align: right;">
                                <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</template>

<script>
export default {
    data() {
        return {
            pack: {
                name: null
            },
            status: null,
        }
    },
    methods: {
      formatPrice(value) {
          let val = (value/1).toFixed(2).replace('.', '.')
          return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
      },
    },
    mounted() {
        this.$root.$on('package:show', (pack, status) => {
            this.pack = pack;
            this.status = status;
        });
    },
}
</script>

<style>

</style>