<template>
    <section class="content" style="padding-top: 20px;">
        <!-- MODAL -->
        <div class="modal fade" id="payment-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered form-dark" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h2>Send Proof of Payment</h2>
                        <div class="row">
                            <div class="col-md-6">
                                <validation-observer v-slot="{ invalid, pristine }" tag="form" class="user-form" @submit.prevent="addPayment" ref="updateStatusValidationObserver">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <validation-provider name="status" rules="required" :isInitial="true" v-slot="{ errors }">
                                                <date-picker 
                                                    v-model="payment_date"
                                                    value-type="format" 
                                                    format="YYYY-MM-DD"
                                                    type="date"
                                                    name="birthdate"
                                                    placeholder="Receipt Date"
                                                    lang="en"
                                                    :disabled-date="notAfterToday"
                                                ></date-picker>
                                                <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                            </validation-provider>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <validation-provider name="refferenceno" rules="required" :isInitial="true" v-slot="{ errors }">
                                                <input type="text" v-model="refferenceno" name="refferenceno" id="refferenceno" class="form-control" placeholder="Enter Reference No.">
                                                <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                            </validation-provider>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <validation-provider name="ramount" rules="required" :isInitial="true" v-slot="{ errors }">
                                                <input type="text" v-model="ramount" v-on:keypress="isNumberKey($event)" name="ramount" id="ramount" disabled class="form-control" placeholder="Enter Amount">
                                                <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                            </validation-provider>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <validation-provider name="file" rules="required|image" :isInitial="true" ref="provider" v-slot="{ validate, errors }">
                                                <input type="file" @change="onImageChange" name="file" id="file" ref="file" class="form-control">
                                                <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                            </validation-provider>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <validation-provider name="notes" rules="required" :isInitial="true" v-slot="{ errors }">
                                                <textarea name="notes" id="notes" v-model="notes" cols="30" rows="5" class="form-control" placeholder="Note(s)..."></textarea>
                                                <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                            </validation-provider>
                                        </div>
                                    </div>
                                    <div class="form-group" v-if="!loading">
                                        <div class="col-md-12 text-right">
                                            <button type="submit" :disabled="invalid" class="btn btn-sm btn-primary"> Send Payment </button>
                                            <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal" aria-label="Close"> Close </button>
                                        </div>
                                    </div>
                                    <div class="form-group" v-else>
                                        <div class="col-md-12 text-right">
                                            <button type="submit" disabled class="btn btn-sm btn-primary"> Please wait... </button>
                                            <button type="button" disabled class="btn btn-sm btn-danger" data-dismiss="modal" aria-label="Close"> Close </button>
                                        </div>
                                    </div>
                                </validation-observer>
                            </div>
                            <div class="col-md-6" v-if="reservation != null">
                                <p>Customer Refund Account.</p>
                                <ul v-if="reservation.account != null">
                                    <li><b style="text-transform:uppercase">{{ reservation.account.type }}</b></li>
                                    <ul>
                                        <li>{{ reservation.account.name }}</li>
                                        <li>{{ reservation.account.account_number }}</li>
                                    </ul>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="confirm-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered form-dark" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button> -->
                        <!-- <h2>Update Status</h2> -->
                        <validation-observer v-slot="{ invalid, pristine }" tag="form" class="user-form" @submit.prevent="updateStatus" ref="updateStatusValidationObserver">
                            <div class="form-group text-center">
                                <div class="col-md-12">
                                    <div id="text" style="font-size: 30px;"></div>
                                </div>
                            </div>
                            <div class="form-group" v-if="status != 'approved' && status != 'completed'">
                                <div class="col-md-12">
                                    <validation-provider name="notes" rules="required" :isInitial="true" v-slot="{ errors }">
                                        <textarea name="notes" id="notes" v-model="cnotes" cols="30" rows="10" class="form-control" placeholder="Enter some reason/description"></textarea>
                                        <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                    </validation-provider>
                                </div>
                            </div>
                            <div class="form-group text-center" v-if="status == 'complete'">
                                <div style="color: red;">Make sure that all payment are complete.</div>
                            </div>
                            <hr>
                            <div class="form-group">
                                <div class="col-md-12 text-right">
                                    <button type="submit" :disabled="invalid" class="btn btn-sm btn-primary"> Yes </button>
                                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal" aria-label="Close"> No </button>
                                </div>
                            </div>
                        </validation-observer>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="confirm-status-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered form-dark" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <p>This reservation send a payment. Please check the payment and move status into <b>Completed</b>.</p>
                        <p style="color:red;">Note: Before you confirm. You already check the payment. </p>
                        <div class="form-group">
                            <div class="col-md-12">
                                <button type="submit" @click.prevent="bupdateStatus()" class="btn btn-sm btn-primary"> Yes </button>
                                <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal" aria-label="Close"> No </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MODAL -->
      <div class="row">
        <div class="col-12">

          <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-12">
                        <h3 class="card-title">Show Reservation</h3>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body" v-if="reservation != null">
                <div v-if="reservation.billings.length != 0" style="color: #fff;">
                    <div class="text-center pb-2 pt-2" style="background-color: rgb(35, 98, 152);" v-if="(reservation.amount - reservation.amount_paid) != 0">
                        <b style="text-transform: uppercase;">{{ reservation.status }}</b> 
                    </div>
                    <div class="text-center pb-2 pt-2" style="background-color: #378a1b;" v-if="(reservation.amount - reservation.amount_paid) == 0">
                        <b style="text-transform: uppercase;">{{ reservation.status }}</b>
                    </div>
                </div>
                <div v-else style="color: #fff;">
                    <div class="text-center pb-2 pt-2" style="background-color: #821928;">
                        <b style="text-transform: uppercase;">{{ reservation.status }}</b>
                    </div>
                </div>
                <span style="font-size: 16px; font-weight: 600;">Reservation Details :</span>
                <div class="row">
                    <div class="col-md-4">
                        <b>Name : </b>{{ reservation.name }}<br>
                    </div>
                    <div class="col-md-4">
                        <b>Date Created : </b>{{ reservation.created_at | formatDate }}<br>
                    </div>
                    <div class="col-md-4">
                        <b>Event Date : </b>{{ reservation.actual_date }}<br>
                    </div>
                    <div class="col-md-4">
                        <b>Service : </b>{{ reservation.service }}<br>
                    </div>
                    <div class="col-md-4">
                        <b>Contact Number : </b>{{ reservation.contact_number }}<br>
                    </div>
                    <div class="col-md-4">
                        <b>Status : </b>{{ reservation.status }}<br>
                    </div>
                    <div class="col-md-12">
                        <b>Address : </b>{{ reservation.address }}, {{ reservation.barangay }}, {{ reservation.municipality }}, {{ reservation.province }}<br>
                    </div>
                    <div class="col-md-4">
                        <b>Amount : </b>{{ formatPrice(reservation.amount) }}<br>
                    </div>
                    <div class="col-md-4">
                        <b>Total Paid : </b>{{ formatPrice(reservation.amount_paid) }}<br>
                    </div>
                    <div class="col-md-4">
                        <b>Remaining Balance : </b>{{ formatPrice(reservation.amount - reservation.amount_paid) }}<br>
                    </div>
                </div>
                <hr>
                <span style="font-size: 16px; font-weight: 600;">Billing Details :</span>
                <div class="text-center" v-if="reservation.billings.length == 0">
                    - No Payment Transaction -
                </div>
                <div v-if="reservation.billings.length != 0">
                    <div class="row" v-for="r in reservation.billings">
                        <div class="col-md-4">
                            <b>Date : </b>{{ r.payment_date | formatDate }}<br>
                        </div>
                        <div class="col-md-4">
                            <b>Reference Number : </b>{{ r.refference_no }}<br>
                        </div>
                        <div class="col-md-4">
                            <b>Amount Paid : </b>{{ formatPrice(r.amount) }}<br>
                        </div>
                        <div class="col-md-8">
                            <b>Proof of Payment : </b><a :href="'/storage/payments/' + r.url" target="_blank">{{ r.filename }}</a><br>
                        </div>
                        <div class="col-md-4" v-if="r.type != 'refund'">
                            <b>Status : </b>
                            <span v-if="r.status == 'pending'"><button @click.prevent="showModal(r.id)" class="btn btn-sm btn-outline-primary">Confirm</button></span>
                            <span v-else>{{ r.type }}</span>
                            <br>
                        </div>
                        <div class="col-md-4" v-else>
                            <b>Status : </b>
                            <span v-if="r.status == 'waiting'"><button @click.prevent="showPaymentModal(r.id)" class="btn btn-sm btn-outline-primary">Send Payment</button></span>
                            <span v-else>{{ r.type }}</span>
                            <br>
                        </div>
                        <div class="col-md-8">
                            <b>Invoice : </b><a :href="'/show-receipt/' + r.id" target="_blank">Invoice</a><br>
                        </div>
                        <div class="col-md-4">
                            <b>Notes : </b>{{ r.description }}<br>
                        </div>
                    </div>
                </div>
                <hr>
                <span style="font-size: 16px; font-weight: 600;">Reservation Package(s) :</span>
                <div class="row">
                    <div class="col-md-4 srollable" v-for="pack in reservation.packages">
                        <b>Name : </b>{{ pack.package.name }}<br>
                        <b>Amount : </b>{{ formatPrice(pack.package.price) }}<br>
                        <b>Meal Selection : </b>{{ pack.choice }}<br>
                        <b>Quantity : </b>{{ pack.quantity }}<br>
                        <b>No of Days : </b>{{ pack.days }}<br>
                        <b>Initial Amount : </b>{{ formatPrice(pack.price) }}<br>
                        <div v-if="pack.package.type == 'menu'">
                            <b>Description : </b>
                            <ul>
                                <li v-for="list in pack.lists">{{ list.category_name }} - {{ list.value.name }}</li>
                            </ul>
                        </div>
                        <div v-else>
                            <b>Description : </b><span v-html="pack.package.description"></span><br>
                        </div>
                    </div>
                </div>
                <hr>
                <span style="font-size: 16px; font-weight: 600;">Contract File :</span>
                <div class="row">
                    <div class="col-md-12">
                        <a :href="'/show-contract/' + reservation.id" target="_blank">show contract file</a>
                    </div>
                </div>
                <hr>
                <h3>Status Logs :</h3>
                <div class="srollable">
                    <div v-for="log in logs">
                        <div class="row">
                            <div class="log-td col-12 col-md-3 col-lg-3 col-xl-3">
                                <span class="d-inline d-sm-inline d-md-none d-lg-none text-primary font-weight-bold">Date:&nbsp;</span><b>{{ log.time }}</b>
                            </div>
                            <div class="log-td col-12 col-md-3 col-lg-3 col-xl-3">
                                <span class="d-inline d-sm-inline d-md-none d-lg-none text-primary font-weight-bold">User:&nbsp;</span><b>{{ log.user }}</b>
                            </div>
                            <div class="log-td col-12 col-md-6 col-lg-6 col-xl-6">
                                <span class="d-inline d-sm-inline d-md-none d-lg-none text-primary font-weight-bold">Action(s):&nbsp;</span>
                                <ul class="mb-0 p-0 list-unstyled">
                                    <li>{{ log.body }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row mt-2">
                    <!-- :disabled="reservation.status == 'waiting'" -->
                    <!-- <button v-if="reservation.status == 'pending'" class="btn btn-sm btn-outline-primary mr-1" @click.prevent="showForm('waiting')">Waiting Reservation</button> -->
                    <!-- <button v-if="reservation.status == 'pending'" class="btn btn-sm btn-outline-success mr-1" @click.prevent="showForm('approved')">Approve Reservation</button> -->
                    <button v-if="!isComplete && reservation.status == 'approved'" class="btn btn-sm btn-outline-info mr-1" @click.prevent="showForm('completed')">Complete Reservation</button>
                    <button v-if="!isCancel && reservation.time > 7 && reservation.status != 'cancelled'" class="btn btn-sm btn-outline-danger mr-1" @click.prevent="showForm('cancelled')">Cancel Reservation</button>
                </div>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
</template>

<script>
import DatePicker from 'vue2-datepicker';

const today = new Date();

export default {
    components: {
        DatePicker
    },
    created() {
        this.getDetails();
        this.getLogs();
    },
    data() {
        return {
            reservation: null,
            notes: null,
            status: null,
            logs: [],
            b_id: null,
            amount: null,

            ramount: null,
            refferenceno: null,
            payment_date: null,
            file: null,
            cnotes: 'Your Reservation is cancelled because you did not send any payment proof. The deadline is before 1 week of the effective event date.',
            loading: false,
            isCancel: false,
            isComplete: false
        }
    },
    methods: {
        addPayment()
        {   
            this.loading = true;
            let formData = new FormData();
            formData.append('file', this.file);

            axios.post('/refund-payment/' + this.b_id , formData, {
                params: {
                    reservation_id: this.reservation.id,
                    amount: this.amount,
                    refference_no: this.refferenceno,
                    payment_date: this.payment_date,
                    notes: this.notes
                }
            }).then(response => {
                if (response.data.success) {
                    this.$toastr.s(response.data.msg, 'Success');
                    this.loading = false;
                    $('#payment-modal').modal('hide');
                } else {
                    this.$toastr.e(response.data.msg, 'Error');
                }
            });
        },
        async onImageChange(e) {
            console.log(e);
            const { valid } = await this.$refs.provider.validate(e);

            if (valid) {
                this.file = e.target.files[0];
            }
        },
        notAfterToday(date) {
            return date > today;
        },
        isNumberKey(evt)
        {
            let keyCode = (evt.keyCode ? evt.keyCode : evt.which);
            if ((keyCode < 48 || keyCode > 57) && (keyCode !== 46 || this.ramount.indexOf('.') != -1)) { // 46 is dot
                evt.preventDefault();
            }
            if(this.ramount!=null && this.ramount.indexOf(".")>-1 && (this.ramount.split('.')[1].length > 1)){
                evt.preventDefault();
            }
        },
        bupdateStatus()
        {
            axios.put('/payments/' + this.b_id, {
                status: 'complete',
                amount: this.amount
            }).then(response => {
                if (response.data.success) {
                    this.$toastr.s(response.data.msg, 'Success');
                    this.getDetails();
                    this.getLogs();
                } else {
                    this.$toastr.e(response.data.msg, 'Error');
                }
                $('#confirm-status-modal').modal('hide');
            });
        },
        getDetails()
        {
            axios.get('/admin/get-reservation/' + this.id).then(response => {
                this.reservation = response.data.reservation;
                this.status = response.data.reservation.status;
                if (this.reservation.status == 'completed') {
                    this.isCancel = true;
                }
                this.reservation.billings.forEach(b => {
                    if (b.status == 'pending' && b.type != 'refund') {
                        this.showModal(b.id);
                        this.amount = b.amount;
                        this.isCancel = true;
                    }
                    if (b.status == 'waiting' && b.type == 'refund') {
                        this.showPaymentModal(b.id);
                        this.ramount = b.amount;
                    }
                    
                    if (b.status == 'waiting' || b.status == 'pending') {
                        this.isComplete = true;
                        this.isCancel = true;
                    }
                    // if (b.status == 'pending') {
                    //     if (this.reservation.amount_paid < 5000) {
                    //         this.showModal(b.id);
                    //         this.amount = b.amount;
                    //     } else {
                    //         this.b_id = b.id;
                    //         this.amount = b.amount;
                    //         $('#text').append('<p style="color: red; font-size: 13px;">Note: Check the payment first before you clicking the yes button.</p>');
                    //         this.showForm('approved');
                            
                    //     }
                    // }
                });
                
            }).catch(e => {
                console.log(e);
            });
        },
        getLogs()
        {
            axios.get('/get-log/' + this.id).then(response => {
                this.logs = response.data.logs;
            }).catch(e => {
                console.log(e);
            });
        },
        showPaymentModal(id)
        {
            this.b_id = id;
            $('#payment-modal').modal('show');
        },
        showModal(id)
        {
            this.b_id = id;
            $('#confirm-status-modal').modal('show');
        },
        showForm(name)
        {
            this.status = name;
            $('#text').html('Do you want to move status into <b>' + name + '</b> ?');
            $('#confirm-modal').modal('show');
        },
        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', '.')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        },
        resetForm() {
            this.reservation = null,
            this.notes = null,
            this.status = null,

	        this.$nextTick(() => {
	        	this.$refs.addPackageValidationObserver.reset();
            });
        },
        updateStatus()
        {
            axios.put('/admin/update-status/' + this.id, {
                status: this.status,
                notes: this.cnotes
            }).then(response => {
                if (response.data.success) {
                    this.$toastr.s(response.data.msg, 'Success');
                    this.bupdateStatus();
                    this.getDetails();
                    this.getLogs();
                } else {
                    this.$toastr.e(response.data.msg, 'Error');
                }
                $('#confirm-modal').modal('hide');
            });
        }
    },
    props: ['id']
}
</script>

<style>
    .col-md-4, .col-md-12 {
        padding-top: 3px;
        padding-bottom: 3px;
    }
    .card-body {
        padding-top: 5px !important;
    }
    .srollable {
        max-height: 450px;
        overflow-y: scroll;
    }
    ::-webkit-scrollbar {
        width: 6px;
    }

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }
    .history {
        padding: 0;
    }
    .history > li {
        list-style: none;
    }
</style>