<template>
  <!-- Main content -->
    <section class="content" style="padding-top: 20px;">
        <!-- Modal -->
        <!-- Delete service -->
        <div class="modal fade" id="delete-service-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Delete Service</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <validation-observer v-slot="{ invalid, pristine }" tag="form" class="service-form" @submit.prevent="deleteService">
                            <div class="row">
                                <div class="col-12">
                                    <p>Are you sure you want to delete <b>{{ removeService.name }}'s</b> service?</p>
                                    <!-- <span style="color:red; font-size: 14px;">Note: All foods under on this category will not deleted but there category will change to null.</span> -->
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group" style="text-align: right;">
                                        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">No</button>
                                        <button :disabled="invalid" type="submit" class="btn btn-sm btn-primary">Yes</button>
                                    </div>
                                </div>
                            </div>
                        <!-- </form> -->
                        </validation-observer>
                    </div>
                </div>
            <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
      <div class="row">
        <div class="col-8">

          <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-12">
                        <h3 class="card-title">Services</h3>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="services-table" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="service in services">
                  <td> {{ service.name }}</td>
                  <td><a href="#" class="btn btn-xs btn-success"  @click.prevent="showEditForm(service)">Edit</a> | <a href="#" class="btn btn-xs btn-danger" @click.prevent="showDeleteModal(service)">Delete</a></td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-4" v-if="!isEdit">
          <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-12">
                        <h3 class="card-title">Add Services</h3>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <validation-observer v-slot="{ invalid, pristine }" tag="form" class="service-form" @submit.prevent="addService" ref="serviceValidationObserver">
                    <div class="row">
                        <div class="col-12">
                            <validation-provider name="name" rules="required|min:2|unique:services" :isInitial="true" v-slot="{ errors }">
                                <input type="name" v-model="newService.name" name="name" id="name" placeholder="Enter Name" class="form-control form-control-sm">
                                <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                            </validation-provider>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 text-right">
                            <div class="form-group">
                                <button :disabled="invalid" type="submit" class="btn btn-sm btn-primary">Save</button>
                            </div>
                        </div>
                    </div>
                </validation-observer>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-4" v-else>
          <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-12">
                        <h3 class="card-title">Edit Service</h3>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <validation-observer v-slot="{ invalid, pristine }" tag="form" class="service-form" @submit.prevent="updateService" ref="serviceValidationObserver">
                    <div class="row">
                        <div class="col-12">
                            <validation-provider name="name" :rules="'required|min:2|unique:services,' + editService.id" :isInitial="true" v-slot="{ errors }">
                                <input type="name" v-model="editService.name" name="name" id="name" placeholder="Enter Name" class="form-control form-control-sm">
                                <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                            </validation-provider>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 text-right">
                            <div class="form-group">
                                <button type="button" @click.prevent="showAddFrom()" class="btn btn-sm btn-danger">Cancel</button>
                                <button :disabled="invalid" type="submit" class="btn btn-sm btn-primary">Update</button>
                            </div>
                        </div>
                    </div>
                </validation-observer>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
</template>

<script>
export default {
    created() {
        this.getServices();
    },
    data() {
        return {
            isEdit: false,
            editService: {
                name: null
            },
            newService: {
                name: null
            },
            removeService: {
                name: null
            },
            services: [],
        }
    },
    methods: {
        addService()
        {
            axios.post('/admin/services', {
                name: this.newService.name 
            }).then(response => {
                if (response.data.success) {
                    this.$toastr.s(response.data.msg, 'Success');
                } else {
                    this.$toastr.s(response.data.msg, 'Error');
                }
                this.getServices();
                this.resetForm();
            }).catch(e => {
                console.log(e);
            });
        },
        deleteService()
        {
            axios.delete('/admin/services/' + this.removeService.id).then(response => {
                if (response.data.success) {
                    this.$toastr.s(response.data.msg, 'Success');
                } else {
                    this.$toastr.s(response.data.msg, 'Error');
                }
                this.getServices();
                $('#delete-service-modal').modal('hide');
            }).catch(e => {
                console.log(e);
            });
        },
        getServices()
        {
            axios.get('/admin/get-services').then(response => {
                this.services = response.data.services;
                setTimeout(() => {
                    // $("#example1").DataTable();
                    $('#services-table').DataTable();
                }, 100);
            }).catch(e => {
                console.log(e);
            });
        },
        resetForm() {
	        this.newService = {
		        name: null
            };
            this.editService = {
		        name: null
	        };

	        this.$nextTick(() => {
	        	this.$refs.serviceValidationObserver.reset();
            });
        },
        updateService()
        {
            axios.put('/admin/services/' + this.editService.id, {
                name: this.editService.name
            }).then(response => {
                if (response.data.success) {
                    this.$toastr.s(response.data.msg, 'Success');
                } else {
                    this.$toastr.s(response.data.msg, 'Error');
                }
                this.getServices();
                this.resetForm();
                this.isEdit = false;
            }).catch(e => {
                console.log(e);
            });
        },
        showAddFrom()
        {
            this.isEdit = false;
            this.$refs.serviceValidationObserver.reset();
        },
        showDeleteModal(service)
        {
            this.removeService = service;
            $('#delete-service-modal').modal('show');
        },
        showEditForm(service)
        {
            this.isEdit = true;
            this.editService.id = service.id;
            this.editService.name = service.name;
            this.$refs.serviceValidationObserver.reset();
        }
    },
}
</script>

<style>

</style>