<template>
  <!-- Main content -->
    <section class="content" style="padding-top: 20px;">
        <!-- Modal -->
        <!-- Delete category -->
        <div class="modal fade" id="delete-category-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Delete Category</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <validation-observer v-slot="{ invalid, pristine }" tag="form" class="category-form" @submit.prevent="deleteCategory">
                            <div class="row">
                                <div class="col-12">
                                    <p>Are you sure you want to delete <b>{{ removeCategory.name }}'s</b> category?</p>
                                    <span style="color:red; font-size: 14px;">Note: All foods under on this category will not deleted but there category will change to null.</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group" style="text-align: right;">
                                        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">No</button>
                                        <button :disabled="invalid" type="submit" class="btn btn-sm btn-primary">Yes</button>
                                    </div>
                                </div>
                            </div>
                        <!-- </form> -->
                        </validation-observer>
                    </div>
                </div>
            <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
      <div class="row">
        <div class="col-8">

          <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-12">
                        <h3 class="card-title">Categories</h3>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="categories-table" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="category in categories">
                  <td> {{ category.name }}</td>
                  <td><a href="#" class="btn btn-xs btn-success"  @click.prevent="showEditForm(category)">Edit</a> | <a href="#" class="btn btn-xs btn-danger" @click.prevent="showDeleteModal(category)">Delete</a></td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-4" v-if="!isEdit">
          <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-12">
                        <h3 class="card-title">Add Category</h3>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <validation-observer v-slot="{ invalid, pristine }" tag="form" class="category-form" @submit.prevent="addCategory" ref="categoryValidationObserver">
                    <div class="row">
                        <div class="col-12">
                            <validation-provider name="name" rules="required|min:2|unique:categories" :isInitial="true" v-slot="{ errors }">
                                <input type="name" v-model="newCategory.name" name="name" id="name" placeholder="Enter Name" class="form-control form-control-sm">
                                <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                            </validation-provider>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 text-right">
                            <div class="form-group">
                                <button :disabled="invalid" type="submit" class="btn btn-sm btn-primary">Save</button>
                            </div>
                        </div>
                    </div>
                </validation-observer>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-4" v-else>
          <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-12">
                        <h3 class="card-title">Edit Category</h3>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <validation-observer v-slot="{ invalid, pristine }" tag="form" class="category-form" @submit.prevent="updateCategory" ref="categoryValidationObserver">
                    <div class="row">
                        <div class="col-12">
                            <validation-provider name="name" :rules="'required|min:2|unique:categories,' + editCategory.id" :isInitial="true" v-slot="{ errors }">
                                <input type="name" v-model="editCategory.name" name="name" id="name" placeholder="Enter Name" class="form-control form-control-sm">
                                <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                            </validation-provider>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 text-right">
                            <div class="form-group">
                                <button type="button" @click.prevent="showAddFrom()" class="btn btn-sm btn-danger">Cancel</button>
                                <button :disabled="invalid" type="submit" class="btn btn-sm btn-primary">Update</button>
                            </div>
                        </div>
                    </div>
                </validation-observer>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
</template>

<script>
export default {
    created() {
        this.getCategories();
    },
    data() {
        return {
            isEdit: false,
            editCategory: {
                name: null
            },
            newCategory: {
                name: null
            },
            removeCategory: {
                name: null
            },
            categories: [],
        }
    },
    methods: {
        addCategory()
        {
            axios.post('/admin/categories', {
                name: this.newCategory.name 
            }).then(response => {
                if (response.data.success) {
                    this.$toastr.s(response.data.msg, 'Success');
                } else {
                    this.$toastr.s(response.data.msg, 'Error');
                }
                this.getCategories();
                this.resetForm();
            }).catch(e => {
                console.log(e);
            });
        },
        deleteCategory()
        {
            axios.delete('/admin/categories/' + this.removeCategory.id).then(response => {
                if (response.data.success) {
                    this.$toastr.s(response.data.msg, 'Success');
                } else {
                    this.$toastr.s(response.data.msg, 'Error');
                }
                    this.getCategories();
                $('#delete-category-modal').modal('hide');
            }).catch(e => {
                console.log(e);
            });
        },
        getCategories()
        {
            axios.get('/admin/get-categories').then(response => {
                this.categories = response.data.categories;
                setTimeout(() => {
                    $('#categories-table').DataTable();
                }, 100);
            }).catch(e => {
                console.log(e);
            });
        },
        resetForm() {
	        this.newCategory = {
		        name: null
            };
            this.editCategory = {
		        name: null
	        };

	        this.$nextTick(() => {
	        	this.$refs.categoryValidationObserver.reset();
            });
        },
        updateCategory()
        {
            axios.put('/admin/categories/' + this.editCategory.id, {
                name: this.editCategory.name
            }).then(response => {
                if (response.data.success) {
                    this.$toastr.s(response.data.msg, 'Success');
                } else {
                    this.$toastr.s(response.data.msg, 'Error');
                }
                    this.getCategories();
                    this.resetForm();
            }).catch(e => {
                console.log(e);
            });
        },
        showAddFrom()
        {
            this.isEdit = false;
            this.$refs.categoryValidationObserver.reset();
        },
        showDeleteModal(category)
        {
            this.removeCategory = category;
            $('#delete-category-modal').modal('show');
        },
        showEditForm(category)
        {
            this.isEdit = true;
            this.editCategory.id = category.id;
            this.editCategory.name = category.name;
            this.$refs.categoryValidationObserver.reset();
        }
    },
}
</script>

<style>

</style>