#section-offer {
    padding: 10px !important;
}
.site-cover {
    -webkit-filter: drop-shadow(0px 2px 0px rgba(244, 247, 249, 1));
    filter: drop-shadow(0px 2px 0px rgba(244, 247, 249, 1));
    box-shadow: 0px 15px 18px #888888;
}
.site-section {
    padding: 20px !important;
}
.btn {
    color: #000 !important;
}