$font-serif: 'Playfair Display', serif;
$font-sans-serif: 'Nunito', sans-serif; //'Raleway', sans-serif

$xl: 1140px;
$lg: 960px;
$md: 768px;
$sm: 576px;
$white: #fff;
$black: #000;
$primary: #4e70dd;

html {
	overflow-x: hidden;
}
body {
	font-family: $font-sans-serif !important;
	background: $white;
	font-size: 12px !important;
	line-height: 1.6;
	color: darken(#ccc, 8%);
}
a {
	transition: .3s all ease;
	color: $primary;
	&:hover {
		text-decoration: none;
		color: $primary;
	}
}
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
	line-height: 1.45;
	color: $black;
	font-family: $font-serif !important;
	font-weight: bold;
}

.text-primary {
	color: $primary!important;
}

.site-navbar-light {
	background: transparent!important;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 3;
	@media screen and (max-width: 991px) {
		background: $black!important;
		top: 0;
		position: relative;
	}
	.navbar-nav {
		> .nav-item {
			> .nav-link {
				font-size: 13px;
				text-transform: uppercase;
				letter-spacing: .2em;
				padding-top: 30px;
				padding-bottom: 30px;
				padding-left: 20px;
				padding-right: 20px;
				@media screen and (max-width: $lg) {
					padding-top: 10px;
					padding-bottom: 10px;
					padding-left: 0px;
					padding-right: 0px;
				}
			}
			&.site-cta {
				a {
					color: $white;
				}
			}
			&.site-seperator {
				position: relative;
				margin-left: 20px;
				padding-left: 20px;
				@media screen and (max-width: $lg) {
					padding-left: 0;
					margin-left: 0;
				}
				&:before {
					position: absolute;
					content: "";
					top: 10px;
					bottom: 10px;
					left: 0;
					width: 2px;
					background: rgba($white, .05);
					@media screen and (max-width: $lg) {
						display: none;
					}
				}
			}
		}
	}
	.navbar-toggler {
		border: none;
		color: rgba(255,255,255,.5)!important;
		cursor: pointer;
		padding-right: 0;
		text-transform: uppercase;
		font-size: 16px;
		letter-spacing: .1em;
	}
	
	&.scrolled  {
		position: fixed;
		right: 0;
		left: 0;
		top: 0;
		margin-top: -130px;
		background: $white!important;

		.navbar-nav {
			@media screen and (max-width: $md) {
				background: none;
				border-radius: 0px;
				padding-left: 0rem!important;
				padding-right: 0rem!important;
			}
		}

		.navbar-nav {
			@media screen and (max-width: $sm) {
				background: none;
				padding-left: 0!important;
				padding-right: 0!important;
			}
		}

		.navbar-toggler {
			border: none;
			color: rgba(0,0,0,.5)!important;
			border-color: rgba(0,0,0,.5)!important;
			cursor: pointer;
			padding-right: 0;
			text-transform: uppercase;
			font-size: 16px;
			letter-spacing: .1em;

		}
		.nav-link {
			padding-top: .7rem!important;
			padding-bottom: .7rem!important;
			color: $black!important;
			&.active {
				color: $primary!important;
			}
		}
		&.awake {
			margin-top: 0px;
			transition: .3s all ease-out;
		}
		&.sleep {
			transition: .3s all ease-out;	
		}

		.navbar-brand {
			color: $black;
		}

	}
}

.navbar-brand {
	text-transform: uppercase;
	letter-spacing: .1em;
}

.bg-image {
  background-size: cover;
  background-repeat: no-repeat;
}
.site-cover {
  // background: lighten( $black, 10%);
  @extend .bg-image;
  

  background-position: center center;
 	
	.site-heading {
		font-size: 75px;
		line-height: 1.34;
		color: $white;
		@media screen and (max-width: $md) {
			font-size: 37px;
			line-height: 1.3;
		}
	}
	.site-subheading, p {
		color: rgba(255,255,255,.7);
		font-weight: 300;
		font-family: $font-sans-serif !important;
	}
  .btn {
		@media screen and (max-width: $md) {
			width: 100%!important;
			border: 1px solid red;
		}
	}
	a {
		position: relative;
		color: $white;
		&:before {
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background: $primary;
			height: 2px;
			content: " ";
		}
	}
	&.overlay {
		position: relative;
		&:before {
			content: "";
			background: rgba($black,.6);
			position: absolute;
			top: 0; 
			left: 0;
			bottom: 0;
			right: 0;
		}
	}
	.site-vh-100 {
		min-height: 700px!important;
	}
}
.site-slant {
	position: relative;
	overflow: hidden;

	&:after {
		width: 120%;
		height: 200px;
		left: -10%;
		background: lighten($black, 95%);
		transform: rotate(-5deg);
		content: "";
		position: absolute;
		bottom: -100px;	
		@media screen and (max-width: $lg) {
			bottom: -150px;
		}
		@media screen and (max-width: $md) {
			bottom: -170px;
		}
	}	
	&.site-slant-white {
		&:after {
			background: $white;	
		}
	}
	&.site-slant-dark {
		&:after {
			background: darken(#2A363B, 2%);
		}
	}
}
.site-uppercase {
	font-size: 30px;
}
.menu-item {
	margin-bottom: 30px;
	img {
		width: 100px;
		height: 100px;
		border-radius: 50%;
	}
	.menu-price {
		font-family: $font-serif !important;
		font-size: 24px;
	}
}

.display-4 {
	@media screen and (max-width: $md) {
		font-size: 37px;
	}
}
.text-black {
	color :$black!important;
}
.bg-light {
	background: #darken(fafafa, 4%)!important;
}

.site-custom-gutters {
	margin-left: -10px;
	margin-right: -10px;
	[class*=col-] {
		padding-left: 5px;
		padding-right: 5px;
		margin-bottom: 5px;
		.site-thumbnail {
			display: block;
			margin-bottom: 5px;
		}
	}
}

.btn {
	border-radius: 4px;
	cursor: pointer;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 16px;
	font-family: $font-serif !important;
	&.btn-lg {
		font-size: 16px!important;
		padding: 13px 40px!important;
	}
	&.btn-sm {
		// padding: 10px 20px;
		font-size: 12px;
	}
	&.btn-primary {
		border-radius: 0px;
	}
	&.btn-success {
		border-radius: 0px;
	}&.btn-danger {
		border-radius: 0px;
	}
	&.btn-info {
		border-radius: 0px;
	}
	&.btn-outline-primary {
		border-radius: 0px;
	}
	&.btn-outline-success {
		border-radius: 0px;
	}&.btn-outline-danger {
		border-radius: 0px;
	}
	&.btn-outline-info {
		border-radius: 0px;
	}
	&.btn-secondary {
		border: 2px solid #ccc;
		background: none;
		border-radius: 0px;
		
		color: darken(#ccc, 20%);
		&:hover {
			background: $primary;
			border-color: $primary;
			color: $white;
		}
	}
	&:before {
		display: none;
	}
	&:hover, &:active, &:focus {
		outline: none;
		box-shadow: none;
	}
	&.btn-primary {
		background: $primary;
		border-color: $primary;
		color: $white;
		&:hover, &:focus, &:active {
			border-color: darken($primary, 10%);
			background: darken($primary, 10%);
		}
	}
	&.btn-outline-white {
		border-color: rgba($white, .8);
		background: none;
		border-radius: 0px;
		border-width: 2px;
		&:hover, &:focus, &:active {
			background: $white;
			border-color: $white;
			color: $black;
		}
	}
}
.form-control {
	// border: 2px solid rgba($black, .2);
	border: none;
	// height: 55px !important;
	// background: lighten($black, 90%)!important;
	color: $black!important;
	font-size: 18px;
	border-radius: 0px;
	&:focus, &:active {
		// border: 2px solid $black;
	}
}
textarea.form-control {
	height: inherit!important;
}
.site-vh-100 {
  height: 100vh;
  @media screen and (max-width: $lg) {
  	height: inherit;
  	padding-top: 5em;
  	padding-bottom: 5em;
  }
}
.site-vh-75 {
  height: 75vh;
  @media screen and (max-width: $lg) {
  	height: inherit;
  	padding-top: 5em;
  	padding-bottom: 5em;
  }
}
.site-vh-50 {
	height: 50vh;
	@media screen and (max-width: $lg) {
		height: inherit;
		padding-top: 5em;
		padding-bottom: 5em;
	}
  }


.site-tab-nav {
	padding: 0;
	margin: 0;
	display: inline-block!important;
	@media screen and (max-width: $sm) {
		display: block!important;
		margin-bottom: 10px;
		width: 100%!important;
	}
	li {
		padding: 0;
		margin: 0 5px;
		display: inline-block!important;
		@media screen and (max-width: $sm) {
			display: block!important;
			margin-bottom: 10px;
			width: 100%!important;
		}
		a {
			text-transform: uppercase;
			font-size: 14px;
			letter-spacing: .2em;
			color: #ccc;
			border: 2px solid #ccc;
			border-radius: 0!important;
			&.active {
				background: none!important;
				color: darken(#ccc, 100%)!important;
				border: 2px solid $black;
			}
		}
		
	}
}

.site-animate {
	opacity: 0;
	visibility: hidden;
}

.bg-primary {
	background: $primary!important;
}
.site-section {
	.site-sub-title {
		font-size: 16px;
		text-transform: uppercase;
		letter-spacing: .5em;
		color: lighten(#ccc, 3%);
		font-family: $font-sans-serif !important;
		font-weight: 300;
	}
	.site-primary-title {
		margin-top: 0;
		margin-bottom: 30px;
	}
}
#section-about {
	padding: 8em 0;
	.img {
		position: relative; 
		right: 0;
		@media screen and (max-width: $md) {
			position: relative;
			right: inherit;
			img {
				max-width: 100%;
			}
		}
	}
}
#section-offer {
	padding: 12em 0;
}

.site-section {
	padding: 7em 0;
}

.site-bg-dark {
	background: #222;
}

.site-footer {
	font-size: 16px;
	.site-footer-logo {
		text-transform: uppercase;
		letter-spacing: .1em;
	}
	.site-footer-widget {
		h2 {
			font-weight: normal;
		}
	}
	p {
		color: rgba($white, .3);
	}
	a {
		color: rgba($white, .3);
		&:hover {
			color: $primary;
		}
	}
	.site-heading {
		font-size: 24px;
	}
	.site-heading-2 {
		font-size: 14px;
		font-weight: bold;
		letter-spacing: .05em;
		text-transform: uppercase;
		color: rgba(255,255,255,.6);
	}
}

.site-pricing-popular {
	position: relative;
	.popular-text {
		text-transform: uppercase;
		font-size: 14px;
		margin-top: -16px;
		right: 0;
		background: $primary;
		color: $white;
		padding: 2px 10px;
		position: absolute;
		transform: rotate(90deg);
		letter-spacing: .1em;
	}
}
.site-pricing {
	h2 {
		font-size: 17px;
		text-transform: uppercase;
	}
	.site-price-per {
		font-size: 70px;
		sup {
			font-size: 20px;
			top: -1.5em;
		}
		strong {
			color: $black;
		}
		span {
			font-size: 20px;
		}
	}
	ul {

		li {
			margin-bottom: 10px;
		}
	}
}


.site-footer-social {
	li {
		list-style: none;
		margin: 0 10px 10px 0;
		display: inline-block;
		a {
			height: 60px;
			width: 60px;
			display: block;
			float: left;
			background: rgba($white, .05);
			border-radius: 50%;
			position: relative;
			span {
				position: absolute;
				font-size: 26px;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			&:hover {
				color: $white;
			}
		}
	}
}
.footer-small-nav {
	> li {
		display: inline-block;
		a {
			margin: 0 10px 10px 0;
			&:hover, &:focus {
				color: $primary;
			}
		}
	}
}
.media {
	.site-icon {
		width: 100px;
		span {
			color: $primary;
		}
	}
}
.site-media {
	background: $white;
	border-radius: 0px;
	&.text-center {
		.site-icon {
			margin: 0 auto;
		}
	}
}
.site-overflow-hidden {
	overflow: hidden;
}

.padding-top-bottom {
	padding-top: 120px;
	padding-bottom: 120px;
}


// owl
.site-owl {
	position: relative;
	z-index: 1;
	.owl-dots, .owl-nav {

	}
	.owl-nav {
		position: absolute;
		top: 50%;
		// margin-top: -25px;
		margin-top: -50px;
		z-index: 10;
		left: 0;
		right: 0;
		opacity: 0;
		visibility: hidden;
		transition: .3s all ease;
		.owl-prev, 
		.owl-next {
			position: absolute;
			font-size: 30px;
			background: $primary;
			color: $white;
			padding: 10px;
			line-height: 0;
		}
		.owl-prev {
			left: 0;
		}
		.owl-next {
			right: 0;
		}
	}
	.owl-dots {
		position: relative;
		text-align: center;
		margin-top: 30px;
		.owl-dot {
			display:inline-block;
			zoom:1;
			span {
				width: 10px;
				height: 10px;
				background: #ccc;
				border-radius: 50%;
				display: inline-block;
				margin: 5px 7px;
			}
			&.active {
				span {
					background: $primary;
				}
			}
		}
	}
	&:hover {
		.owl-nav {
			visibility: visible;
			opacity: 1;
		}
	}
}

// Map

#map {
	height: 400px;
	width: 100%;
	@media screen and (max-width: $md) {
		height: 300px;
	}
}

// Modal

#reservationModal {
	.close {
		position: absolute;
		right: 30px;
		top: 10px;
		cursor: pointer;
		&:active, &:focus {
			outline: none!important;
		}
		
		span {
			font-size: 30px;	
		}
		small {
			font-size: 16px;
			position: relative;
			top: -2px;
			right: 10px;
		}
	}
	.modal-content {
		@media screen and (max-width: $sm) {
			padding-right: 0px !important;
			padding-left: 0px !important;
			overflow: hidden;
		}
		@media screen and (max-width: $lg) {
			padding-right: 100px !important;
			padding-left: 100px !important;
			overflow: hidden;
		}
		border-radius: 0;
		label {
			color: $black;
		}
		.modal-body {
			padding: 0;
		}
		.bg-image {
			height: 200px;
			background-size: cover;
			background-position: center center;
			background-repeat: no-repeat;
			padding-right: 0!important;
			padding-left: 0!important;
			@media screen and (max-width: $lg) {
				height: 200px;
				padding-right: 0!important;
				padding-left: 0!important;
				margin-left: 15px;
				margin-right: 15px;
				overflow: hidden;
			}
		}
	}
}

// magnific pop up

.image-popup {
	cursor: -webkit-zoom-in;
	cursor: -moz-zoom-in;
	cursor: zoom-in;
}
.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
  opacity: 0;
  -webkit-backface-visibility: hidden;
  -webkit-transition: all 0.3s ease-out; 
  -moz-transition: all 0.3s ease-out; 
  -o-transition: all 0.3s ease-out; 
  transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
  opacity: 0;
}



.site-counter {
	.site-number {
		display: block;
		font-size: 72px;
		font-weight: bold;
		color: $primary;
	}
	.site-label {
		font-size: 12px;
		text-transform: uppercase;
		letter-spacing: .1em;
		color: darken(#ccc, 10%);
	}
}

#site-loader {
	position: fixed;
	width:  96px;
	height: 96px;
	left:  50%;
	top: 50%;
	transform: translate(-50%, -50%);
	background-color: rgba(255,255,255,0.9);
	box-shadow: 0px 24px 64px rgba(0,0,0,0.24);
	border-radius:16px;
	opacity: 0; 
	visibility: hidden;
	transition: opacity .2s ease-out, visibility 0s linear .2s;
	z-index:1000;
}

#site-loader.fullscreen {
	padding:  0;
	left:  0;
	top:  0;
	width:  100%;
	height: 100%;
	transform: none;
	background-color: #fff;
	border-radius: 0;
	box-shadow: none;
}

#site-loader.show {
	transition: opacity .4s ease-out, visibility 0s linear 0s;
	visibility: visible;
	opacity: 1;
}

#site-loader .circular {
  animation: loader-rotate 2s linear infinite;
  position: absolute;
  left:  calc(50% - 24px);
  top:  calc(50% - 24px);
  display: block;
  transform: rotate(0deg);
}

#site-loader .path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  animation: loader-dash 1.5s ease-in-out infinite;
  stroke-linecap: round;
}

@keyframes loader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -136px;
  }
}

// login
.btn-shadow {
	box-shadow: 1px 5px 18px 0.5px #888888;
	height: 40px !important;
}
.form-dark input[type="checkbox"] + label:before {
    content: '';
    position: absolute;
    top: 0;
    left:18px;
    width: 17px;
    height: 17px;
	z-index: 0;
    border: 1.5px solid #000;
    border-radius: 1px;
    margin-top: 2px;
    -webkit-transition: 0.2s;
    transition: 0.2s; }
  
  .form-dark input[type="checkbox"]:checked + label:before {
    top: -4px;
    left: 13px;
    width: 12px;
    height: 22px;
    border-style: solid;
    border-width: 2px;
    border-color: transparent #00c851 #00c851 transparent;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    -ms-transform-origin: 100% 100%;
	transform-origin: 100% 100%; }
// Register