<template>
    <!-- Main content -->
    <section class="content" style="padding-top: 20px;">
        <!-- Modal -->
        <!-- Delete category -->
        <div class="modal fade" id="delete-material-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Delete Material</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <validation-observer v-slot="{ invalid, pristine }" tag="form" class="material-form" @submit.prevent="deleteMaterial">
                            <div class="row">
                                <div class="col-12">
                                    <p>Are you sure you want to delete <b>{{ removeMaterial.name }}'s</b> material?</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group" style="text-align: right;">
                                        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">No</button>
                                        <button :disabled="invalid" type="submit" class="btn btn-sm btn-primary">Yes</button>
                                    </div>
                                </div>
                            </div>
                        <!-- </form> -->
                        </validation-observer>
                    </div>
                </div>
            <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
      <div class="row">
        <div class="col-8">

          <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-12">
                        <h3 class="card-title">Materials</h3>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="materials-table" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Unit</th>
                  <th>Price</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="material in materials">
                  <td> {{ material.name }}</td>
                  <td> {{ material.unit }}</td>
                  <td> {{ material.price }}</td>
                  <td><a href="#" class="btn btn-xs btn-success"  @click.prevent="showEditForm(material)">Edit</a> | <a href="#" class="btn btn-xs btn-danger" @click.prevent="showDeleteModal(material)">Delete</a></td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-4" v-if="!isEdit">
          <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-12">
                        <h3 class="card-title">Add Material</h3>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <validation-observer v-slot="{ invalid, pristine }" tag="form" class="material-form" @submit.prevent="addMaterial" ref="materialValidationObserver">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <validation-provider name="name" rules="required|min:2|unique:materials" :isInitial="true" v-slot="{ errors }">
                                    <input type="name" v-model="newMaterial.name" name="name" id="name" placeholder="Enter Name" class="form-control form-control-sm">
                                    <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                </validation-provider>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <validation-provider name="unit" rules="required" :isInitial="true" v-slot="{ errors }">
                                    <v-select v-model="newMaterial.unit" placeholder="Select Unit" :options="units" label="name" :reduce="unit => unit.value"></v-select>
                                   <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                </validation-provider>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <validation-provider name="price" rules="required|decimal" :isInitial="true" v-slot="{ errors }">
                                    <input type="text" v-model="newMaterial.price" name="price" id="price" placeholder="Enter Price" class="form-control form-control-sm">
                                    <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                </validation-provider>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 text-right">
                            <div class="form-group">
                                <button :disabled="invalid" type="submit" class="btn btn-sm btn-primary">Save</button>
                            </div>
                        </div>
                    </div>
                </validation-observer>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-4" v-else>
          <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-12">
                        <h3 class="card-title">Edit Material</h3>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <validation-observer v-slot="{ invalid, pristine }" tag="form" class="material-form" @submit.prevent="updateMaterial" ref="materialValidationObserver">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <validation-provider name="name" :rules="'required|min:2|unique:materials,' + editMaterial.id" :isInitial="true" v-slot="{ errors }">
                                    <input type="name" v-model="editMaterial.name" name="name" id="name" placeholder="Enter Name" class="form-control form-control-sm">
                                    <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                </validation-provider>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <validation-provider name="unit" rules="required" :isInitial="true" v-slot="{ errors }">
                                    <v-select v-model="editMaterial.unit" placeholder="Select Unit" :options="units" label="name" :reduce="unit => unit.value"></v-select>
                                   <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                </validation-provider>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <validation-provider name="price" rules="required|decimal" :isInitial="true" v-slot="{ errors }">
                                    <input type="text" v-model="editMaterial.price" name="price" id="price" placeholder="Enter Price" class="form-control form-control-sm">
                                    <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                </validation-provider>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 text-right">
                            <div class="form-group">
                                <button type="button" @click.prevent="showAddFrom()" class="btn btn-sm btn-danger">Cancel</button>
                                <button :disabled="invalid" type="submit" class="btn btn-sm btn-primary">Update</button>
                            </div>
                        </div>
                    </div>
                </validation-observer>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
</template>

<script>
export default {
    created() {
        this.getMaterials()
    },
    data() {
        return {
            units: [
                {
                    value: "each",
                    name: 'Each(s)'
                },
                {
                    value: "piece",
                    name: 'Piece(s)'
                },
                {
                    value: "set",
                    name: 'Set(s)'
                },
                {
                    value: "tray",
                    name: 'Tray(s)'
                },
                {
                    value: "crate",
                    name: 'Crate(s)'
                }
            ],
            isEdit: false,
            materials: [],
            editMaterial: {
                name: null,
            },
            newMaterial: {
                name: null,
            },
            removeMaterial: {
                name: null,
            }
        }
    },
    methods: {
        addMaterial()
        {
            axios.post('/admin/materials', {
                name: this.newMaterial.name,
                unit: this.newMaterial.unit,
                price: this.newMaterial.price
            }).then(response => {
                if (response.data.success) {
                    this.$toastr.s(response.data.msg, 'Success');
                    this.resetForm();
                } else {
                    this.$toastr.e(response.data.msg, 'Error');
                }
                this.getMaterials();
            }).catch(e => {
                console.log(e);
            });
        },
        deleteMaterial()
        {
            axios.delete('/admin/materials/' + this.removeMaterial.id).then(response => {
                if (response.data.success) {
                    this.$toastr.s(response.data.msg, 'Success');
                } else {
                    this.$toastr.e(response.data.msg, 'Error');
                }
                this.getMaterials();
                $('#delete-material-modal').modal('hide');
            }).catch(e => {
                console.log(e);
            });
        },
        getMaterials()
        {
            axios.get('/admin/get-materials').then(response => {
                this.materials = response.data.materials;
                setTimeout(() => {
                    $('#materials-table').DataTable();
                }, 100);
            }).catch(e => {
                console.log(e);
            });
        },
        resetForm() {
	        this.newMaterial = {
		        name: null
            };

	        this.$nextTick(() => {
	        	this.$refs.materialValidationObserver.reset();
            });
        },
        updateMaterial()
        {
            axios.put('/admin/materials/' + this.editMaterial.id, {
                    name: this.editMaterial.name,
                    unit: this.editMaterial.unit,
                    price: this.editMaterial.price,
            }).then(response => {
                if (response.data.success) {
                    this.$toastr.s(response.data.msg, 'Success');
                    this.resetForm();
                } else {
                    this.$toastr.s(response.data.msg, 'Error');
                }
                this.isEdit = false;
                this.getMaterials();
            }).catch(e => {
                console.log(e);
            });
        },
        showAddFrom()
        {
            this.isEdit = false;
	        this.$refs.materialValidationObserver.reset();
        },
        showDeleteModal(material)
        {
            this.removeMaterial = material;
            $('#delete-material-modal').modal('show');
        },
        showEditForm(material)
        {
            this.isEdit = true;
            this.editMaterial.id = material.id;
            this.editMaterial.name = material.name;
            this.editMaterial.unit = material.unit;
            this.editMaterial.price = material.price;
        },
        showShowModal()
        {

        }
    },
}
</script>

<style>

</style>