<template>
  <!-- Main content -->
    <section class="content" style="padding-top: 20px;">
        <!-- Modal -->
        <!-- Delete category -->
        <div class="modal fade" id="delete-category-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Delete Category</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <validation-observer v-slot="{ invalid, pristine }" tag="form" class="category-form" @submit.prevent="deleteCategory">
                            <div class="row">
                                <div class="col-12">
                                    <p>Are you sure you want to delete <b>{{ removeProvince.name }}'s</b> ?</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group" style="text-align: right;">
                                        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">No</button>
                                        <button :disabled="invalid" type="submit" class="btn btn-sm btn-primary">Yes</button>
                                    </div>
                                </div>
                            </div>
                        <!-- </form> -->
                        </validation-observer>
                    </div>
                </div>
            <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
      <div class="row">
        <div class="col-8">

          <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-12">
                        <h3 class="card-title">Provinces & Municipalities</h3>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="provinces-table" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Type</th>
                  <th>Price</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="category in provinces">
                  <td> {{ category.name }}</td>
                  <td> {{ category.type }}</td>
                  <td> {{ category.price }}</td>
                  <td><a href="#" class="btn btn-xs btn-success"  @click.prevent="showEditForm(category)">Edit</a> | <a href="#" class="btn btn-xs btn-danger" @click.prevent="showDeleteModal(category)">Delete</a></td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-4" v-if="!isEdit">
          <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-12">
                        <h3 class="card-title">Add Province / Municipality</h3>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <validation-observer v-slot="{ invalid, pristine }" tag="form" class="province-form" @submit.prevent="addProvince" ref="provinceValidationObserver">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <validation-provider name="name" rules="required|min:2|unique:provinces" :isInitial="true" v-slot="{ errors }">
                                    <input type="name" v-model="name" name="name" id="name" placeholder="Enter Name" class="form-control form-control-sm">
                                    <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                </validation-provider>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <validation-provider name="type" rules="required" :isInitial="true" v-slot="{ errors }">
                                    <select name="type" id="type" v-model="type" class="form-control form-control-sm">
                                        <option value="null" disabled>Select Type</option>
                                        <option value="province">Province</option>
                                        <option value="municipality">Municipality</option>
                                        <option value="barangay">Barangay</option>
                                    </select>
                                    <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                </validation-provider>
                            </div>
                        </div>
                        <div class="col-12" v-if="type == 'municipality'">
                            <div class="form-group">
                                <validation-provider name="province" rules="required" :isInitial="true" v-slot="{ errors }">
                                    <v-select v-model="province" name="province" :options="ps" placeholder="Select Province" label="name" :reduce="p => p.id"></v-select>
                                    <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                </validation-provider>
                            </div>
                        </div>
                        <div class="col-12" v-if="type == 'barangay'">
                            <div class="form-group">
                                <validation-provider name="municipality" rules="required" :isInitial="true" v-slot="{ errors }">
                                    <v-select v-model="province" name="municipality" :options="ms" placeholder="Select Municipality" label="name" :reduce="m => m.id"></v-select>
                                    <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                </validation-provider>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                            <validation-provider name="price" rules="required" :isInitial="true" v-slot="{ errors }">
                                <input type="text" v-on:keypress="isNumberKey($event)" v-model="price" name="price" id="price" placeholder="Enter price" class="form-control form-control-sm">
                                <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                            </validation-provider>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 text-right">
                            <div class="form-group">
                                <button :disabled="invalid" type="submit" class="btn btn-sm btn-primary">Save</button>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Upload barangays</label>
                                <input type="file" name="file" id="file" @change="onFileChange" ref="file">
                            </div>
                            
                            <button class="btn btn-sm btn-primary" :disabled="isUpload" @click.prevent="uploadBarangays()">
                                <span v-if="isUpload">Loading...</span>
                                <span v-else>Download data to database</span>
                            </button>
                        </div>
                    </div>
                </validation-observer>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-4" v-else>
          <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-12">
                        <h3 class="card-title">Edit Province / Municipality</h3>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <validation-observer v-slot="{ invalid, pristine }" tag="form" class="category-form" @submit.prevent="updateCategory" ref="provinceValidationObserver">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <validation-provider name="name" :rules="'required|min:2|unique:provinces,' + editProvince.id" :isInitial="true" v-slot="{ errors }">
                                    <input type="name" v-model="editProvince.name" name="name" id="name" placeholder="Enter Name" class="form-control form-control-sm">
                                    <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                </validation-provider>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <validation-provider name="type" rules="required" :isInitial="true" v-slot="{ errors }">
                                    <select name="type" id="type" v-model="editProvince.type" class="form-control form-control-sm">
                                        <option value="null" disabled>Select Type</option>
                                        <option value="province">Province</option>
                                        <option value="municipality">Municipality</option>
                                    </select>
                                    <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                </validation-provider>
                            </div>
                        </div>
                        <div class="col-12" v-if="editProvince.type == 'municipality'">
                            <div class="form-group">
                                <validation-provider name="province" rules="required" :isInitial="true" v-slot="{ errors }">
                                    <v-select v-model="editProvince.province" name="province" :options="ps" placeholder="Select Province" label="name" :reduce="p => p.id"></v-select>
                                    <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                </validation-provider>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                            <validation-provider name="price" rules="required" :isInitial="true" v-slot="{ errors }">
                                <input type="text" v-on:keypress="isNumberKey($event)" v-model="editProvince.price" name="price" id="price" placeholder="Enter price" class="form-control form-control-sm">
                                <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                            </validation-provider>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 text-right">
                            <div class="form-group">
                                <button type="button" @click.prevent="showAddFrom()" class="btn btn-sm btn-danger">Cancel</button>
                                <button :disabled="invalid" type="submit" class="btn btn-sm btn-primary">Update</button>
                            </div>
                        </div>
                    </div>
                </validation-observer>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
</template>

<script>
export default {
    created() {
        this.getProvinces();
    },
    data() {
        return {
            editProvince: {
                name: null,
                price: null,
                type: null,
                province: null,
            },
            removeProvince: {
                name: null,
            },
            isEdit: false,
            name: null,
            price: 0,
            type: null,
            province: null,
            provinces: [],
            ps: [],
            ms: [],
            isUpload: false,
            file: null,
        }
    },
    methods: {
        onFileChange(e) {
            this.file = e.target.files[0];
        },
        uploadBarangays()
        {
            this.isUpload = true;

            let formData = new FormData();
            formData.append('file', this.file);

            axios.post('/admin/upload-excel', formData).then(response => {
                if (response.data.success) {
                    this.$toastr.s(response.data.msg, 'Success');
                } else {
                    this.$toastr.e(response.data.msg, 'Error');
                }
                this.getProvinces();
                this.isUpload = false;
            });

        },
        addProvince()
        {
            axios.post('/admin/provinces', {
                name: this.name,
                type: this.type,
                price: this.price,
                province_id: this.province
            }).then(response => {
                if (response.data.success) {
                    this.$toastr.s(response.data.msg, 'Success');
                } else {
                    this.$toastr.s(response.data.msg, 'Error');
                }
                this.getProvinces();
                this.resetForm();
            }).catch(e => {
                console.log(e);
            });
        },
        deleteCategory()
        {
            axios.delete('/admin/provinces/' + this.removeProvince.id).then(response => {
                if (response.data.success) {
                    this.$toastr.s(response.data.msg, 'Success');
                } else {
                    this.$toastr.s(response.data.msg, 'Error');
                }
                    this.getProvinces();
                $('#delete-category-modal').modal('hide');
            }).catch(e => {
                console.log(e);
            });
        },
        isNumberKey(evt)
        {
            let keyCode = (evt.keyCode ? evt.keyCode : evt.which);
            if ((keyCode < 48 || keyCode > 57) && (keyCode !== 46 || this.amount.indexOf('.') != -1)) { // 46 is dot
                evt.preventDefault();
            }
            // if(this.amount!=null && this.amount.indexOf(".")>-1 && (this.amount.split('.')[1].length > 1)){
            //     evt.preventDefault();
            // }
        },
        getProvinces()
        {
            this.ps = [];
            axios.get('/admin/get-provinces-municipalities').then(response => {
                this.provinces = response.data.provinces;
                this.provinces.forEach(p => {
                    if (p.type == 'province') {
                        this.ps.push(p);
                    }
                    if (p.type == 'municipality') {
                        this.ms.push(p);
                    }
                });
                setTimeout(() => {
                    $('#provinces-table').DataTable();
                }, 100);
            }).catch(e => {
                console.log(e);
            });
        },
        resetForm() {
            this.name = null,
            this.price = null,
            this.type = null,
            this.province = null,
            this.editProvince = {
		        name: null
	        };

	        this.$nextTick(() => {
	        	this.$refs.provinceValidationObserver.reset();
            });
        },
        updateCategory()
        {
            axios.put('/admin/provinces/' + this.editProvince.id, {
                name: this.editProvince.name,
                type: this.editProvince.type,
                price: this.editProvince.price,
                province_id: this.editProvince.province
            }).then(response => {
                if (response.data.success) {
                    this.$toastr.s(response.data.msg, 'Success');
                } else {
                    this.$toastr.s(response.data.msg, 'Error');
                }
                    this.getProvinces();
                    this.resetForm();
                    this.isEdit = false;
            }).catch(e => {
                console.log(e);
            });
        },
        showAddFrom()
        {
            this.isEdit = false;
            this.$refs.provinceValidationObserver.reset();
        },
        showDeleteModal(category)
        {
            this.removeProvince = category;
            $('#delete-category-modal').modal('show');
        },
        showEditForm(category)
        {
            this.isEdit = true;
            this.editProvince.id = category.id;
            this.editProvince.name = category.name;
            this.editProvince.type = category.type;
            this.editProvince.price = category.price;
            this.editProvince.province = category.province_id;
            this.$refs.provinceValidationObserver.reset();
        }
    },
}
</script>

<style>

</style>