<template>
    <section class="site-section" id="section-about">
        <div class="container">
            <div class="row">
                <div class="col-md-5 site-animate mb-5">
                    <h4 class="site-sub-title">Our Story</h4>
                    <h2 class="site-primary-title display-4">Welcome</h2>
                    <p>Banana Drive Catering Services is one of the best caterer in Bohol that offers different types of catering packages for all occasions and events.</p>

                    <p class="mb-4">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                    <!-- <p><a href="#" class="btn btn-secondary btn-lg">Learn More About Us</a></p> -->
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-6 site-animate img" data-animate-effect="fadeInRight">
                    <img src="/assets/img/about-us.png" alt="Free Template by colorlib.com" class="img-fluid">
                </div>
            </div>
        </div>
    </section>
    <!-- END section -->
</template>

<script>
export default {

}
</script>

<style>

</style>