<template>
    <section class="site-section bg-light" id="section-contact">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center mb-5 site-animate">
                    <h2 class="display-4">Get In Touch</h2>
                    <div class="row justify-content-center">
                        <div class="col-md-7">
                            <!-- <p class="lead">Banana Drive Catering Services is one of the best caterer in Bohol that offers different types of catering packages for all occasions and events.</p> -->
                        </div>
                    </div>
                </div>

                <div class="col-md-7 mb-5 site-animate">
                    <!-- <form action="" method="post"> -->
                    <validation-observer v-slot="{ invalid, pristine }" tag="form" class="user-form" @submit.prevent="addMessage" ref="addMessageValidationObserver">
                    <!-- <form v-submit.prevent="addUser()" method="post"> -->
                        <div class="form-groups">
                            <validation-provider name="name" rules="required|min:4" :isInitial="true" v-slot="{ errors }">
                                <label for="name" class="sr-only">Name <span style="color:red;">*</span></label><br>
                                <input type="text" v-model="newMessage.name" placeholder="Name" class="form-control" name="name">
                                <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                            </validation-provider>
                        </div>
                        <div class="form-group">
                            <validation-provider name="email" rules="required|min:4" :isInitial="true" v-slot="{ errors }">
                                <label for="email" class="sr-only">Email <span style="color:red;">*</span></label><br>
                                <input type="email" v-model="newMessage.email" placeholder="Email" class="form-control" name="email">
                                <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                            </validation-provider>
                        </div>
                        <div class="form-group">
                            <validation-provider name="message" rules="required|min:5" :isInitial="true" v-slot="{ errors }">
                                <label for="message" class="sr-only">Message <span style="color:red;">*</span></label>
                                <textarea name="message" placeholder="Write your message" v-model="newMessage.message" class="form-control" id="description" cols="40" rows="10"></textarea>
                                <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                            </validation-provider>
                        </div>
                        <div class="form-group">
                            <input type="submit" :disabled="invalid" class="btn btn-primary btn-lg" value="Send Message">
                        </div>
                    </validation-observer>
                    <!-- </form> -->
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-4 site-animate">
                    <p><img src="/assets/img/contact.jpg" alt="" class="img-fluid"></p>
                    <p class="text-black">
                        Address: <br> M Lumain St, Corella, Bohol <br> 6300 Philippines <br> <br>
                        Phone: <br> 0961 230 7637 <br> <br>
                        Email: <br> <a href="mailto:bananadrive_catering@yahoo.com">bananadrive_catering@yahoo.com</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- END section -->
</template>

<script>
export default {
    data() {
        return {
            newMessage: {
                name: null,
            }
        }
    },
    methods: {
        addMessage()
        {
            axios.post('/contact-us', {
                name: this.newMessage.name,
                email: this.newMessage.email,
                message: this.newMessage.message
            }).then(response => {
                if (response.data.success) {
                    this.$toastr.s(response.data.msg, 'Success');
                    this.resetForm();
                } else {
                    this.$toastr.e(response.data.msg, 'Error');
                }
            }).catch(e =>{
                console.log(e);
            });
        },
        resetForm() {
	        this.newMessage = {
                name: null
            },

	        this.$nextTick(() => {
	        	this.$refs.addMessageValidationObserver.reset();
            });
        },
    },
}
</script>

<style>

</style>