<template>
    <section class="site-section" id="section-menu">
      <div class="containers pl-4 pr-4" id="section-menus">
        <div class="row">
          <div class="col-md-12 text-center mb-2">
            <h2 class="display-4">Delicious Menu</h2>
            <!-- <div class="row justify-content-center">
              <div class="col-md-7">
                <p class="lead">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
              </div>
            </div> -->
          </div>

          <div class="col-md-12 text-center">

            <ul class="nav site-tab-nav nav-pills mb-5" id="pills-tab" role="tablist" style="font-size: 100px;" v-if="loadingCategory">
                <li class="nav-item ">
                    <i class="fas fa-spinner fa-spin"></i>
                </li>
            </ul>
            <ul class="nav site-tab-nav nav-pills mb-5" id="pills-tab" role="tablist" v-if="categories.length != 0 && !loadingCategory">
              <li class="nav-item mb-2" v-for="category in categories">
                <a class="nav-link" v-bind:class="{active: category.active}" id="pills-breakfast-tab" @click.prevent="getFoods(category.id)" data-toggle="pill" href="#pills-breakfast" role="tab" aria-controls="pills-breakfast" aria-selected="true">{{ category.name }}</a>
              </li>
            </ul>
            <div>
            <ul class="nav site-tab-nav nav-pills mb-5" id="pills-tab" role="tablist" style="font-size: 20px;" v-if="foods.length == 0 && !loadingFood">
                <li class="nav-item ">
                    - NO DATA AVAILABLE -
                </li>
            </ul>
            <ul class="nav site-tab-nav nav-pills mb-5" id="pills-tab" role="tablist" style="font-size: 50px;" v-if="loadingFood">
                <li class="nav-item ">
                    <i class="fas fa-spinner fa-spin"></i>
                </li>
            </ul>
            </div>
            <div class="tab-content text-left" v-if="foods.length != 0 && !loadingFood">
              <div class="tab-pane fade show active" id="pills-breakfast" role="tabpanel" aria-labelledby="pills-breakfast-tab">
                <div class="row">
                  <div class="col-md-3" v-for="food in foods">

                    <div class="media menu-item">
                      <img class="mr-3 img-fluid" :src="food.photo != null ? '/storage/foods/' + food.photo : '/images/menu_1.jpg'" alt="Free Template by colorlib.com">
                      <div class="media-body">
                        <h5 class="mt-0">{{ food.name }}</h5>
                        <p>{{ food.description }}</p>
                        <!-- <h6 class="text-primary menu-price">P35.50</h6> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- <div class="footer">
        <div class="p-2">
          <div class="text-center">
            <a href="/menu" class="btn btn-secondary">Show More</a>
          </div>
        </div>
      </div> -->
    </section>
    <!-- END section -->
</template>

<script>
export default {
    created() {
        this.getCategories();
    },
    data() {
        return {
            categories: [],
            foods: [],
            selectedId: null,

            loadingCategory: false,
            loadingFood: false,
        }
    },
    methods: {
        getCategories()
        {
            this.loadingCategory = true;
            axios.get('/get-categories').then(response => {
                this.categories = response.data.categories;
                this.loadingCategory = false;
                this.categories[0].active = true;
                this.getFoods(this.categories[0].id);
            }).catch(e => {
                console.log(e);
            });

            // this.getFoods(this.categories[0].id);
        },
        getFoods(id)
        {
            axios.get('/get-foods', {
                params: {
                    id: id
                }
            }).then(response => {
                this.foods = response.data.foods;
            });
        }
    },
}
</script>

<style>
  #section-menus {
    /* height: 580px; */
    overflow: hidden;
  }
</style>