<template>
    <div class="modal fade" id="add-user-details">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add User Details</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <validation-observer v-slot="{ invalid, pristine }" tag="form" class="user-form" @submit.prevent="addUser">
                    <!-- <form v-submit.prevent="addUser()" method="post"> -->
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="choice">Select User</label> <span style="font-size: 13px; color:blue;">(if exist)</span>
                                    <v-select v-model="newDetails.choice" :options="users" :reduce="user => user.value"></v-select>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group" v-if="newDetails.choice ==  null">
                                    <label for="choice">Default Password</label>
                                    <input type="text" class="form-control form-control-sm" value="BananaDrive" disabled style="background-color: transparent;"/>
                                </div>
                            </div>
                        </div>
                        <div v-if="newDetails.choice ==  null">
                            <hr>
                            <h5>Registration Details <span style="color:red;">*</span></h5>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <validation-provider name="firstname" rules="required|min:2" :isInitial="true" v-slot="{ errors }">
                                            <input type="text" v-model="newDetails.firstname" name="firstname" id="firstname" placeholder="Enter Firstname" class="form-control form-control-sm">
                                            <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                        </validation-provider>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <validation-provider name="lastname" rules="required|min:2" :isInitial="true" v-slot="{ errors }">
                                            <input type="text" v-model="newDetails.lastname" name="lastname" id="lastname" placeholder="Enter Lastname" class="form-control form-control-sm">
                                            <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                        </validation-provider>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <validation-provider name="email" rules="required|email|unique:users" :isInitial="true" v-slot="{ errors }">
                                            <input type="email" v-model="newDetails.email" name="email" id="email" placeholder="Enter Email" class="form-control form-control-sm">
                                            <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                        </validation-provider>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <validation-provider name="type" rules="required" :isInitial="true" v-slot="{ errors }">
                                            <select name="type" v-model="newDetails.type" id="type" class="form-control form-control-sm">
                                                <option value="0" disabled selected>Select Type of Account</option>
                                                <option value="admin" selected>Admin</option>
                                                <option value="customer">Customer</option>
                                            </select>
                                            <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                        </validation-provider>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <h5>User Details</h5>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <validation-provider name="birthdate" rules="required" :isInitial="true" v-slot="{ errors }">
                                        <label for="birthdate" class="label">Birthdate <span style="color:red;">*</span></label><br>
                                        <date-picker 
                                            v-model="newDetails.birthdate" 
                                            value-type="format" 
                                            format="YYYY-MM-DD"
                                            type="date"
                                            name="birthdate"
                                            placeholder="Select date"
                                            lang="en"
                                            :disabled-date="notAfterToday"
                                        ></date-picker>
                                        <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                    </validation-provider>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <validation-provider name="gender" rules="required" :isInitial="true" v-slot="{ errors }">
                                        <label for="gender" class="label">Gender <span style="color:red;">*</span></label>
                                        <select name="gender" v-model="newDetails.gender" id="gender" class="form-control form-control-sm">
                                            <option value="male">Male</option>
                                            <option value="female">Female</option>
                                        </select>
                                        <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                    </validation-provider>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <validation-provider name="status" rules="required" :isInitial="true" v-slot="{ errors }">
                                        <label for="status" class="label">Status <span style="color:red;">*</span></label>
                                        <select name="status" v-model="newDetails.status" id="status" class="form-control form-control-sm">
                                            <option value="single" >Single</option>
                                            <option value="married">Married</option>
                                            <option value="widow">Widow</option>
                                            <option value="divorce">Divorce</option>
                                        </select>
                                        <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                    </validation-provider>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <validation-provider name="contact" rules="required|integer" :isInitial="true" v-slot="{ errors }">
                                        <label for="contact" class="label">Contact Number <span style="color:red;">*</span></label>
                                        <input type="text" v-model="newDetails.contact" name="contact" id="contact" class="form-control form-control-sm">
                                        <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                    </validation-provider>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <validation-provider name="address" rules="required|min:5" :isInitial="true" v-slot="{ errors }">
                                        <label for="address" class="label">Address <span style="color:red;">*</span></label>
                                        <textarea name="address" v-model="newDetails.address" class="form-control form-control-sm" id="address" cols="30" rows="10"></textarea>
                                        <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                    </validation-provider>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group" style="text-align: right;">
                                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
                                    <button :disabled="invalid" type="submit" id="submit" class="btn btn-sm btn-primary">Save</button>
                                </div>
                            </div>
                        </div>
                    <!-- </form> -->
                    </validation-observer>
                </div>
            </div>
        <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</template>

<script>
import Vue from 'vue'; 
import DatePicker from 'vue2-datepicker';

const today = new Date();

export default {
    created() {
        this.getUser();
    },
    components: { 
        DatePicker 
    },
    data() {
        return {
            choice: null,
            newDetails: {
            },
            users: [],
        }
    },
    methods: {
        addUser()
        {
            axios.post('/admin/user-details', {
                id: this.newDetails.choice,
                address: this.newDetails.address,
                birthdate: this.newDetails.birthdate,
                contact: this.newDetails.contact,
                email: this.newDetails.email,
                firstname: this.newDetails.firstname,
                lastname: this.newDetails.lastname,
                gender: this.newDetails.gender,
                status: this.newDetails.status,
                type: this.newDetails.type,
            }).then(response => {
                if (response.data.success) {
                    this.$toastr.s(response.data.msg, 'Success');
                } else {
                    this.$toastr.e(response.data.msg, 'Error');
                }
                $('#add-user-details').modal('hide');
                this.$root.$emit('user-details:refresh');
            }).catch(e => {
                console.log(e);
            });
        },

        getUser()
        {
            axios.get('/admin/get-user-details').then(response => {
                this.users = response.data.users;
            }).catch(e => {
                console.log(e);
            });
        },
        notAfterToday(date) {
            return date > today;
        },
    },
}
</script>

<style>
    .label {
        font-size: 13px;
    }
    .mx-datepicker {
        display: block;
        width: 100%;
        font-size: 0.9rem;
        font-weight: 400;
        line-height: 1.6;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border-radius: 0.25rem;
    }
    .mx-datepicker-popup{
        z-index: 1050 !important;
    }
    .form-control1 {
        height: 31px !important;
    }
</style>