<template>
    <div class="modal fade" id="edit-user-details">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit User Details</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <validation-observer v-slot="{ invalid, pristine }" tag="form" class="user-form" @submit.prevent="editUser">
                    <!-- <form v-submit.prevent="addUser()" method="post"> -->
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="choice">Fullname : </label> <span>{{ editDetails.name }}</span>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="choice">Account Type : </label> <span>{{ editDetails.type }}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <label for="choice">Email : </label> <span>{{ editDetails.email }}</span>
                                </div>
                            </div>
                        </div>
                        <hr style="margin: 1px;">
                        <h5>User Details</h5>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <validation-provider name="birthdate" rules="required" :isInitial="true" v-slot="{ errors }">
                                        <label for="birthdate" class="label">Birthdate <span style="color:red;">*</span></label><br>
                                        <date-picker 
                                            v-model="editDetails.birthdate" 
                                            value-type="format" 
                                            format="YYYY-MM-DD"
                                            type="date"
                                            name="birthdate"
                                            placeholder="Select date"
                                            lang="en"
                                            :disabled-date="notAfterToday"
                                        ></date-picker>
                                        <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                    </validation-provider>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <validation-provider name="gender" rules="required" :isInitial="true" v-slot="{ errors }">
                                        <label for="gender" class="label">Gender <span style="color:red;">*</span></label>
                                        <select name="gender" v-model="editDetails.gender" id="gender" class="form-control form-control-sm">
                                            <option value="male">Male</option>
                                            <option value="female">Female</option>
                                        </select>
                                        <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                    </validation-provider>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <validation-provider name="status" rules="required" :isInitial="true" v-slot="{ errors }">
                                        <label for="status" class="label">Status <span style="color:red;">*</span></label>
                                        <select name="status" v-model="editDetails.status" id="status" class="form-control form-control-sm">
                                            <option value="single" >Single</option>
                                            <option value="married">Married</option>
                                            <option value="widow">Widow</option>
                                            <option value="divorce">Divorce</option>
                                        </select>
                                        <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                    </validation-provider>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <validation-provider name="contact" rules="required|integer" :isInitial="true" v-slot="{ errors }">
                                        <label for="contact" class="label">Contact Number <span style="color:red;">*</span></label>
                                        <input type="text" v-model="editDetails.contact" name="contact" id="contact" class="form-control form-control-sm">
                                        <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                    </validation-provider>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <validation-provider name="address" rules="required|min:5" :isInitial="true" v-slot="{ errors }">
                                        <label for="address" class="label">Address <span style="color:red;">*</span></label>
                                        <textarea name="address" v-model="editDetails.address" class="form-control form-control-sm" id="address" cols="30" rows="10"></textarea>
                                        <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                    </validation-provider>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group" style="text-align: right;">
                                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
                                    <button :disabled="invalid" type="submit" id="submit" class="btn btn-sm btn-primary">Update</button>
                                </div>
                            </div>
                        </div>
                    <!-- </form> -->
                    </validation-observer>
                </div>
            </div>
        <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</template>

<script>
import Vue from 'vue'; 
import DatePicker from 'vue2-datepicker';

const today = new Date();

export default {
    data() {
        return {
            choice: null,
            users: [],
            editDetails: {

            }
        }
    },
    methods: {
        editUser()
        {
            axios.put('/admin/user-details/' + this.editDetails.id, {
                birthdate: this.editDetails.birthdate,
                gender: this.editDetails.gender,
                status: this.editDetails.status,
                contact: this.editDetails.contact,
                address: this.editDetails.address
            }).then(response => {
                if (response.data.success) {
                    this.$toastr.s(response.data.msg, 'Success');
                } else {
                    this.$toastr.e(response.data.msg, 'Error');
                }
                $('#edit-user-details').modal('hide');
                this.$root.$emit('user-details:refresh');
            }).catch(e => {
                console.log(e);
            });
        },
        notAfterToday(date) {
            return date > today;
        },
    },
    mounted() {
        this.$root.$on('user-details:edit', (details) => {
            this.editDetails = details;
        });
    },
}
</script>

<style>

</style>