<template>
    <div class="modal fade" id="show-user-details">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Package Details</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-12">
                            <label for="name"><b>ID : </b></label> {{ user.id }}
                        </div>
                        <div class="col-12">
                            <label for="name"><b>Name : </b></label> {{ user.name }}
                        </div>
                        <div class="col-12">
                            <label for="name"><b>Gender : </b></label> {{ user.gender }}
                        </div>
                        <div class="col-12">
                            <label for="name"><b>Status : </b></label> {{ user.status }}
                        </div>
                        <div class="col-12">
                            <label for="name"><b>Birthdate : </b></label> {{ user.birthdate | formatDate }}
                        </div>
                        <div class="col-12">
                            <label for="name"><b>Email : </b></label> {{ user.email }}
                        </div>
                        <div class="col-12">
                            <label for="name"><b>Contact Number : </b></label> {{ user.contact }}
                        </div>
                        <div class="col-12">
                            <label for="name"><b>Address : </b></label> {{ user.address }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group" style="text-align: right;">
                                <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</template>

<script>
export default {
    data() {
        return {
            user: {
                name: null
            },
        }
    },
    methods: {
      
      
    },
    mounted() {
        this.$root.$on('user-details:show', (user) => {
            this.user = user;
        });
    },
}
</script>

<style>

</style>