<template>
      <!-- Main content -->
    <section class="content" style="padding-top: 20px;">
      <AddUserDetails></AddUserDetails>
      <EditUserDetails></EditUserDetails>
      <DeleteUserDetails></DeleteUserDetails>
      <ShowUserDetails></ShowUserDetails>
      <div class="row">
        <div class="col-12">

          <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-11">
                        <h3 class="card-title">Admins & Users</h3>
                    </div>
                    <div class="col-1">
                        <button class="btn btn-sm btn-block btn-primary" @click.prevent="showAddModal()">Add</button>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="user-details-table" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Name</th>
                  <th>Address</th>
                  <th>Contact No.</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="user in userDetails">
                  <td><a href="#">{{ user.name }}</a></td>
                  <td>{{ user.address }}</td>
                  <td>{{ user.contact }}</td>
                  <td><a href="#" class="btn btn-xs btn-info"  @click.prevent="showShowModal(user)">Show</a> | 
                      <a href="#" class="btn btn-xs btn-success"  @click.prevent="showEditModal(user)">Edit</a> | 
                      <a href="#" class="btn btn-xs btn-danger" @click.prevent="showDeleteModal(user)">Delete</a>
                    </td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
</template>

<script>
import AddUserDetails from './AddUserDetails';
import EditUserDetails from './EditUserDetails';
import DeleteUserDetails from './DeleteUserDetails';
import ShowUserDetails from './ShowUserDetails';

export default {
  created() {
    this.getUserDetails();
  },
  components: {
    AddUserDetails,
    EditUserDetails,
    DeleteUserDetails,
    ShowUserDetails,
  },
  data() {
    return {
      userDetails: [],
    }
  },
  methods: {
      getUserDetails()
      {
          axios.get('/admin/get-user-details').then(response => {
              this.userDetails = response.data.userDetails;

              setTimeout(() => {
                    // $("#example1").DataTable();
                    $('#user-details-table').DataTable();
                }, 100);

          }).catch(e => {
              console.log(e);
          });
      },
    showAddModal()
    {
      $('#add-user-details').modal('show');
    },
    showEditModal(details)
    {
      $('#edit-user-details').modal('show');
      this.$root.$emit('user-details:edit', details);
    },
    showDeleteModal(details)
    {
      $('#delete-user-details').modal('show');
      this.$root.$emit('user-details:delete', details);
    },
    showShowModal(details)
    {
      $('#show-user-details').modal('show');
      this.$root.$emit('user-details:show', details);
    }
  },
  mounted() {
    this.$root.$on('user-details:refresh', () => {
      this.getUserDetails();
    });
  },
}
</script>

<style>
</style>