<template>
        <div class="card mb-2">
            <div class="card-header">
                <div class="row">
                    <div class="col-12">
                        <h3 class="card-title">Cancel Reservations</h3>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <table id="creservation-table" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Address</th>
                            <th>Event Date</th>
                            <th>Event Time</th>
                            <th>Status</th>
                            <!-- <th class="text-center">Action</th> -->
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="reservation in reservations">
                            <td> {{ reservation.address }}</td>
                            <td> {{ reservation.date }}</td>
                            <td> {{ reservation.etime | formatTime }}</td>
                            <td> {{ reservation.status }}</td>
                            <!-- <td v-if="reservation.amount_paid == 0" class="text-center"><a href="#" class="btn btn-sm btn-success"  @click.prevent="showForm(reservation)">Restore</a>
                            </td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
</template>

<script>
export default {
    created() {
        if(this.reservations != null)
        {
            setTimeout(() => {
                    $('#creservation-table').DataTable({
                        "order": [[ 2, "desc" ]]
                    });
                }, 2000);
        }
    },
    data() {
        return {
        }
    },
    mounted() {
    },
    props: ['reservations']
}
</script>

<style>

</style>