<template>
    <section class="site-section bg-light" id="section-dashboard">
        <!-- Modal -->
            <UserDetails></UserDetails>
            <div class="modal fade" id="logout-modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Logout</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p>Are you sure you want to logout?</p>
                            <div class="form-group text-right">
                                <button @click="logout()" class="btn btn-sm btn-outline-danger">Yes</button>
                            </div>
                        </div>
                    </div>
                <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <div class="modal fade" id="reset-modal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Reset Password</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <validation-observer v-slot="{ invalid, pristine }" tag="form" class="material-form"  ref="passwordValidationObserver">
                                <div class="row">
                                    <div class="col-md-12">
                                        <validation-provider name="password" rules="required|min:8" vid="confirmation" :isInitial="true" v-slot="{ errors }">
                                            <div class="form-group">
                                                <input id="password" type="password" name="password" v-model="password" class="form-control" placeholder="Enter new password" autocomplete="new-password">
                                                <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                            </div>
                                        </validation-provider>
                                        <validation-provider name="confirm" rules="required|confirmed:confirmation|min:8" :isInitial="true" v-slot="{ errors }">
                                            <div class="form-group">
                                                <input id="password-confirm" type="password" v-model="confirmation" name="confirm" class="form-control" placeholder="Enter confirm password" autocomplete="new-password">
                                                <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                            </div>
                                        </validation-provider>
                                    </div>
                                </div>
                                <div class="form-group text-right">
                                    <button @click="updatePassword(user.id)" class="btn btn-sm btn-outline-primary">Update</button>
                                </div>
                            </validation-observer>
                        </div>
                    </div>
                <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <PaymentModal></PaymentModal>
            <DownPayment></DownPayment>
            <ShowModal></ShowModal>
            <DeleteModal></DeleteModal>
            <RequestPayment></RequestPayment>
            <PaymentDetails></PaymentDetails>
        <!-- End Modal -->
        <div class="containers">
            <div class="row">
                <div class="col-md-8">
                    <div class="row mb-2">
                        <div class="col-6">
                            <button class="btn btn-block btn-primary" @click="showReservationForm()">Reserve Now</button>
                        </div>
                        <div class="col-6">
                            <button class="btn btn-block btn-outline-primary" @click="showLogoutForm()">Logout</button>
                        </div>
                    </div>
                    <div class="card mb-2" id="reminder-div" v-show="openReminder">
                        <div class="card-body">
                            <div class="text-right">
                                <button type="button" class="close" @click.prevent="closed()" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <h5> Reminder</h5>
                            <p id="text"></p>
                        </div>
                    </div>
                    <div class="card mb-2">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-12">
                                    <h3 class="card-title">My Reservation</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row" style="margin-bottom: 5px;">
                                <div class="col-md-12">
                                    Status : <br>
                                    <span style="color: #ffc107;">waiting</span> - Need to pay 75% downpayment. <br>
                                    <span style="color: #1dbb97;">pending</span> - Done sending payment and wait for the approval. <br>
                                    <span style="color: #2724e2;">approved</span> - All your payment was successfuly approve. <br>
                                    <span style="color: #1dca42;">completed</span> - The event was complete. <br>
                                    <span style="color: #8a2be2;">cancelling</span> - Waiting for the client approved their refund amount. <br>
                                    <span style="color: #e01d41;">cancelled</span> - The event was cancel.
                                </div>
                            </div>
                            <table id="reservation-table" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Address</th>
                                        <th>Event Date</th>
                                        <th>Event Time</th>
                                        <th>Status</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr v-for="reservation in reservations">
                                        <td> <a href="#" @click.prevent="showDetails(reservation)">{{ reservation.address }}</a></td>
                                        <td> {{ reservation.date }}</td>
                                        <td> {{ reservation.etime | formatTime }}</td>
                                        <td>
                                            <span v-if="reservation.status == 'waiting'" style="color: #ffc107;">waiting</span>
                                            <span v-if="reservation.status == 'pending'" style="color: #1dbb97;">pending</span>
                                            <span v-if="reservation.status == 'approved'" style="color: #2724e2;">approved</span>
                                            <span v-if="reservation.status == 'completed'" style="color: #1dca42;">completed</span>
                                            <span v-if="reservation.status == 'cancelling'" style="color: #8a2be2;">cancelling</span>
                                            <span v-if="reservation.status == 'cancelled'" style="color: #e01d41;">cancelled</span>
                                        </td>
                                        <td v-if="reservation.time > 7" class="text-center">
                                            <a v-show="reservation.status != 'cancelling'" :href="'/reservations/' + reservation.orig_id + '/edit'" target="_blank" title="Edit Reservation"><i class="fas fa-edit" style="color:#378a1b;"></i></a> 
                                            <span v-if="reservation.amount < reservation.amount_paid">
                                                <a href="#" @click.prevent="showStatusForm(reservation)" title="Send Another Payment"><i class="far fa-credit-card"></i></a>
                                            </span>
                                            <a href="#" v-show="reservation.status != 'cancelling'"  @click.prevent="showDeleteForm(reservation)" title="Cancel Reservation"><i class="fas fa-window-close" style="color: #821928;"></i></a>
                                        </td>
                                        <td v-else class="text-center">
                                            <!-- <span v-if="reservation.amount > reservation.amount_paid">
                                                <a href="#" @click.prevent="showStatusForm(reservation)" title="Send Payment"><i class="far fa-credit-card"></i></a>
                                            </span> -->
                                            <a href="#" v-show="reservation.status != 'cancelling'" @click.prevent="showDeleteForm(reservation)" title="Cancel Reservation"><i class="fas fa-window-close" style="color: #821928;"></i></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <PaymentTable></PaymentTable>
                    <CancelReservation :reservations="creservations"></CancelReservation>
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-12">
                                    <h3 class="card-title">Logs</h3>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <ul class="history">
                                <li v-for="history in histories">
                                    <div class="row">
                                        <div class="col-md-8">
                                            {{ history.body }}
                                        </div>
                                        <div class="col-md-4 text-right">
                                            {{ history.time }}
                                        </div>
                                    </div> 
                                    <hr>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card mb-2">
                        <div class="card-body text-center">
                            <span>Remaining Balanace</span>
                            <h2>P {{ formatPrice(balance) }}</h2>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-12">
                                    <h4 class="card-title">My Account</h4>
                                </div>
                            </div>
                        </div>
                        <div class="card-body" v-if="user != null">
                            <div class="row">
                                <div class="col-12">
                                    <validation-provider name="firstname" rules="required|min:2" :isInitial="true" v-slot="{ errors }">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon3">Firtsname</span>
                                            </div>
                                            <input type="text" :disabled="!enabledMode" name="firstname" id="basic-url" class="form-control" v-model="user.firstname" aria-describedby="basic-addon3">
                                            <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                        </div>
                                    </validation-provider>
                                </div>
                                <div class="col-12">
                                    <validation-provider name="lastname" rules="required|min:2" :isInitial="true" v-slot="{ errors }">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon3">Lastname</span>
                                            </div>
                                            <input type="text" :disabled="!enabledMode" name="lastname" class="form-control" id="basic-url" v-model="user.lastname" aria-describedby="basic-addon3">
                                            <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                        </div>
                                    </validation-provider>
                                </div>
                                <div class="col-12">
                                    <validation-provider name="email" :rules="'required|email|unique:users,' + user.id" :isInitial="true" v-slot="{ errors }">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">Email/Username</span>
                                            </div>
                                            <input type="text" :disabled="!enabledMode" name="email" class="form-control" id="basic-url" v-model="user.email" aria-describedby="basic-addon3">
                                            <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                        </div>
                                    </validation-provider>
                                </div>
                                <div class="col-12">
                                    <div class="form-group" v-if="!enabledMode">
                                        <button type="button" @click.prevent="editMode" class="btn btn-info btn-sm">Edit</button>
                                        <button type="button" @click.prevent="changePassword" class="btn btn-success btn-sm">Change Password</button>
                                    </div>
                                    <div class="form-group" v-else>
                                        <button type="button" @click.prevent="updateUser" class="btn btn-info btn-sm">Update</button>
                                        <button type="button" @click.prevent="cancelField" class="btn btn-danger btn-sm">Cancel</button>
                                    </div>
                                </div>
                            </div>
                            <div v-if="details != null">
                                <hr>
                                <div class="col-12">
                                    <p>Details</p>
                                </div>
                                <div class="col-12">
                                    <validation-provider name="gender" rules="required" :isInitial="true" v-slot="{ errors }">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon3">Gender</span>
                                            </div>
                                            <select name="gender" :disabled="!enabledDetailsMode" id="gender" class="form-control" v-model="details.gender" aria-describedby="basic-addon3">
                                                <option value="male">Male</option>
                                                <option value="female">Female</option>
                                            </select>
                                            <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                        </div>
                                    </validation-provider>
                                </div>
                                <div class="col-12">
                                    <validation-provider name="birthdate" rules="required" :isInitial="true" v-slot="{ errors }">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon3">Birthdate</span>
                                            </div>
                                            <date-picker 
                                                v-if="enabledDetailsMode"
                                                class="form-control"
                                                :disabled="!enabledDetailsMode"
                                                v-model="details.birthdate" 
                                                value-type="format" 
                                                format="YYYY-MM-DD"
                                                type="date"
                                                name="birthdate"
                                                placeholder="Select date"
                                                lang="en"
                                                :disabled-date="notAfterToday"
                                            ></date-picker>
                                            <input type="text" v-if="!enabledDetailsMode" :disabled="!enabledDetailsMode" class="form-control" id="basic-url" v-model="details.birthdate" aria-describedby="basic-addon3">
                                            <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                        </div>
                                    </validation-provider>
                                </div>
                                <div class="col-12">
                                    <validation-provider name="status" rules="required" :isInitial="true" v-slot="{ errors }">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon3">Status</span>
                                            </div>
                                            <select name="status" id="status" :disabled="!enabledDetailsMode" class="form-control" v-model="details.status" aria-describedby="basic-addon3">
                                                <option value="single" >Single</option>
                                                <option value="married">Married</option>
                                                <option value="widow">Widow</option>
                                                <option value="divorce">Divorce</option>
                                            </select>
                                            <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                        </div>
                                    </validation-provider>
                                </div>
                                <div class="col-12">
                                    <validation-provider name="contact" rules="required" :isInitial="true" v-slot="{ errors }">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon3">Contact</span>
                                            </div>
                                            <input type="text" :disabled="!enabledDetailsMode" class="form-control" id="basic-url" v-model="details.contact" aria-describedby="basic-addon3">
                                            <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                        </div>
                                    </validation-provider>
                                </div>
                                <div class="col-12">
                                    <validation-provider name="address" rules="required" :isInitial="true" v-slot="{ errors }">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text" id="basic-addon3">Address</span>
                                            </div>
                                            <textarea name="address" :disabled="!enabledDetailsMode" class="form-control" v-model="details.address" id="address" cols="30" rows="10"></textarea>
                                            <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                            <!-- <input type="text" class="form-control" id="basic-url" v-model="user.email" aria-describedby="basic-addon3"> -->
                                        </div>
                                    </validation-provider>
                                </div>
                                <div class="col-12">
                                    <div class="form-group" v-if="!enabledDetailsMode">
                                        <button type="button" @click.prevent="editDetailsMode" class="btn btn-success btn-sm">Edit Details</button>
                                    </div>
                                    <div class="form-group" v-else>
                                        <button type="button" @click.prevent="updateUserDetails" class="btn btn-success btn-sm">Update</button>
                                        <button type="button" @click.prevent="cancelDetailsField" class="btn btn-danger btn-sm">Cancel</button>
                                    </div>
                                </div>
                            </div>
                            <div v-if="account != null">
                                <hr>
                                <div class="col-md-12">
                                    <p>Refund Account</p>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <input type="text" v-model="account.type" class="form-control" disabled>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <input type="text" v-model="account.name" class="form-control" disabled>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <input type="text" v-model="account.account_number" class="form-control" disabled>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import Vue from 'vue'; 
import DatePicker from 'vue2-datepicker';
import UserDetails from './UserDetails';
import PaymentModal from './PaymentModal';
import DownPayment from './DownPayment';
import ShowModal from './ShowReservationModal';
import CancelReservation from './CancelReservation';
import DeleteModal from './DeleteReservationModal';
import PaymentTable from './PaymentTable';
import RequestPayment from './RequestPayment';
import PaymentDetails from './PaymentDetails';

const today = new Date();
const past = today.setFullYear(today.getFullYear() - 18);

export default {
    created() {
        this.getUser();
        this.getReservations();
        this.getHistories();
        this.getMyAccount();
    },
    components: {
        UserDetails,
        PaymentModal,
        ShowModal,
        CancelReservation,
        DeleteModal,
        DatePicker,
        DownPayment,
        PaymentTable,
        RequestPayment,
        PaymentDetails,
    },
    data() {
        return {
            password: null,
            confirmation: null,
            isDisabled: true,
            reservations: [],
            creservations: [],
            histories: [],
            user: null,
            balance: 0.00,
            details: null,
            enabledMode: false,
            enabledDetailsMode: false,
            openReminder: false,
            account: null,
            selectedPack: {
                lists:[]
            },
        }
    },
    methods: {
        changePassword()
        {
            $('#reset-modal').modal('show');
        },
        updatePassword(id)
        {
            axios.put('/update-password/' + id, {
                password: this.password
            }).then(response => {
                if (response.data.success) {
                    this.$toastr.s(response.data.msg, 'Success');
                } else {
                    this.$toastr.e(response.data.msg, 'Error');
                }
                $('#reset-modal').modal('hide');
            });
        },
        closed()
        {
            $('#reminder-div').css('display', 'none');
        },
        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', '.')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        },
        getMyAccount()
        {
            axios.get('get-my-account').then(response => {
                this.account = response.data.account;
            });
        },
        cancelField()
        {
            this.enabledMode = false;
            this.getUser();
        },
        cancelDetailsField()
        {
            this.enabledDetailsMode = false;
            this.getUser();
        },
        editMode()
        {
            this.enabledMode = true;
        },
        editDetailsMode()
        {
            this.enabledDetailsMode = true;
        },
        getReservations()
        {
            axios.get('/get-my-reservations').then(response => {
                this.reservations = response.data.reservations;
                this.creservations = response.data.creservations;
                this.balance = response.data.balance;
                response.data.reservations.forEach(r => {
                    r.billing.forEach(b => {
                        if (b.type == 'unpaid') {
                            this.openReminder = true;
                            $('#text').html('<i class="fas fa-info-circle"></i> You have a payment unpaid. Check on Payment Reservation table and send a payment.');
                        }
                    });
                });
            }).catch(e => {
                console.log(e);
            });
        },
        getHistories()
        {
            axios.get('/histories').then(response => {
                this.histories = response.data.histories;
            }).catch(e => {
                console.log(e);
            });
        },
        getUser()
        {
            axios.get('/get-user').then(response => {
                this.user = response.data.user;
                this.details = response.data.details;
                setTimeout(() => {
                    $('#reservation-table').DataTable();
                }, 100);
            }).catch(e => {
                console.log(e);
            });
        },
        notAfterToday(date) {
            return date > past;
        },
        showRequestForm(reservation)
        {
            this.$root.$emit('dashboard:request', reservation);
        },
        showDeleteForm(reservation)
        {
            this.$root.$emit('dashboard:delete', reservation);
        },
        showDetails(reservation)
        {
            this.$root.$emit('reservation:details', reservation);
            // $('#details-moda').modal('show');
        },
        showReservationForm()
        {
            localStorage.clear();
            window.location = '/reservation/create';
        },
        showDownPaymentForm(reservation) {
            this.$root.$emit('dashboard:downpayment', reservation);
        },
        showStatusForm(reservation)
        {
            this.$root.$emit('dashboard:payment', reservation, 'send:payment');
            // $('#status-modal').modal('show');
        },
        showLogoutForm()
        {
            $('#logout-modal').modal('show');
        },
        updateUser()
        {
            axios.put('/update-user/' + this.user.id, {
                orig_id: this.user.orig_id,
                firstname: this.user.firstname,
                lastname: this.user.lastname,
                email: this.user.email,
                type: this.user.type,
            }).then(response => {
                this.$toastr.s(response.data.msg, 'Success');
                this.cancelField();
                this.getUser();
                this.getHistories();
            }).catch(e => {
                console.log(e);
            });
        },
        updateUserDetails()
        {
            axios.put('/update-user-details/' + this.details.id, {
                address: this.details.address,
                birthdate: this.details.birthdate,
                contact: this.details.contact,
                gender: this.details.gender,
                status: this.details.status,
                user_id: this.details.user_id,
            }).then(response => {
                this.$toastr.s(response.data.msg, 'Success');
                this.cancelDetailsField();
                this.getUser();
                this.getHistories();
            }).catch(e => {
                console.log(e);
            });
        },
        logout()
        {
            axios.post('/logout').then(response => {
                $('#logout-modal').modal('hide');
                window.location.href = '/';
            });
        }
    },
    mounted() {
        this.$root.$on('dashboard:refresh', () => {
            this.getUser();
        });
        this.$root.$on('payment:refresh', () => {
            this.getReservations();
            this.getHistories();
        });
        this.$root.$on('table:refresh', () => {
            this.getReservations();
            this.getHistories();
        });
    },
}
</script>

<style>
    .form-control {
        /* height: calc(1.6em + 0.75rem + 2px) !important; */
    }
    #basic-addon3 {
        width: 90px;
    }
    .history {
        padding: 0;
    }
    .history > li {
        list-style: none;
    }
    hr {
        margin-top: 5px;
        margin-bottom: 5px;
    }
</style>