<template>
    <div class="modal fade" id="delete-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Cancel Reservation</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div v-if="reservation != null && account != null">
                        <div v-if="reservation.status != 'waiting'" class="text-center" style="color: red;"> 5% will be deducted to your total amount. You will receive <b>{{ formatPrice(reservation.amount_paid - (reservation.amount * .05)) }}</b> </div>
                        <div class="text-center">Are you sure you want to cancel your reservation?</div> 
                        <div v-if="reservation.status != 'waiting'" class="form-group">
                            <div class="col-md-12">
                                <textarea class="form-control" name="description" id="description" v-model="description" cols="30" rows="10" placeholder="Enter your reason"></textarea>
                            </div>
                            <hr>
                            <h5>Your Refund Account</h5>
                            <div class="col-12">
                                <div class="form-group">
                                    <input type="text" v-model="account.type" class="form-control" :disabled="isEdit == true">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input type="text" v-model="account.name" class="form-control" :disabled="isEdit == true">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <input type="text" v-model="account.account_number" class="form-control" :disabled="isEdit == true">
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <button class="btn btn-sm btn-primary" @click.prevent="enableEdit()">
                                        <span v-if="isEdit">Edit</span>
                                        <span v-else>Update</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group text-right">
                        <button @click="cancelReservation()" class="btn btn-sm btn-outline-primary">Confirm</button>
                    </div>
                </div>
            </div>
        <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</template>

<script>
export default {
    created() {
        this.getMyAccount();
    },
    data() {
        return {
            reservation: null,
            status: null,
            amount: null,
            description: null,
            account: null,
            isEdit: true,
            isStatus: false
        }
    },
    methods: {
        enableEdit()
        {
            this.isEdit = !this.isEdit;
        },
        getMyAccount()
        {
            axios.get('get-my-account').then(response => {
                this.account = response.data.account;
            });
        },
        cancelReservation()
        {
            axios.put('/cancel-reservation/' + this.reservation.id, {
                amount: this.amount,
                description: this.description,
                rtype: this.account ? this.account.type : null,
                name: this.account ? this.account.name : null,
                account: this.account ? this.account.account_number : null,
                isStatus: this.isStatus
            }).then(response => {
                if (response.data.success) {
                    this.$toastr.s(response.data.msg, 'Success');
                    this.$root.$emit('table:refresh');
                } else {
                    this.$toastr.e(response.data.msg, 'Error');
                }
            })
            
            $('#delete-modal').modal('hide');
        },
        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', '.')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        },
        getDetails(id)
        {
            axios.get('/admin/get-reservation/' + id).then(response => {
                this.reservation = response.data.reservation;
                this.status = response.data.reservation.status;
                this.amount = this.reservation.amount_paid - (this.reservation.amount * .05);
                response.data.reservation.billings.forEach(r => {
                    if (r.refference_no != null) {
                        this.isStatus = true;
                    }
                });
            }).catch(e => {
                console.log(e);
            });
        },
    },
    mounted() {
        this.$root.$on('dashboard:delete', (reservation) => {
            // this.reservation = reservation;
            this.getDetails(reservation.orig_id);
            $('#delete-modal').modal('show');
        });
    },
}
</script>

<style>

</style>