<template>
    <div class="modal fade" id="downpayment-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered form-dark" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h2>Send Down Payment/Full Payment</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <validation-observer v-slot="{ invalid, pristine }" tag="form" class="user-form" @submit.prevent="addPayment" ref="updateStatusValidationObserver">
                                <div class="form-group" v-if="reservation != null">
                                    <div class="col-md-12">
                                        <p style="color:red;">Note : Make sure the amount you paid is higher or equal to 75% (<b>{{ formatPrice(reservation.amount * .75) }}</b>) of the total amount. Your total amount is <b>{{ formatPrice(reservation.amount) }}</b> pesos.</p>
                                        <div>Payable Balance: <b>{{ formatPrice(reservation.amount - reservation.amount_paid) }} pesos</b></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <validation-provider name="status" rules="required" :isInitial="true" v-slot="{ errors }">
                                            <date-picker 
                                                v-model="payment_date"
                                                value-type="format" 
                                                format="YYYY-MM-DD"
                                                type="date"
                                                name="birthdate"
                                                placeholder="Transaction Date"
                                                lang="en"
                                                :disabled-date="notAfterToday"
                                            ></date-picker>
                                            <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                        </validation-provider>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12">
                                        <validation-provider name="refference_no" rules="required" :isInitial="true" v-slot="{ errors }">
                                            <input type="text" v-model="refference_no" name="refference_no" id="refference_no" class="form-control" placeholder="Enter Reference No.">
                                            <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                        </validation-provider>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <validation-provider name="amount" rules="required" :isInitial="true" v-slot="{ errors }">
                                            <input type="text" v-model="amount" v-on:keypress="isNumberKey($event)" name="amount" id="amount" class="form-control" placeholder="Enter Amount">
                                            <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                        </validation-provider>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <validation-provider name="file" rules="required|image" :isInitial="true" ref="provider" v-slot="{ validate, errors }">
                                            <input type="file" @change="onImageChange" name="file" id="file" ref="file" class="form-control">
                                            <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                        </validation-provider>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <validation-provider name="notes" rules="required" :isInitial="true" v-slot="{ errors }">
                                            <textarea name="notes" id="notes" v-model="notes" cols="30" rows="5" class="form-control" placeholder="Note(s)..."></textarea>
                                            <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                        </validation-provider>
                                    </div>
                                </div>
                                <div class="form-group" v-if="!loading">
                                    <div class="col-md-12 text-right">
                                        <button type="submit" :disabled="invalid" class="btn btn-sm btn-primary"> Send Payment </button>
                                        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal" aria-label="Close"> Close </button>
                                    </div>
                                </div>
                                <div class="form-group" v-else>
                                    <div class="col-md-12 text-right">
                                        <button type="submit" disabled class="btn btn-sm btn-primary"> Please wait... </button>
                                        <button type="button" disabled class="btn btn-sm btn-danger" data-dismiss="modal" aria-label="Close"> Close </button>
                                    </div>
                                </div>
                            </validation-observer>
                        </div>
                        <div class="col-md-6">
                            <p>Bank accounts and Remittance accounts that you need to send the payment.</p>
                            <ul>
                                <li><b>PALAWAN PAWNSHOP</b></li>
                                <ul>
                                    <li>Adelaida P. Lumain</li>
                                    <li>09612307637</li>
                                </ul>
                                <li><b>GCASH</b></li>
                                <ul>
                                    <li>Adelaida P. Lumain</li>
                                    <li>09612307637</li>
                                </ul>
                                <li><b>COINS.PH</b></li>
                                <ul>
                                    <li>Adelaida P. Lumain</li>
                                    <li>09612307637</li>
                                </ul>
                                <li><b>BDO ACCOUNT</b></li>
                                <ul>
                                    <li>Adelaida P. Lumain</li>
                                    <li>1245-9874-2164</li>
                                </ul>
                                <li><b>BPI ACCOUNT</b></li>
                                <ul>
                                    <li>Adelaida P. Lumain</li>
                                    <li>789-54234-752</li>
                                </ul>
                            </ul>
                            <p style="color:red;">Note :  Please send a picture or screenshot of your transaction as a proof of your payment.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

import Vue from 'vue'; 
import DatePicker from 'vue2-datepicker';

const today = new Date();

export default {
    components: {
        DatePicker
    },
    data() {
        return {
            payment_date: null,
            refference_no: null,
            amount: null,
            notes: null,
            reservation: null,
            file: null,
            loading: false,
        }
    },
    methods: {
        addPayment()
        {
            this.loading = true;
            let formData = new FormData();
            formData.append('file', this.file);

            axios.post('/payments', formData, {
                params: {
                    title: this.reservation.title,
                    reservation_id: this.reservation.orig_id,
                    payment_date: this.payment_date,
                    amount: this.amount,
                    description: this.notes,
                    refference_no: this.refference_no
                }
            }).then(response => {
                if (response.data.success) {
                    this.$toastr.s(response.data.msg, 'Success');
                    this.resetForm();
                    $('#downpayment-modal').modal('hide');
                    this.$root.$emit('payment:refresh');
                } else {
                    this.$toastr.e(response.data.msg, 'Error');
                }
                this.loading = false;
            }).catch(e => {
                console.log(e);
            });
        },
        resetForm() {
	        this.payment_date = null;
            this.amount = null;
            this.notes = null;
            this.refference_no = null;
            this.file = null;

	        this.$nextTick(() => {
	        	this.$refs.updateStatusValidationObserver.reset();
            });
        },
        isNumberKey(evt)
        {
            let keyCode = (evt.keyCode ? evt.keyCode : evt.which);
            if ((keyCode < 48 || keyCode > 57) && (keyCode !== 46 || this.amount.indexOf('.') != -1)) { // 46 is dot
                evt.preventDefault();
            }
            if(this.amount!=null && this.amount.indexOf(".")>-1 && (this.amount.split('.')[1].length > 1)){
                evt.preventDefault();
            }
        },
        async onImageChange(e) {
            console.log(e);
            const { valid } = await this.$refs.provider.validate(e);

            if (valid) {
                this.file = e.target.files[0];
            }
        },
        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', '.')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        },
        notAfterToday(date) {
            return date > today;
        },
    },
    mounted() {
        var _this = this;

        this.$root.$on('dashboard:downpayment', function (reservation) {
        _this.reservation = reservation;
        _this.amount = reservation.amount * .75;
        $('#downpayment-modal').modal('show');
        });
    }
}
</script>

<style>

</style>