<template>
    <div class="modal fade" id="welcome-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered form-dark" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h2>What is Inside</h2>
                    <hr>
                    <div class="row">
                        <div class="col-md-2">
                            <b>Login/Register</b>
                        </div>
                        <div class="col-md-10">
                            Fill up the form given. The registration is free.
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-2">
                            <b>Add Reservation</b>
                        </div>
                        <div class="col-md-10">
                            Adding reservation will automatically compute your total amount and pay the <b>75% of the total amount</b>. Reserve now pay later. 
                            The reservation date availabled 9 days after from the date today because of the preparation.
                            if you did not pay the downpayment amount (75% of the total amount) 1 week before the event started, your reservation will be automatically cancelled.
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-2">
                            <b>Edit Reservation</b>
                        </div>
                        <div class="col-md-10">
                            Edit reservation available <b>3 days before the event date</b>. You can change the menus on the packages, add/remove packages, change quantity and other details.
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-2">
                            <b>Cancel Reservation</b>
                        </div>
                        <div class="col-md-10">
                            When canceling reservation on the unpaid reservation has no refund. If the reservation is paid and you want to cancel it, you will be deducted <b>5% of the total amount</b>.
                            Better to finalize your reservation.
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-2">
                            <b>Payment</b>
                        </div>
                        <div class="col-md-10">
                            Fill up the form for sending the proof of payment. You need to pay the amount of the any remittance or bank account available on banana drive and send the proof or picture of the receipt.
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-2">
                            <b>Refund</b>
                        </div>
                        <div class="col-md-10">
                            Configure your refund account so that when you cancelled reservation the admin will send automatically to the refund account. 
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-md-12 text-center">
                            <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">Close</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    mounted() {
        $('#welcome-modal').modal('show');
    },
}
</script>

<style>

</style>