<template>
  <section class="site-section bg-light" id="section-offer">
    <ShowPackage></ShowPackage>
      <div class="container">
        
        <div class="row">
          <div class="col-md-12 text-center mb-2 site-animate">
            <!-- <h4 class="site-sub-title">Our Offers</h4> -->
            <h2 class="display-4">Our Packages</h2>
            <!-- <div class="row justify-content-center">
              <div class="col-md-7">
                <p class="lead">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
              </div>
            </div> -->
          </div>
          <div class="col-md-12">
            <carousel :navigationEnabled="true" :autoplay="true">
              <slide v-for="(pack, i) in packages" :key="i">
                <div class="media d-block mb-4 pb-5 text-center site-media border-0">
                  <div class="media-body p-md-5 p-4 description">
                    <h5 class="text-primary">P {{ formatPrice(pack.price) }}</h5>
                    <h5 class="mt-0 h4">{{ pack.name }}</h5>
                    <p class="mb-4" v-html="pack.description"></p>
                  </div>
                  <p class="mb-0"><a href="#" @click.prevent="showDetails(pack)" class="btn btn-info btn-sm" style="margin: 10px;">Read More!</a></p>
                </div>
              </slide>
            </carousel>
          </div>
          
        </div>
      </div>
    </section>
    <!-- END section -->
</template>

<script>
import { Carousel, Slide } from 'vue-carousel';
// import Vue from 'vue';
// import VueCarousel from '@chenfengyuan/vue-carousel';
import ShowPackage from '../Packages/ShowPackage';

// Vue.use(VueCarousel);

export default {
    created() {
        this.getPackages();
    },
    components: {
      Carousel,
      Slide,
      ShowPackage,
    },
    data() {
        return {
            packages:[],
        }
    },
    methods: {
      formatPrice(value) {
          let val = (value/1).toFixed(2).replace('.', '.')
          return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
      },
      getPackages()
      {
          axios.get('/get-packages').then(response => {
              this.packages = response.data.menus;
              response.data.tools.forEach(tool => {
                this.packages.push(tool);
              });
          }).catch(e => {
              console.log(e);
          });
      },
      showDetails(pack) {
        $('#show-package').modal('show');
        this.$root.$emit('package:show', pack, 'client');
      }
    },
    mounted() {
        this.getPackages();
    },
}
</script>

<style>
    .description {
        height: 270px;
        overflow: hidden;
    }
    .bg-light {
      background-color: #d6d9dc !important;
    }
    .VueCarousel-pagination{
      position: absolute;
      bottom: 40px;
    }
    .VueCarousel-dot-container {
      margin-top: 0px !important;
    }
    ul > li {
      list-style: none;
    }
</style>