<template>
    <div class="card mb-2">
        <!-- MODAL -->
        <div class="modal fade" id="confirm-status-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered form-dark" role="document">
                <div class="modal-content">
                    <div class="modal-body text-center">
                        <p>Admin send a payment. Please check the payment and move status into <b>Completed</b>.</p>
                        <div style="color:red;">Note: Before you confirm. You already check the payment. </div>
                        <div><b>Refundable Amount</b>: {{ amount }}</div>
                        <div class="col-md-12">
                            <img :src="'/storage/payments/' + image" alt="" width="490px" srcset="" id="img1">
                        </div>
                        <validation-observer v-slot="{ invalid, pristine }" tag="form" class="user-form" ref="updateStatusValidationObserver">
                            <div class="col-md-12" v-show="isDecline">
                                <div class="form-group">
                                    <validation-provider name="status" rules="required|min:5" :isInitial="true" v-slot="{ errors }">
                                        <textarea name="reason" id="" cols="30" rows="3" v-model="reason" class="form-control" placeholder="Enter the reason(s)"></textarea>
                                        <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                    </validation-provider>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12" v-if="isDecline">
                                    <button type="submit" @click.prevent="bupdateStatus()" class="btn btn-sm btn-primary"> Send </button>
                                    <button type="button" class="btn btn-sm btn-outline-danger" data-dismiss="modal" aria-label="Close"> Cancel </button>
                                </div>
                                <div class="col-md-12" v-else>
                                    <button type="submit" @click.prevent="bupdateStatus()" class="btn btn-sm btn-primary"> Receive </button>
                                    <a href="" class="btn btn-sm btn-danger" @click.prevent="showReason()">Decline</a>
                                    <button type="button" class="btn btn-sm btn-outline-danger" data-dismiss="modal" aria-label="Close"> Cancel </button>
                                </div>
                            </div>
                        </validation-observer>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MODAL -->
        <div class="card-header">
            <div class="row">
                <div class="col-12">
                    <h3 class="card-title">Payment Reservations</h3>
                </div>
            </div>
        </div>
        <div class="card-body">
            <table id="payment-table" class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Amount</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th class="text-center">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="payment in payments">
                        <td> <a href="" @click.prevent="showDetailsForm(payment)">{{ payment.amount }}</a></td>
                        <td> {{ payment.date }}</td>
                        <td> {{ payment.type }}</td>
                        <td class="text-center"> 
                            <span v-show="payment.type == 'unpaid' && payment.status != 'cancelled'">
                                <a href="#" @click.prevent="showStatusForm(payment)" title="Send Payment"><i style="color: red;" class="far fa-credit-card"></i></a> |
                            </span>
                            <span>
                                <a :href="'/show-receipt/' + payment.id" target="_blank" title="Show Invoice"><i class="fas fa-file-invoice"></i></a>
                            </span>
                            <a href="#" v-show="payment.type == 'refund' && payment.status == 'pending'" @click.prevent="showApprovedForm(payment)" title="Show Details"><i style="color: green;" class="fas fa-info-circle"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
export default {
    created() {
        this.getPayments();
    },
    data() {
        return {
            payments: [],
            image: null,
            id: null,
            amount: 0.00,
            isDecline: false,
            reason: null
        }
    },
    methods: {
        showReason()
        {
            this.isDecline = true;
        },
        bupdateStatus()
        {
            axios.put('/cancel-payment/' + this.id, {
                reason: this.reason
            }).then(response => {
                if (response.data.success) {
                    this.$toastr.s(response.data.msg, 'Success');
                    $('#confirm-status-modal').modal('hide');
                    this.getPayments();
                } else {
                    this.$toastr.e(response.data.msg, 'Error');
                }
            })
        },
        getPayments()
        {
            axios.get('/payments').then(response => {
                this.payments = response.data.payments;
                setTimeout(() => {
                    $('#payment-table').DataTable();
                }, 100);
            });
        },
        showStatusForm(payment)
        {
            this.$root.$emit('dashboard:payment', payment, 'send:proof');
            // $('#status-modal').modal('show');
        },
        showDetailsForm(payment)
        {
            this.$root.$emit('dashboard:show-payment', payment);
        },
        showApprovedForm(payment)
        {
            this.id = payment.id;
            this.image = payment.url;
            this.amount = payment.amount;
            this.reason = null;
            this.isDecline = false;
            $('#confirm-status-modal').modal('show');
        }
    },
    mounted() {
        this.$root.$on('payment:refresh', () => {
            this.getPayments();
        });
    },
}
</script>

<style>
    #img1{
        width: 80%;
        height: auto;
        margin: auto;
        display: block;
        background-size:20%;
    }
</style>