<template>
  <div class="modal fade" id="payment-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-sm modal-dialog-centered form-dark" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h5>Payment Details</h5>
                    <div class="row" v-if="payment != null">
                        <div class="col-md-12 text-center" style="background-color: #0f569c;">{{ payment.type }} - {{ payment.status }}</div>
                        <div class="col-md-12">
                            <b>Reservation Title: </b> {{ payment.title }}
                        </div>
                        <div class="col-md-12">
                            <b>Reference Number: </b> {{ payment.refference_no }}
                        </div>
                        <div class="col-md-12">
                            <b>Date: </b> {{ payment.date }}
                        </div>
                        <div class="col-md-12">
                            <b>File: </b> <a target="_blank" :href="'/storage/payments/' + payment.url">{{ payment.filename }}</a>
                        </div>
                        <div class="col-md-12">
                            <b>Status: </b> {{ payment.status }}
                        </div>
                        <div class="col-md-12">
                            <b>Amount: </b> {{ payment.amount }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal" aria-label="Close"> Close </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            payment: null,
        }
    },
    methods: {
        getPayment()
        {
            axios.get('/payments/' + this.id).then(response => {
                this.payment = response.data.payment;
            });
        }
    },
    mounted() {
        var _this = this;

        this.$root.$on('dashboard:show-payment', function (payment) {
        _this.payment = payment;
        _this.amount = Number(payment.amount);
        $('#payment-modal').modal('show');
        });
    }
}
</script>

<style>

</style>