<template>
    <div class="modal fade" id="registered-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h2>Register</h2>
                    <validation-observer v-slot="{ invalid, pristine }" tag="form" class="material-form" @submit.prevent="addUser"  ref="registerValidationObserver">
                        <div class="row">
                            <div class="col-md-6" style="margin: 0 auto;">
                                <div class="form-group">
                                    <validation-provider name="firstname" rules="required|min:2|max:255" :isInitial="true" v-slot="{ errors }">
                                        <input type="text" id="firstname" v-model="firstname" placeholder="Enter Firstname" class="form-control" :class="errors.length != 0 ? 'is-invalid' : ''" name="firstname" autocomplete="firstname" autofocus>
                                        <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                    </validation-provider>
                                </div>
                            </div>
                            <div class="col-md-6" style="margin: 0 auto;">
                                <div class="form-group">
                                    <validation-provider name="lastname" rules="required|min:2|max:255" :isInitial="true" v-slot="{ errors }">
                                        <input type="text" id="lastname" v-model="lastname" placeholder="Enter Lastname" class="form-control" :class="errors.length != 0 ? 'is-invalid' : ''" name="lastname" autocomplete="lastname">
                                        <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                    </validation-provider>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="margin: 0 auto;">
                                <div class="form-group">
                                    <validation-provider name="email" rules="required|min:2|unique:users" :isInitial="true" v-slot="{ errors }">
                                        <input type="text" id="email" v-model="email" placeholder="Enter Email/Username" class="form-control" :class="errors.length != 0 ? 'is-invalid' : ''" name="email" autocomplete="email">
                                        <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                    </validation-provider>
                                </div>
                            </div>
                            <div class="col-md-6" style="margin: 0 auto;">
                                <div class="form-group">
                                    <validation-provider name="birthdate" rules="required" :isInitial="true" v-slot="{ errors }">
                                        <date-picker 
                                            v-model="birthdate" 
                                            value-type="format" 
                                            format="YYYY-MM-DD"
                                            type="date"
                                            name="birthdate"
                                            placeholder="Select birthdate"
                                            lang="en"
                                            :disabled-date="notAfterToday"
                                            :default-value="new Date(new Date().setFullYear(new Date().getFullYear() - 18))"
                                        ></date-picker>
                                        <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                    </validation-provider>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="margin: 0 auto;">
                                <div class="form-group">
                                    <validation-provider name="password" rules="required|min:8" vid="confirmation" :isInitial="true" v-slot="{ errors }">
                                        <input type="password" id="password" v-model="password" placeholder="Enter Password" class="form-control" :class="errors.length != 0 ? 'is-invalid' : ''" name="password" autocomplete="new-password">
                                        <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                    </validation-provider>
                                </div>
                            </div>
                            <div class="col-md-6" style="margin: 0 auto;">
                                <div class="form-group">
                                    <validation-provider name="password_confirmation" rules="confirmed:confirmation|min:8" :isInitial="true" v-slot="{ errors }">
                                        <input id="password-confirm" type="password" v-model="cpassword" placeholder="Enter Confirm Password" class="form-control" :class="errors.length != 0 ? 'is-invalid' : ''" name="password_confirmation" autocomplete="new-password">
                                        <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                    </validation-provider>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4" style="margin: 0 auto;">
                                <div class="form-group">
                                    <validation-provider name="gender" rules="required" :isInitial="true" v-slot="{ errors }">
                                        <select name="gender" id="gender" v-model="gender" class="form-control" :class="errors.length != 0 ? 'is-invalid' : ''" required autocomplete="gender">
                                            <option value="male">Male</option>
                                            <option value="female">Female</option>
                                        </select>
                                        <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                    </validation-provider>
                                </div>
                            </div>
                            <div class="col-md-4" style="margin: 0 auto;">
                                <div class="form-group">
                                    <validation-provider name="status" rules="required" :isInitial="true" v-slot="{ errors }">
                                        <select name="status" v-model="status" id="status" class="form-control">
                                            <option value="single" >Single</option>
                                            <option value="married">Married</option>
                                            <option value="widow">Widow</option>
                                            <option value="divorce">Divorce</option>
                                        </select>
                                        <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                    </validation-provider>
                                </div>
                            </div>
                            <div class="col-md-4" style="margin: 0 auto;">
                                <div class="form-group">
                                    <validation-provider name="contact_number" rules="required|numeric|max:10" :isInitial="true" v-slot="{ errors }">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">+63</span>
                                            </div>
                                            <input type="text" class="form-control" name="contact_number" id="basic-url" v-model="contact_number" aria-describedby="basic-addon3" placeholder="ex. 9123456789">
                                            <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                        </div>
                                    </validation-provider>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12" style="margin: 0 auto;">
                                <div class="form-group">
                                    <validation-provider name="address" rules="required|min:5" :isInitial="true" v-slot="{ errors }">
                                        <textarea name="address" v-model="address" class="form-control" id="address" cols="30" rows="4" placeholder="Enter address"></textarea>
                                        <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                    </validation-provider>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12 text-right">
                            <div class="form-group">
                                <button type="submit" :disabled="invalid" class="btn btn-primary">Sign up</button>
                                <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close">Cancel</button>
                            </div>
                        </div>
                    </validation-observer>
                    <div class="col-md-12 text-right">
                        <div class="form-group">
                            <p>Already a member? <a href="#">Log in</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Vue from 'vue'; 
import DatePicker from 'vue2-datepicker';

const today = new Date();
const past = today.setFullYear(today.getFullYear() - 18);

export default {
    components: { 
        DatePicker 
    },
    data() {
        return {
            firstname: null,
            lastname: null,
            email: null,
            birthdate: null,
            gender: 'male',
            password: null,
            cpassword: null,
            status: 'single',
            contact_number: null,
            address: null,
        }
    },
    methods: {
        addUser()
        {
            axios.post('/register', {
                firstname: this.firstname,
                lastname: this.lastname,
                email: this.email,
                birthdate: this.birthdate,
                gender: this.gender,
                password: this.password,
                password_confirmation: this.cpassword,
                status: this.status,
                contact_number: this.contact_number,
                address: this.address
            }).then(response => {
                window.location = '/reservation/create';
                $('#registered-modal').modal('hide');
            });
        },
        notAfterToday(date) {
            return date > past;
        },
    }
}
</script>

<style>

</style>