<template>
  <div class="modal fade" id="request-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered form-dark" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h2>Request Payment</h2>
                        <div class="row" v-if="reservation != null">
                            <div class="col-md-12" style="font-size: 12px;">
                                <p>Bank accounts and Remittance accounts that you need to send the payment.</p>
                                <!-- <ul> -->
                                    <div class="row">
                                    <div class="col-md-4">
                                        <li><b>PALAWAN PAWNSHOP</b></li>
                                        <ul>
                                            <li>Adelaida P. Lumain</li>
                                            <li>09612307637</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <li><b>GCASH</b></li>
                                        <ul>
                                            <li>Adelaida P. Lumain</li>
                                            <li>09612307637</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <li><b>COINS.PH</b></li>
                                        <ul>
                                            <li>Adelaida P. Lumain</li>
                                            <li>09612307637</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <li><b>BDO ACCOUNT</b></li>
                                        <ul>
                                            <li>Adelaida P. Lumain</li>
                                            <li>1245-9874-2164</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <li><b>BPI ACCOUNT</b></li>
                                        <ul>
                                            <li>Adelaida P. Lumain</li>
                                            <li>789-54234-752</li>
                                        </ul>
                                    </div>
                                    <div class="col-md-4">
                                        <li><b>BPI ACCOUNT</b></li>
                                        <ul>
                                            <li>Adelaida P. Lumain</li>
                                            <li>789-54234-752</li>
                                        </ul>
                                    </div>
                                    </div>
                                <!-- </ul> -->
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div style="color:red;">Note : Pay atlest 5,000 pesos for the reservation fee or 75% <b>({{ formatPrice((reservation.amount * .75)) }})</b> of the total amount. It will deducted to your total.</div>
                                        </div>
                                        <div>Payable amount: {{ formatPrice(reservation.amount - reservation.amount_paid) }} pesos</div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                                <label for="mount">Enter the amount </label>
                                                <input type="text" v-model="amount" @input="checkAmount()" v-on:keypress="isNumberKey($event, amount)" name="amount" id="amount" class="form-control" placeholder="Enter Amount">
                                                <span v-show="err" class="text-danger error-text mt-2 w-100" style="font-size: 14px;">The amount is higher than reservation fee or higher than 75% total amount.</span>
                                        </div>
                                    </div>
                                    <div class="form-group text-right">
                                        <div class="col-md-12">
                                            <button type="submit" @click.prevent="addPayment()" class="btn btn-sm btn-primary">Send</button>
                                            <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal" aria-label="Close"> Close </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    data() {
        return {
            amount: null,
            reservation: null,
            err: false,
        }
    },
    methods: {
        addPayment()
        {
            axios.post('/add-request-payment', {
                amount: this.amount,
                reservation_id: this.reservation.orig_id,
                type: 'unpaid',
                status: 'waiting'
            }).then(response => {
                if (response.data.success) {
                    this.$toastr.s(response.data.msg, 'Success');
                } else {
                    this.$toastr.e(response.data.msg, 'Error');
                }
                $('#request-modal').modal('hide');
            });
        },
        checkAmount()
        {

        },
        isNumberKey(evt, amount)
        {
            let keyCode = (evt.keyCode ? evt.keyCode : evt.which);
            if ((keyCode < 48 || keyCode > 57) && (keyCode !== 46 || amount.indexOf('.') != -1)) { // 46 is dot
                evt.preventDefault();
            }
            if(amount!=null && amount.indexOf(".")>-1 && (amount.split('.')[1].length > 1)){
                evt.preventDefault();
            }
        },
        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', '.')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        },
    },
    mounted() {
        var _this = this;

        this.$root.$on('dashboard:request', function (reservation) {
            _this.reservation = reservation;
            _this.amount = reservation.amount - reservation.amount_paid;
            $('#request-modal').modal('show');
        });
    }
}
</script>

<style>

</style>