<template>
<section class="site-section bg-light" id="section-dashboard">
    <ShowPackage></ShowPackage>
    <!-- MODAL -->
        <div class="modal fade" id="edited-package">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Package</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="font-size: 16px;" >
                        <div class="row" v-for="(cat,index) in selectedPack.lists" :key="index">
                            <div class="col-4">
                                <div class="form-group">
                                    <validation-provider name="category" rules="required" :isInitial="true" v-slot="{ errors }">
                                        <v-select v-model="cat.category_id" name="category" @input="getCategoryFoods(cat.category_id)" :options="categories" placeholder="Select Category" label="name" :reduce="category => category.id" disabled></v-select>
                                        <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                    </validation-provider>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <validation-provider name="category" rules="required" :isInitial="true" v-slot="{ errors }">
                                        <v-select v-model="cat.value" name="category" :options="categoryFoods" placeholder="Select Food/Drink" label="name" :disabled="!isLoadingArray[index]"></v-select>
                                        <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                    </validation-provider>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <button type="button" v-if="isLoadingArray[index]" class="btn btn-sm btn-block btn-success" @click="cancelCategory(cat, index)">
                                        <span>Update</span>
                                    </button>
                                    <button type="button" v-else class="btn btn-sm btn-block btn-outline-primary" @click="editCategory(cat, index)">
                                        <span>Edit</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <validation-observer v-slot="{ invalid, pristine }" tag="form" class="material-form"  ref="paymentValidationObserver">
            <div class="modal fade" id="summary-package">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Summary Details</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="font-size: 16px;">
                            <div class="row">
                                <div class="col-md-6">
                                    <b>Name : </b><span>{{ name }}</span><br>
                                </div>
                                <div class="col-md-6">
                                    <b>Date : </b><span>{{ date | formatDate }}</span><br>
                                </div>
                                <div class="col-md-6">
                                    <b>Event title : </b><span>{{ title }}</span><br>
                                </div>
                                <div class="col-md-6">
                                    <b>Service : </b><span>{{ service_name }}</span><br>
                                </div>
                                <div class="col-md-4">
                                    <b>Barangay : </b><span>{{ barangay_name }}</span><br>
                                </div>
                                <div class="col-md-4">
                                    <b>Municipality : </b><span>{{ municipality_name }}</span><br>
                                </div>
                                <div class="col-md-4">
                                    <b>Province : </b><span>{{ province_name }}</span><br>
                                </div>
                                <div class="col-md-12">
                                    <b>Address : </b><span>{{ address }}</span><br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <li v-for="(pack, index) in package_reserved" :key="index" class="mb-1" style="list-style: none; padding: 5px; background-color: #fff;">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="mt-0">{{ pack.name }}</div>
                                                <span style="font-size: 10px;">Php {{ formatPrice(pack.price) }}</span>
                                            </div>
                                            <div class="col-md-3 text-center">
                                                <span>Meal Selection</span>
                                                <div class="text-primary">{{ pack.choice }}</div>
                                            </div>
                                            <div class="col-md-2 text-center">
                                                <span>No. Days</span>
                                                <div class="text-primary">{{ pack.days }}</div>
                                            </div>
                                            <div class="col-md-1 text-center">
                                                <span>Qty</span>
                                                <div class="text-primary">{{ pack.quantity }}</div>
                                            </div>
                                            <div class="col-md-3 text-center">
                                                <span>Total</span>
                                                <div style="font-size: 16px;">P {{ formatPrice(pack.total) }}</div>
                                            </div>
                                        </div>
                                    </li>
                                </div>
                            </div>
                            <hr>
                                <h5>Downpayment fee</h5>
                                <div class="row">
                                    <div class="col-md-12" style="font-size: 12px;">
                                        <p>Bank accounts and Remittance accounts that you need to send the payment.</p>
                                        <!-- <ul> -->
                                            <div class="row">
                                            <div class="col-md-4">
                                                <li><b>PALAWAN PAWNSHOP</b></li>
                                                <ul>
                                                    <li>Adelaida P. Lumain</li>
                                                    <li>09612307637</li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4">
                                                <li><b>GCASH</b></li>
                                                <ul>
                                                    <li>Adelaida P. Lumain</li>
                                                    <li>09612307637</li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4">
                                                <li><b>COINS.PH</b></li>
                                                <ul>
                                                    <li>Adelaida P. Lumain</li>
                                                    <li>09612307637</li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4">
                                                <li><b>BDO ACCOUNT</b></li>
                                                <ul>
                                                    <li>Adelaida P. Lumain</li>
                                                    <li>1245-9874-2164</li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4">
                                                <li><b>BPI ACCOUNT</b></li>
                                                <ul>
                                                    <li>Adelaida P. Lumain</li>
                                                    <li>789-54234-752</li>
                                                </ul>
                                            </div>
                                            <div class="col-md-4">
                                                <li><b>BPI ACCOUNT</b></li>
                                                <ul>
                                                    <li>Adelaida P. Lumain</li>
                                                    <li>789-54234-752</li>
                                                </ul>
                                            </div>
                                            </div>
                                        <!-- </ul> -->
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div style="color:red;font-size: 12px;">Note : Pay atlest 75% <b>({{ formatPrice(((all_total + m_ammount) * .75)) }})</b> of the total amount. It will deducted to your total. 
                                                                                                    If you cancel your reservation 5% <b>({{ formatPrice(((all_total + m_ammount) * .05)) }})</b> will be deducted automatically. 
                                                                                                    Please make sure that you finalize your reservation.</div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                        <label for="mount">Enter the amount </label>
                                                        <input type="text" v-model="amount" @input="checkAmount()" v-on:keypress="isNumberKey($event, amount)" name="amount" id="amount" class="form-control" placeholder="Enter Amount">
                                                        <span v-show="err" class="text-danger error-text mt-2 w-100" style="font-size: 14px;" id="err-msg"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <p>Transportation Charge : <span>Php {{ formatPrice(m_ammount) }}</span></p>
                                    <h5><b>Total Amount : </b>Php {{ formatPrice((all_total + m_ammount)) }}</h5>
                                    <h5><b>Remailning Balance : </b>Php {{ formatPrice((all_total + m_ammount) - amount) }}</h5>
                                    <!-- <p style="color: red; font-size: 12px;">Note : After clicking submit button, your reservation will still pending. Send 75% ( <b>{{ formatPrice((all_total + m_ammount) *.75) }}</b> ) of the total amount to be the downpayment and proof of the receipt that you already send the payment. If you don't send any payment, after 24 hours your reservation will be deleted.</p> -->
                                </div>
                                
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group" style="text-align: right;" v-if="isDisabled">
                                        <button type="button" @click.prevent="addReserve" disabled class="btn btn-sm btn-primary">Loading...</button>
                                        <button type="button" class="btn btn-sm btn-danger" disabled data-dismiss="modal">Close</button>
                                    </div>
                                    <div class="form-group" style="text-align: right;" v-else>
                                        <!-- <button type="button" @click="showContract()" class="btn btn-sm btn-outline-primary">Show Contract Form</button> -->
                                        <!-- <button type="button" @click.prevent="addReserve" :disabled="isDisabled" class="btn btn-sm btn-primary">Submit</button> -->
                                        <button type="button" @click.prevent="addReserve" :disabled="invalid || err == true" class="btn btn-sm btn-primary">Submit</button>
                                        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- END MODAL -->
        </validation-observer>
    <!-- END MODAL -->
    <validation-observer v-slot="{ invalid, pristine }" tag="form" class="material-form"  ref="reserveValidationObserver">
        <div class="containers">
            <div class="row">
                <div class="col-md-12">
                        <div class="card mb-2" id="reminder-div" v-show="closeReminder">
                            <div class="card-body">
                                <div class="text-right">
                                    <button type="button" class="close" @click.prevent="closed()" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <h5>Important</h5>
                                <p>Upon reservation you will paid 75% of the total amount. Make a reservation and send a payment later on the same day. For cancellation you will be deducted 5% automatically of the total amount.</p>
                            </div>
                        </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <input type="text" class="form-control" disabled v-model="name" placeholder="Enter your Name">
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <input type="text" class="form-control" disabled v-model="date" placeholder="Enter your Name">
                    </div>
                </div>
            </div>
            <h3>Foods Packages <span class="align-middle" style="color:red; font-size: 12px;">( This is required. You can reserve more than one package. )</span></h3>
            
            <div class="row">
                <div class="col-md-3 text-center" v-for="(pack, index) in menus" :key="index">
                    <div><b>{{ pack.name }}</b></div>
                    <p>Php {{ formatPrice(pack.price) }}</p>
                    <div>
                        <a href="#" @click.prevent="showDetails(pack)" class="btn btn-sm btn-info">See Details</a>
                        <a href="#" @click="reserve(pack)" id="btn-reserve" class="btn btn-sm btn-success">Reserve Now</a>
                    </div>
                    <hr>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-12">
                    <h3>Tools & Equipments Packages <span class="align-middle" style="color:red; font-size: 12px;">( This is optional. )</span></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 text-center" v-for="pack in tools">
                    <div><b>{{ pack.name }}</b></div>
                    <p>Php {{ formatPrice(pack.price) }}</p>
                    <div>
                        <a href="#" @click.prevent="showDetails(pack)" class="btn btn-sm btn-info">See Details</a>
                        <a href="#" @click="reserve(pack)" id="btn-reserve" class="btn btn-sm btn-success">Reserve Now</a>
                    </div>
                    <hr>
                </div>
            </div>
            <hr>
            <h3>Reservation Details</h3>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <validation-provider name="title" rules="required" :isInitial="true" v-slot="{ errors }">
                            <input type="text" v-model="title" name="title" class="form-control form-control1" placeholder="ex. Juan's 21st Birthday">
                            <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                        </validation-provider>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <validation-provider name="event" rules="required" :isInitial="true" v-slot="{ errors }">
                            <v-select v-model="service" name="event" :options="services" placeholder="Select Services or Events" label="name" :reduce="service => service.id"></v-select>
                            <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                        </validation-provider>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-grou">
                        <validation-provider name="actual_date" rules="required" :isInitial="true" v-slot="{ errors }">
                            <date-picker 
                                v-model="actual_date" 
                                lang="en" 
                                value-type="format" 
                                type="datetime"
                                :confirm="true"
                                format="YYYY-MM-DD hh:mm a" 
                                name="actual_date" 
                                :disabled-date="notBeforeToday"
                                :default-value="new Date().setDate(new Date().getDate()+9)"
                                placeholder="Select date range" 
                                range 
                            ></date-picker>
                            <!-- <date-picker 
                                v-model="actual_date" 
                                value-type="format" 
                                format="YYYY-MM-DD hh:mm a"
                                type="datetime"
                                name="actual_date"
                                :confirm="true"
                                placeholder="Select date"
                                lang="en"
                                @change="checkAvailability()"
                                :disabled-date="notBeforeToday"
                                :default-value="new Date().setDate(new Date().getDate()+9)"
                            ></date-picker> -->
                            <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                        </validation-provider>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <validation-provider name="contact_number" rules="required|numeric|max:10" :isInitial="true" v-slot="{ errors }">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                    <span class="input-group-text form-control1">+63</span>
                                </div>
                                <input type="text" class="form-control form-control1" name="contact_number" id="basic-url" v-model="contact_number" aria-describedby="basic-addon3" placeholder="ex. 9123456789">
                                <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                            </div>
                        </validation-provider>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="form-group">
                        <validation-provider name="province" rules="required" :isInitial="true" v-slot="{ errors }">
                            <v-select @input="getMunicipality(province)" v-model="province" name="province" :options="provinces" placeholder="Select Province" label="name" :reduce="province => province.id"></v-select>
                            <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                        </validation-provider>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <validation-provider name="municipality" rules="required" :isInitial="true" v-slot="{ errors }">
                            <v-select @input="getBarangay(municipality)" v-model="municipality" name="municipality" :options="municipalities" placeholder="Select Municipality" label="name" :reduce="municipality => municipality.id"></v-select>
                            <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                        </validation-provider>
                    </div>
                </div>
                <div class="col-4">
                    <div class="form-group">
                        <validation-provider name="barangay" rules="required" :isInitial="true" v-slot="{ errors }">
                            <v-select v-model="barangay" name="barangay" :options="barangays" placeholder="Select Barangay" label="name" :reduce="barangay => barangay.id"></v-select>
                            <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                        </validation-provider>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group">
                        <validation-provider name="venue" rules="required|min:5" :isInitial="true" v-slot="{ errors }">
                            <textarea placeholder="Enter House/Unit/Floor #, Bldg Name, Block or Lot #" v-model="address" name="venue" id="venue" cols="30" rows="3" class="form-control"></textarea>
                            <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                        </validation-provider>
                    </div>
                </div>
            </div>
            <hr>
            <h3>Package Details</h3>
            <div id="package-details">
                <li v-show="package_reserved.length == 0" class="mb-1 text-center" style="list-style: none; padding: 5px; background-color: #fff;">
                    <div> - No Details -</div>
                </li>
                <li v-for="(pack, index) in package_reserved" :key="index" class="mb-1" style="list-style: none; padding: 5px; background-color: #fff;">
                    <div class="row">
                        <div class="col-md-4">
                            <h5 class="mt-0">{{ pack.name }}</h5>
                            <div class="text-primary">P {{ formatPrice(pack.price) }}</div>
                        </div>
                        <div class="col-md-1">
                            <validation-provider name="quantity" rules="required" :isInitial="true" v-slot="{ errors }">
                                <span>Quantity :</span>
                                <input type="text" @input="getQuantity(pack)" v-on:keypress="isNumberKey($event, pack.quantity)" class="form-control input-sm" v-model="pack.quantity" name="quantity" id="quantity">
                                <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                            </validation-provider>
                        </div>
                        <div class="col-md-1">
                            <validation-provider name="days" rules="required" :isInitial="true" v-slot="{ errors }">
                                <span>No of Days :</span>
                                <input type="text" @input="getQuantity(pack)" v-on:keypress="isNumberKey($event, pack.days)" class="form-control input-sm" v-model="pack.days" name="days" id="days">
                                <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                            </validation-provider>
                        </div>
                        <div class="col-md-2">
                            <validation-provider v-show="pack.type == 'menu'" name="choice" rules="required" :isInitial="true" v-slot="{ errors }">
                                <span>Meal selection :</span>
                                <select name="choice" v-model="pack.choice" id="choice" class="form-control">
                                    <option value="breakfast">Breakfast</option>
                                    <option value="snackam">Snack (am)</option>
                                    <option value="lunch">Lunch</option>
                                    <option value="snackpm">Snack (pm)</option>
                                    <option value="dinner">Dinner</option>
                                </select>
                                <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                            </validation-provider>
                        </div>
                        <div class="col-md-2 text-center">
                            <span>Total :</span>
                            <div style="font-size: 16px;">P {{ formatPrice(pack.total) }}</div>
                            <span v-show="er" class="text-danger error-text mt-2 w-100" style="font-size: 14px;">The total is above 5,000.00 pesos.</span>
                        </div>
                        <div class="col-md-2 text-center">
                            <a href="#" v-show="pack.type == 'menu'" @click.prevent="editDetails(pack)" class="btn btn-success btn-sm" style="margin: 15px 1px 0 1px;">Edit</a>
                            <a href="#" @click.prevent="cancelDetails(pack)" class="btn btn-danger btn-sm" style="margin: 15px 1px 0 1px;">Remove</a>
                        </div>
                    </div>
                </li>
            </div>
            <div v-show="package_reserved.length != 0" class="form-group text-right">
                <!-- :disabled="invalid || er == true" -->
                <button type="submit" :disabled="invalid || er == true" id="submit"  @click.prevent="showSummary()" class="btn btn-primary">Reserve Now</button>
                <!-- <button type="submit" id="submit" :disabled="invalid" class="btn btn-primary">Submit</button> -->
            </div>
                <!-- <div class="col-md-12">
                    <carousel>
                        <slide class="ml-2" v-for="(pack, i) in package_reserved" :key="i">
                            <div class="media d-block mb-4 text-center site-media border-0">
                            <div class="media-body p-md-5 p-4 description">
                                <h5 class="text-primary">P {{ formatPrice(pack.price) }}</h5>
                                <h5 class="mt-0 h4">{{ pack.name }}</h5>
                                <p class="mb-4" v-html="pack.description"></p>
                            </div>
                            <p class="mb-0">
                                <a href="#" @click.prevent="editDetails(pack)" class="btn btn-success btn-sm" style="margin: 10px;">Edit Package</a>
                                <a href="#" @click.prevent="showDetails(pack)" class="btn btn-danger btn-sm" style="margin: 10px;">Cancel</a>
                                </p>
                            </div>
                        </slide>
                    </carousel>
                </div> -->
            <!-- <h3>Summary</h3> -->
        </div>
    </validation-observer>
</section>
</template>

<script>
import Vue from 'vue'; 
import DatePicker from 'vue2-datepicker';
import { Carousel, Slide } from 'vue-carousel';
import ShowPackage from '../Packages/ShowPackage';

const today = new Date();
const weeks = today.setDate(today.getDate()+9);
// const weeks = new Date(Date.now() + 12096e5);

// 12096e5 - 14 days
// 6.048e+8 - 7 days

export default {
    created() {
        this.getServices();
        this.getUser();
        this.getPackages();
        this.getProvinces();
        this.getBarangay();
        this.getCategories();
        this.getDisableDates();
    },
    computed: {
        all_total() {
            return this.package_reserved.reduce(function (t, num) {
                return t + Number(num.total);
            }, 0);
        },
        municipality_name()
        {
            if (this.municipality != null) {
                var that = this;
                return that.municipalities.filter(function (m) {  return m.id === that.municipality })[0].name;
            }
        },
        barangay_name()
        {
            if (this.barangay != null) {
                var that = this;
                return that.barangays.filter(function (m) {  return m.id === that.barangay })[0].name;
            }
        },
        province_name(){
            if (this.province != null) {
                var that = this;
                return that.provinces.filter(function (p) { return p.id === that.province })[0].name;
            }
        },
        service_name() {
            if (this.service != null) {
                var that = this;
                return that.services.filter(function (s) {  return s.id === that.service })[0].name;
            }
        },
        m_ammount() {
            if (this.municipality != null) {
                var that = this;
                return Number(that.municipalities.filter(function (m) {  return m.id === that.municipality })[0].price);
            } else {
                return 0.00;
            }
        }
    },
    components: {
        Carousel,
        ShowPackage,
        DatePicker,
    },
    data() {
        return {
            payment_date: null,
            refference_no: null,
            amount: null,
            notes: null,
            loading: null,
            file: null,

            address: null,
            service: null,
            user: null,
            actual_date: null,
            contact_number: null,
            name: null,
            municipality: null,
            barangay: null,
            province: null,
            title: null,
            date: new Date().getMonth() + "/" + (new Date().getDate() + 1) + "/" + new Date().getFullYear(),
            tools: [],
            menus: [],
            services: [],
            provinces: [],
            municipalities: [],
            barangays: [],
            showTools: false,
            package_reserved: [],
            selectedPack: {
                lists:[]
            },
            isLoadingArray: [],
            categories: [],
            categoryFoods: [],
            isDisabled: false,
            er: false,
            err: false,
            closeReminder: true,
            disableDates: null
        }
    },
    methods: {
        closed()
        {
            $('#reminder-div').css('display', 'none');
        },
        checkAmount()
        {
            let e75 = (this.all_total + this.m_ammount) * .75;
            if (this.amount < e75) {
                this.err = true;
                $('#err-msg').html('The amount you input is lower than 75% total amount.');
            } else if (this.amount > (this.all_total + this.m_ammount)) {
                this.err = true;
                $('#err-msg').html('The amount you input is higher than total amount.');
            } else {
                this.err = false;
            }
        },
        async onImageChange(e) {
            console.log(e);
            const { valid } = await this.$refs.provider.validate(e);

            if (valid) {
                this.file = e.target.files[0];
            }
        },
        showContract()
        {
            window.open('/contract?venue=' + this.address + '&contact=' + this.contact_number + '&event=' + this.event + 
                        '&actual_date=' + this.actual_date + '&date=' + this.date + '&municipality=' + this.municipality + '&province=' + this.province + '', '_blank');
        },
        checkAvailability()
        {   
            var dialog = bootbox.dialog({ 
                            message: '<div class="text-center"><i class="fa fa-spin fa-spinner"></i> Checking for availability...</div>'
                        });

            axios.get('/date-checker', {
                params: {
                    date: this.actual_date
                }
            }).then(response => {
                    if(response.data.check) {
                        dialog.init(function(){
                            setTimeout(function(){
                                dialog.find('.bootbox-body').html('<span style="color:red;">The date you choose is fully book. Please change your schedule for reservation. Thanks!</span>');
                            }, 1000);
                        });
                        // bootbox.alert({
                        //     message: "The date you choose is fully book. Please re schedule your reservation. Thanks",
                        //     size: 'small'
                        // });
                        this.actual_date = null;
                    } else {
                        setTimeout(function(){
                            dialog.modal('hide');
                        }, 1000);
                    }
                
            });
        },
        resetForm()
        {
            this.address= null;
            this.service= null;
            this.actual_date= null;
            this.contact_number= null;
            this.municipality= null;
            this.province= null;
            this.title= null;
            this.package_reserved = [];

            this.$nextTick(() => {
	        	this.$refs.reserveValidationObserver.reset();
            });
        },
        addPayment(id)
        {
            let formData = new FormData();
            formData.append('file', this.file);

            axios.post('/reservation-fee', formData, {
                params: {
                    reservation_id: id,
                    payment_date: this.payment_date,
                    amount: this.amount,
                    description: this.notes,
                    refference_no: this.refference_no
                }
            }).then(response => {
            }).catch(e => {
                console.log(e);
            });
        },
        addReserve()
        {
            this.isDisabled = true;
            axios.post('/add-reservation', {
                title: this.title,
                service_id: this.service,
                province_id: this.province,
                municipality_id: this.municipality,
                barangay_id: this.barangay,
                package: this.package_reserved,
                address: this.address,
                start_actual_date: this.actual_date[0],
                end_actual_date: this.actual_date[this.actual_date.length - 1],
                contact_number: this.contact_number,
                pamount: this.amount,
                amount: this.all_total + this.m_ammount,
                delivery_fee: this.m_ammount,
            }).then(response => {
                if (response.data.success) {
                    this.addPayment(response.data.id);
                    this.$toastr.s(response.data.msg, 'Success');
                    $('#summary-package').modal('hide');
                    this.resetForm();
                    this.resetPayment();
                } else {
                    this.$toastr.e(response.data.msg, 'Error');
                }
                this.isDisabled = false;
            }).catch(e => {
                console.log(e);
            })
        },
        editDetails(pack)
        {
            $('#edited-package').modal('show');
            this.selectedPack = pack;
            console.log('test');
        },
        getCategories()
        {
            axios.get('/admin/get-categories').then(response => {
                this.categories = response.data.categories;
            }).catch(e => {
                console.log(e);
            });
        },
        getCategoryFoods(id)
        {
            axios.get('/admin/get-category-foods', {
                params: {
                    id: id
                }
            }).then(response => {
                this.categoryFoods = response.data.categoryFoods;
            }).catch(e => {
                console.log(e);
            });
        },
        getQuantity(pack) {
            pack.total = (pack.price * pack.quantity) * pack.days;
            if (pack.total < 5000) {
                this.er = true;
            } else {
                this.er = false;
            }
        },
        isNumberKey(evt, amount)
        {
            let keyCode = (evt.keyCode ? evt.keyCode : evt.which);
            if ((keyCode < 48 || keyCode > 57) && (keyCode !== 46 || amount.indexOf('.') != -1)) { // 46 is dot
                evt.preventDefault();
            }
            if(amount!=null && amount.indexOf(".")>-1 && (amount.split('.')[1].length > 1)){
                evt.preventDefault();
            }
        },
        cancelCategory(cat, index)
        {
            if (cat.value != null) {
                this.$set(this.isLoadingArray, index, false)
            }
        },
        editCategory(cat, index){
            this.$set(this.isLoadingArray, index, true)
            this.getCategoryFoods(cat.category_id);
        },
        // showTool()
        // {
        //     this.showTools = !this.showTools;
        // },
        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', '.')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        },
        getPackages()
        {
            axios.get('/get-packages').then(response => {
                this.tools = response.data.tools;
                this.menus = response.data.menus;
            }).catch(e => {
                console.log(e);
            });
        },
        getServices()
        {
            axios.get('/get-services').then(response => {
                this.services = response.data.services;
            }).catch(e => {
                console.log(e);
            });
        },
        getUser()
        {
            axios.get('/get-user').then(response => {
                this.user = response.data.user;
                var that = this;
                that.name = that.user.firstname + ' ' + that.user.lastname;
            }).catch(e => {
                console.log(e);
            });
        },
        getMunicipality(id) {
            axios.get('/get-municipalities', {
                params: {
                    id: id
                }
            }).then(response => {
                this.municipalities = response.data.municipalities;
                console.log(this.municipalities);
            }).catch(e => {
                console.log(e);
            });
        },
        getBarangay(id) {
            axios.get('/get-barangays', {
                params: {
                    id: id
                }
            }).then(response => {
                this.barangays = response.data.barangays;
            }).catch(e => {
                console.log(e);
            });
        },
        getProvinces()
        {
            axios.get('/get-provinces').then(response => {
                this.provinces = response.data.provinces;
            }).catch(e => {
                console.log(e);
            });
        },
        cancelDetails(pack)
        {
            var that = this;
            bootbox.confirm({
                message: "Are you sure you want to remove <b>" + pack.name + "</b> package?",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },

                callback: function (result) {
                    if (result) {
                        that.package_reserved = _.remove(that.package_reserved, (i) => {
                                                    return pack != i
                                                });
                    }
                }
            });
        },
        reserve(pack)
        {
            $('html,body').animate({
                scrollTop: $("#package-details").offset().top},
            'slow');
            
            var qty = 0;

            if (pack.type == 'tools') {
                qty = 1;
            } else {
                qty = 25;
            }
            this.package_reserved.push({
                'id' : pack.id,
                'name' : pack.name,
                'price' : pack.price,
                'description' : pack.description,
                'quantity' : qty,
                'total' : pack.price * qty,
                'lists' : pack.lists,
                'type' : pack.type,
                'choice': 'breakfast',
                'days' : 1,
            });
        },
        showDetails(pack) {
        $('#show-package').modal('show');
        this.$root.$emit('package:show', pack, 'client');
        },
        showSummary()
        {
            $('#summary-package').modal('show');
            this.amount = (this.all_total + this.m_ammount) * .75;
        },
        resetPayment() {
            this.payment_date = null;
            this.refference_no = null;
            this.file = null;
            this.notes = null;

            this.$nextTick(() => {
	        	this.$refs.paymentValidationObserver.reset();
            });
        },
        getDisableDates() {
            axios.get('/date-checker', {
                params: {
                    id: null
                }
            }).then(response => {
                this.disableDates = response.data.disabledDates;
            });
        },
        notBeforeToday(date) {
            var pass_dates = date < weeks;
            var string = moment(date).format('YYYY-MM-DD');
            
            return pass_dates || this.disableDates.indexOf(string) != -1;
        },
        notAfterToday(date) {
            return date > today;
        },
    },
    mounted() {
        this.getPackages();
    },
}
</script>

<style>
    #card {
        width: 224px;
        margin-left: 2px;
        margin-right: 2px;
        margin-bottom: 2px;
        height: 390px;
    }
    .card-text {
        height: 100px;
        overflow: hidden;
    }
    .vs__dropdown-toggle {
        background-color: #fff;
    }
</style>