<template>
    <div class="modal fade" id="details-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered form-dark" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>

                    <div class="row">
                        <div class="col-12">

                            <div class="cards">
                                <div class="card-headers">
                                    <div class="row">
                                        <div class="col-12">
                                            <h3 class="card-title">Show Reservation</h3>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.card-header -->
                                <div class="card-bodys" v-if="reservation != null">
                                    <div v-if="reservation.billings != null" style="color: #fff;">
                                        <div class="text-center pb-2 pt-2" style="background-color: rgb(35, 98, 152);" v-if="reservation.amount > reservation.amount_paid">
                                            <b style="text-transform: uppercase;">{{ reservation.status }}</b>
                                        </div>
                                        <div class="text-center pb-2 pt-2" style="background-color: #378a1b;" v-else>
                                            <b style="text-transform: uppercase;">{{ reservation.status }}</b>
                                        </div>
                                    </div>
                                    <div v-else style="color: #fff;">
                                        <div class="text-center pb-2 pt-2" style="background-color: #821928;">
                                            <b style="text-transform: uppercase;">{{ reservation.status }}</b><br>
                                            <span><i class="fas fa-exclamation-circle"></i> Your reservation will be deleted after <b>24 hours</b> if you did not send 75%( <b>{{ formatPrice(reservation.amount * .75) }}</b> ) of the total amount.</span>
                                        </div> 
                                    </div>
                                    <div style="color: red;" v-if="reservation.time > 7"> You need to pay 75% of the total amount for the approval of your reservation. Pay one(1) week before the event date.</div>
                                    <div style="color: red;" v-else> You reservation is closed because you did not send 75% of the total amount before 1 week of the event.</div>
                                    <span style="font-size: 16px; font-weight: 600;">Reservation Details :</span>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <b>Name : </b>{{ reservation.name }}<br>
                                        </div>
                                        <div class="col-md-4">
                                            <b>Date Created : </b>{{ reservation.created_at | formatDate }}<br>
                                        </div>
                                        <div class="col-md-4">
                                            <b>Event Date : </b>{{ reservation.actual_date }}<br>
                                        </div>
                                        <div class="col-md-4">
                                            <b>Service : </b>{{ reservation.service }}<br>
                                        </div>
                                        <div class="col-md-4">
                                            <b>Contact Number : </b>{{ reservation.contact_number }}<br>
                                        </div>
                                        <div class="col-md-4">
                                            <b>Status : </b>{{ reservation.status }}<br>
                                        </div>
                                        <div class="col-md-12">
                                            <b>Event Address </b>{{ reservation.address }}, {{ reservation.barangay }}, {{ reservation.municipality }} , Bohol<br>
                                        </div>
                                        <div class="col-md-4">
                                            <b>Amount : </b>{{ formatPrice(reservation.amount) }}<br>
                                        </div>
                                        <div class="col-md-4">
                                            <b>Total Paid : </b>{{ formatPrice(reservation.amount_paid) }}<br>
                                        </div>
                                        <div class="col-md-4">
                                            <b>Remaining Balance : </b>{{ formatPrice(reservation.amount - reservation.amount_paid) }}<br>
                                        </div>
                                    </div>
                                    <hr>
                                    <span style="font-size: 16px; font-weight: 600;">Billing Details :</span>
                                    <div class="text-center" v-if="reservation.billings.length == 0">
                                        - No Payment Transaction -
                                    </div>
                                    <div v-if="reservation.billings.length != 0">
                                        <div class="row" v-for="r in reservation.billings">
                                            <div class="col-md-4">
                                                <b>Date : </b>{{ r.payment_date | formatDate }}<br>
                                            </div>
                                            <div class="col-md-4">
                                                <b>Reference Number : </b>{{ r.refference_no }}<br>
                                            </div>
                                            <div class="col-md-4">
                                                <b>Amount Paid : </b>{{ formatPrice(r.amount) }}<br>
                                            </div>
                                            <div class="col-md-8">
                                                <b>Proof of Payment : </b><a :href="'/storage/payments/' + r.url" target="_blank">{{ r.filename }}</a><br>
                                            </div>
                                            <div class="col-md-4">
                                                <b>Status : </b>
                                                <span v-if="r.status == 'waiting' && reservation.time > 7"><button @click.prevent="showStatusForm(r)" class="btn btn-sm btn-outline-danger">Pay</button></span>
                                                <span v-else >{{ r.type }}</span>
                                                <br>
                                            </div>
                                            <div class="col-md-8">
                                                <b>Invoice : </b><a :href="'/show-receipt/' + r.id" target="_blank">Invoice</a><br>
                                            </div>
                                            <div class="col-md-4">
                                                <b>Notes : </b>{{ r.description }}<br>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <span style="font-size: 16px; font-weight: 600;">Reservation Package(s) :</span>
                                    <div class="row">
                                        <div class="col-md-4 srollable" v-for="pack in reservation.packages">
                                            <b>Name : </b>{{ pack.package.name }}<br>
                                            <b>Amount : </b>{{ formatPrice(pack.package.price) }}<br>
                                            <b>Meal Selection : </b>{{ pack.choice }}<br>
                                            <b>Quantity : </b>{{ pack.quantity }}<br>
                                            <b>No of Days : </b>{{ pack.days }}<br>
                                            <b>Initial Amount : </b>{{ formatPrice(pack.price) }}<br>
                                            <div v-if="pack.package.type == 'menu'">
                                                <b>Description : </b>
                                                <ul>
                                                    <li v-for="list in pack.lists">{{ list.category_name }} - {{ list.value.name }}</li>
                                                </ul>
                                            </div>
                                            <div v-else>
                                                <b>Description : </b><span v-html="pack.package.description"></span><br>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <span style="font-size: 16px; font-weight: 600;">Contract File :</span>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <a :href="'/show-contract/' + reservation.id" target="_blank">show contract file</a>
                                        </div>
                                    </div>
                                    <hr>
                                    <span style="font-size: 16px; font-weight: 600;">Status Logs :</span>
                                    <div class="srollable">
                                        <div v-for="log in logs">
                                            <div class="row">
                                                <div class="log-td col-12 col-md-3 col-lg-3 col-xl-3">
                                                    <span class="d-inline d-sm-inline d-md-none d-lg-none text-primary font-weight-bold">Date:&nbsp;</span><b>{{ log.time }}</b>
                                                </div>
                                                <div class="log-td col-12 col-md-3 col-lg-3 col-xl-3">
                                                    <span class="d-inline d-sm-inline d-md-none d-lg-none text-primary font-weight-bold">User:&nbsp;</span><b>{{ log.user }}</b>
                                                </div>
                                                <div class="log-td col-12 col-md-6 col-lg-6 col-xl-6">
                                                    <span class="d-inline d-sm-inline d-md-none d-lg-none text-primary font-weight-bold">Action(s):&nbsp;</span>
                                                    <ul class="mb-0 p-0 list-unstyled">
                                                        <li>{{ log.body }}</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                    <!-- <ul class="history srollable">
                                        <li v-for="log in logs">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    {{ log.body }}
                                                </div>
                                                <div class="col-md-4 text-center">
                                                    {{ log.time }}
                                                </div>
                                            </div> 
                                            <hr>
                                        </li>
                                    </ul> -->
                                    <div class="mr-2 text-right">
                                        <!-- :disabled="reservation.status == 'waiting'" -->
                                        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal" aria-label="Close"> Close</button>
                                    </div>
                                </div>
                                <!-- /.card-body -->
                            </div>
                            <!-- /.card -->
                        </div>
                        <!-- /.col -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
created() {
        // this.getDetails(id);
    },
    data() {
        return {
            reservation: null,
            notes: null,
            status: null,
            logs: []
        }
    },
    methods: {
        showStatusForm(payment)
        {
            this.$root.$emit('dashboard:payment', payment, 'send:proof');
            $('#details-modal').modal('hide');
            // $('#status-modal').modal('show');
        },
        getDetails(id)
        {
            axios.get('/admin/get-reservation/' + id).then(response => {
                this.reservation = response.data.reservation;
                this.status = response.data.reservation.status;
                this.getLogs(id);
            }).catch(e => {
                console.log(e);
            });
        },
        getLogs(id)
        {
            axios.get('/get-log/' + id).then(response => {
                this.logs = response.data.logs;
            }).catch(e => {
                console.log(e);
            });
        },
        showForm()
        {
            $('#confirm-modal').modal('show');
        },
        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', '.')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        },
        resetForm() {
            this.reservation = null,
            this.notes = null,
            this.status = null,

	        this.$nextTick(() => {
	        	this.$refs.addPackageValidationObserver.reset();
            });
        },
    },
    mounted() {
        this.$root.$on('reservation:details', (reservation) => {
            // this.reservation = reservation;
            this.getDetails(reservation.orig_id);
            $('#details-modal').modal('show');
        });
    },
}
</script>

<style>
    .col-md-4, .col-md-12 {
        padding-top: 3px;
        padding-bottom: 3px;
    }
    .card-body {
        padding-top: 5px !important;
    }
    .srollable {
        max-height: 450px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    ::-webkit-scrollbar {
        width: 6px;
    }

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
    }

    ::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }
</style>