<template>
    <!-- Modal -->
    <div class="modal fade" id="user-details-modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">User Details</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p style="color: red;">Note : You don't have any details. Fill up this form details first before you reserve.</p>
                    
                    <validation-observer v-slot="{ invalid, pristine }" tag="form" class="user-form" @submit.prevent="addUserDetails">
                    <!-- <form v-submit.prevent="addUser()" method="post"> -->
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <validation-provider name="birthdate" rules="required" :isInitial="true" v-slot="{ errors }">
                                        <label for="birthdate" class="label">Birthdate <span style="color:red;">*</span></label><br>
                                        <date-picker 
                                            v-model="newDetails.birthdate" 
                                            value-type="format" 
                                            format="YYYY-MM-DD"
                                            type="date"
                                            name="birthdate"
                                            placeholder="Select date"
                                            lang="en"
                                            :disabled-date="notAfterToday"
                                            :default-value="new Date(new Date().setFullYear(new Date().getFullYear() - 18))"
                                        ></date-picker>
                                        <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                    </validation-provider>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <validation-provider name="gender" rules="required" :isInitial="true" v-slot="{ errors }">
                                        <label for="gender" class="label">Gender <span style="color:red;">*</span></label>
                                        <select name="gender" v-model="newDetails.gender" id="gender" class="form-control form-control-sm">
                                            <option value="male">Male</option>
                                            <option value="female">Female</option>
                                        </select>
                                        <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                    </validation-provider>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="form-group">
                                    <validation-provider name="status" rules="required" :isInitial="true" v-slot="{ errors }">
                                        <label for="status" class="label">Status <span style="color:red;">*</span></label>
                                        <select name="status" v-model="newDetails.status" id="status" class="form-control form-control-sm">
                                            <option value="single" >Single</option>
                                            <option value="married">Married</option>
                                            <option value="widow">Widow</option>
                                            <option value="divorce">Divorce</option>
                                        </select>
                                        <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                    </validation-provider>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <validation-provider name="contact" rules="required|integer" :isInitial="true" v-slot="{ errors }">
                                        <label for="contact" class="label">Contact Number <span style="color:red;">*</span></label>
                                        <input type="text" v-model="newDetails.contact" name="contact" id="contact" class="form-control form-control-sm">
                                        <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                    </validation-provider>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                                    <validation-provider name="address" rules="required|min:5" :isInitial="true" v-slot="{ errors }">
                                        <label for="address" class="label">Address <span style="color:red;">*</span></label>
                                        <textarea name="address" v-model="newDetails.address" class="form-control form-control-sm" id="address" cols="30" rows="10"></textarea>
                                        <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                    </validation-provider>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group" style="text-align: right;">
                                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
                                    <button :disabled="invalid" type="submit" id="submit" class="btn btn-sm btn-primary">Save</button>
                                </div>
                            </div>
                        </div>
                    <!-- </form> -->
                    </validation-observer>
                </div>
            </div>
        <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- End Modal -->
</template>

<script>
import Vue from 'vue'; 
import DatePicker from 'vue2-datepicker';

const today = new Date();
const past = today.setFullYear(today.getFullYear() - 18);

export default {
    components: { 
        DatePicker 
    },
    data() {
        return {
            newDetails: {

            }
        }
    },
    methods: {
        addUserDetails()
        {
            axios.post('/save-user-details', {
                address: this.newDetails.address,
                birthdate: this.newDetails.birthdate,
                contact: this.newDetails.contact,
                gender: this.newDetails.gender,
                status: this.newDetails.status,
            }).then(response => {
                if (response.data.success) {
                    this.$toastr.s(response.data.msg, 'Success');
                } else {
                    this.$toastr.e(response.data.msg, 'Error');
                }
                $('#user-details-modal').modal('hide');
                this.$root.$emit('dashboard:refresh');
                window.location = '/reservation/create';
            }).catch(e => {
                console.log(e);
            });
        },
        notAfterToday(date) {
            return date > past;
        },
    },
}
</script>

<style>
    .btn-primary:disabled {
        cursor: not-allowed;
    }
</style>