<template>
    <section class="site-section bg-light" id="section-dashboard">
        <ShowPackage></ShowPackage>
    <!-- MODAL -->
        <div class="modal fade" id="edited-package">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Package</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" style="font-size: 16px;" >
                        <div class="row" v-for="(cat,index) in selectedPack.lists" :key="index">
                            <div class="col-4">
                                <div class="form-group">
                                    <validation-provider name="category" rules="required" :isInitial="true" v-slot="{ errors }">
                                        <v-select v-model="cat.category_id" name="category" @input="getCategoryFoods(cat.category_id)" :options="categories" placeholder="Select Category" label="name" :reduce="category => category.id" disabled></v-select>
                                        <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                    </validation-provider>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="form-group">
                                    <validation-provider name="category" rules="required" :isInitial="true" v-slot="{ errors }">
                                        <v-select v-model="cat.value" name="category" :options="categoryFoods" placeholder="Select Food/Drink" label="name" :disabled="!isLoadingArray[index]"></v-select>
                                        <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                    </validation-provider>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="form-group">
                                    <button type="button" v-if="isLoadingArray[index]" class="btn btn-sm btn-block btn-success" @click="cancelCategory(cat, index)">
                                        <span>Update</span>
                                    </button>
                                    <button type="button" v-else class="btn btn-sm btn-block btn-outline-primary" @click="editCategory(cat, index)">
                                        <span>Edit</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <validation-observer v-slot="{ invalid, pristine }" tag="form" class="material-form"  ref="paymentValidationObserver">
            <div class="modal fade" id="summary-package" >
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Update Summary Details</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body" style="font-size: 16px;"  v-if="isModal">
                            <div class="row">
                                <div class="col-md-6">
                                    <b>Event title : </b><span>{{ package_reserved.title }}</span><br>
                                </div>
                                <div class="col-md-6">
                                    <b>Service : </b><span>{{ service_name }}</span><br>
                                </div>
                                <div class="col-md-4">
                                    <b>Barangay : </b><span>{{ barangay_name }}</span><br>
                                </div>
                                <div class="col-md-4">
                                    <b>Municipality : </b><span>{{ municipality_name }}</span><br>
                                </div>
                                <div class="col-md-4">
                                    <b>Province : </b><span>{{ province_name }}</span><br>
                                </div>
                                <div class="col-md-12">
                                    <b>Address : </b><span>{{ package_reserved.address }}</span><br>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <li v-for="(pack, index) in package_reserved.packages" :key="index" class="mb-1" style="list-style: none; padding: 5px; background-color: #fff;">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="mt-0">{{ pack.name }}</div>
                                                <span style="font-size: 10px;">Php {{ formatPrice(pack.price) }}</span>
                                            </div>
                                            <div class="col-md-3 text-center">
                                                <span>Meal Selection</span>
                                                <div class="text-primary">{{ pack.choice }}</div>
                                            </div>
                                            <div class="col-md-2 text-center">
                                                <span>No of Days</span>
                                                <div class="text-primary">{{ pack.days }}</div>
                                            </div>
                                            <div class="col-md-1 text-center">
                                                <span>Qty</span>
                                                <div class="text-primary">{{ pack.quantity }}</div>
                                            </div>
                                            <div class="col-md-3 text-center">
                                                <span>Total</span>
                                                <div style="font-size: 16px;">P {{ formatPrice(pack.total) }}</div>
                                            </div>
                                        </div>
                                    </li>
                                </div>
                            </div>
                            <hr>
                            <h5>Downpayment fee</h5>
                            <div class="row">
                                <div class="col-md-12" style="font-size: 12px;">
                                    <p>Bank accounts and Remittance accounts that you need to send the payment.</p>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <li><b>PALAWAN PAWNSHOP</b></li>
                                            <ul>
                                                <li>Adelaida P. Lumain</li>
                                                <li>09612307637</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4">
                                            <li><b>GCASH</b></li>
                                            <ul>
                                                <li>Adelaida P. Lumain</li>
                                                <li>09612307637</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4">
                                            <li><b>COINS.PH</b></li>
                                            <ul>
                                                <li>Adelaida P. Lumain</li>
                                                <li>09612307637</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4">
                                            <li><b>BDO ACCOUNT</b></li>
                                            <ul>
                                                <li>Adelaida P. Lumain</li>
                                                <li>1245-9874-2164</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4">
                                            <li><b>BPI ACCOUNT</b></li>
                                            <ul>
                                                <li>Adelaida P. Lumain</li>
                                                <li>789-54234-752</li>
                                            </ul>
                                        </div>
                                        <div class="col-md-4">
                                            <li><b>BPI ACCOUNT</b></li>
                                            <ul>
                                                <li>Adelaida P. Lumain</li>
                                                <li>789-54234-752</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <div style="color:red;font-size: 12px;">Note : Pay atlest 75% <b>({{ formatPrice(((all_total + m_ammount) * .75)) }})</b> of the total amount. It will deducted to your total. 
                                                                                                If you cancel your reservation 5% <b>({{ formatPrice(((all_total + m_ammount) * .05)) }})</b> will be deducted automatically. 
                                                                                                Please make sure that you finalize your reservation.</div>
                                            </div>
                                            <div class="col-md-12" style="font-size: 12px;">
                                                <p><b>Payment send : </b> Php {{ formatPrice(package_reserved.amount_paid) }}</p>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                    <label for="mount">Enter the amount </label>
                                                    <input type="text" v-model="amount" @input="checkAmount()" v-on:keypress="isNumberKey($event, amount)" name="amount" id="amount" class="form-control" placeholder="Enter Amount">
                                                    <span v-show="err" class="text-danger error-text mt-2 w-100" style="font-size: 14px;">The amount is higher than reservation fee or higher than 75% total amount.</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <p>Delivery Fee : <span>Php {{ formatPrice(m_ammount) }}</span></p>
                                    <h5><b>Total Amount : </b>Php {{ formatPrice((all_total + m_ammount)) }}</h5>
                                    <h5><b>Remaining Balance : </b>Php {{ formatPrice((all_total + m_ammount) - (Number(package_reserved.amount_paid) + Number(amount))) }}</h5>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group" style="text-align: right;" v-if="isDisabled">
                                        <button type="button" @click.prevent="updateReservation" disabled class="btn btn-sm btn-primary">Loading...</button>
                                        <button type="button" class="btn btn-sm btn-danger" disabled data-dismiss="modal">Close</button>
                                    </div>
                                    <div class="form-group" style="text-align: right;" v-else>
                                        <!-- <button type="button" @click="showContract()" class="btn btn-sm btn-outline-primary">Show Contract Form</button> -->
                                        <!-- <button type="button" @click.prevent="updateReservation" :disabled="isDisabled" class="btn btn-sm btn-primary">Submit</button> -->
                                        <button type="button" @click.prevent="updateReservation" :disabled="invalid || err == true" class="btn btn-sm btn-primary">Submit</button>
                                        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- END MODAL -->
        </validation-observer>
        <!-- END MODAL -->
        <validation-observer v-slot="{ invalid, pristine }" tag="form" class="material-form"  ref="editValidationObserver">
            <div class="containers" v-if="package_reserved != null">
                <h5>Foods Packages</h5>
                <div class="row">
                    <div class="col-md-3 text-center" v-for="(pack, index) in menus" :key="index">
                        <div><b>{{ pack.name }}</b></div>
                        <p>Php {{ formatPrice(pack.price) }}</p>
                        <div>
                            <a href="#" @click.prevent="showDetails(pack)" class="btn btn-sm btn-info">See Details</a>
                            <a href="#" @click="reserve(pack)" id="btn-reserve" class="btn btn-sm btn-success">Reserve Now</a>
                        </div>
                        <hr>
                    </div>
                </div>
                <hr>
                <h5>Tools & Equipments Packages</h5>
                <div class="row">
                    <div class="col-md-3 text-center" v-for="(pack, i) in tools" :key="i">
                        <div><b>{{ pack.name }}</b></div>
                        <p>Php {{ formatPrice(pack.price) }}</p>
                        <div>
                            <a href="#" @click.prevent="showDetails(pack)" class="btn btn-sm btn-info">See Details</a>
                            <a href="#" @click="reserve(pack)" id="btn-reserve" class="btn btn-sm btn-success">Reserve Now</a>
                        </div>
                        <hr>
                    </div>
                </div>
                <hr>
                <h3>Reservation Details</h3>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <validation-provider name="title" rules="required" :isInitial="true" v-slot="{ errors }">
                                <input type="text" v-model="package_reserved.title" name="title" class="form-control form-control1" placeholder="Enter Title">
                                <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                            </validation-provider>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <validation-provider name="event" rules="required" :isInitial="true" v-slot="{ errors }">
                                <v-select v-model="package_reserved.service_id" name="event" :options="services" placeholder="Select Services or Events" label="name" :reduce="service => service.id"></v-select>
                                <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                            </validation-provider>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-grou">
                            <validation-provider name="actual_date" rules="required" :isInitial="true" v-slot="{ errors }">
                            <date-picker 
                                v-model="package_reserved.actual_date" 
                                lang="en" 
                                value-type="format" 
                                type="datetime"
                                :confirm="true"
                                format="YYYY-MM-DD hh:mm a" 
                                name="actual_date" 
                                :disabled-date="notBeforeToday"
                                :default-value="new Date().setDate(new Date().getDate()+9)"
                                placeholder="Select date range" 
                                range 
                                appendToBody
                            ></date-picker>
                                <!-- <date-picker 
                                    v-model="package_reserved.actual_date" 
                                    value-type="format" 
                                    format="YYYY-MM-DD hh:mm a"
                                    type="datetime"
                                    name="actual_date"
                                    :confirm="true"
                                    placeholder="Select date"
                                    lang="en"
                                    @change="checkAvailability()"
                                    :disabled-date="notBeforeToday"
                                    :default-value="new Date(Date.now() + 12096e5)"
                                ></date-picker> -->
                                <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                            </validation-provider>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <validation-provider name="contact_number" rules="required|numeric|max:10" :isInitial="true" v-slot="{ errors }">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text form-control1" id="basic-addon3">+63</span>
                                    </div>
                                    <input type="text" class="form-control form-control1" name="contact_number" id="basic-url" v-model="package_reserved.contact_number" aria-describedby="basic-addon3" placeholder="ex. 9123456789">
                                    <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                </div>
                            </validation-provider>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="form-group">
                            <validation-provider name="province" rules="required" :isInitial="true" v-slot="{ errors }">
                                <v-select @input="getMunicipality(package_reserved.province_id)" v-model="package_reserved.province_id" name="province" :options="provinces" placeholder="Select Province" label="name" :reduce="province => province.id"></v-select>
                                <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                            </validation-provider>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <validation-provider name="municipality" rules="required" :isInitial="true" v-slot="{ errors }">
                                <v-select @input="getBarangay(package_reserved.municipality_id)" v-model="package_reserved.municipality_id" name="municipality" :options="municipalities" placeholder="Select Municipality" label="name" :reduce="municipality => municipality.id"></v-select>
                                <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                            </validation-provider>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            <validation-provider name="barangay" rules="required" :isInitial="true" v-slot="{ errors }">
                                <v-select v-model="package_reserved.barangay_id" name="municipality" :options="barangays" placeholder="Select Barangay" label="name" :reduce="barangay => barangay.id"></v-select>
                                <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                            </validation-provider>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <validation-provider name="venue" rules="required" :isInitial="true" v-slot="{ errors }">
                                <textarea placeholder="Enter House/Unit/Floor #, Bldg Name, Block or Lot #" v-model="package_reserved.address" name="venue" id="venue" cols="30" rows="3" class="form-control"></textarea>
                                <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                            </validation-provider>
                        </div>
                    </div>
                </div>
                <hr>
                <h3>Package Details</h3>
                <div id="package-details">
                    <li v-if="package_reserved.packages.length == 0" class="mb-1 text-center" style="list-style: none; padding: 5px; background-color: #fff;">
                        <div> - No Details -</div>
                    </li>
                    <li v-for="(pack, index) in package_reserved.packages" :key="index" class="mb-1" style="list-style: none; padding: 5px; background-color: #fff;">
                        <div class="row">
                            <div class="col-md-4">
                                <h5 class="mt-0">{{ pack.name }}</h5>
                                <div class="text-primary">P {{ formatPrice(pack.price) }}</div>
                            </div>
                            <div class="col-md-1">
                                <validation-provider name="quantity" rules="required" :isInitial="true" v-slot="{ errors }">
                                    <span>Quantity :</span>
                                    <input type="text" @input="getQuantity(pack)" v-on:keypress="isNumberKey($event, pack.quantity)" class="form-control input-sm" v-model="pack.quantity" name="quantity" id="quantity">
                                    <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                </validation-provider>
                            </div>
                            <div class="col-md-1">
                                <validation-provider name="days" rules="required" :isInitial="true" v-slot="{ errors }">
                                    <span>No of Days :</span>
                                    <input type="text" @input="getQuantity(pack)" v-on:keypress="isNumberKey($event, pack.days)" class="form-control input-sm" v-model="pack.days" name="days" id="days">
                                    <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                </validation-provider>
                            </div>
                            <div class="col-md-2">
                                <validation-provider v-show="pack.type == 'menu'" name="choice" rules="required" :isInitial="true" v-slot="{ errors }">
                                    <span>Meal selection :</span>
                                    <select name="choice" v-model="pack.choice" id="choice" class="form-control">
                                        <option value="breakfast">Breakfast</option>
                                        <option value="snackam">Snack (am)</option>
                                        <option value="lunch">Lunch</option>
                                        <option value="snackpm">Snack (pm)</option>
                                        <option value="dinner">Dinner</option>
                                    </select>
                                    <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                </validation-provider>
                            </div>
                            <div class="col-md-2 text-center">
                                <span>Total :</span>
                                <div style="font-size: 16px;">P {{ formatPrice(pack.total) }}</div>
                                <span v-show="er" class="text-danger error-text mt-2 w-100" style="font-size: 14px;">The total is above 5,000.00 pesos.</span>
                            </div>
                            <div class="col-md-2 text-center">
                                <a href="#" v-show="pack.type == 'menu'" @click.prevent="editDetails(pack)" class="btn btn-success btn-sm" style="margin: 15px 1px 0 1px;">Edit</a>
                                <a href="#" @click.prevent="cancelDetails(pack)" class="btn btn-danger btn-sm" style="margin: 15px 1px 0 1px;">Remove</a>
                            </div>
                        </div>
                    </li>
                </div>
                <div v-if="package_reserved.packages.length != 0" class="form-group text-right">
                    <!-- :disabled="invalid || er == true" -->
                    <button type="submit" id="submit"  @click.prevent="showSummary()" class="btn btn-primary">Update Reservation</button>
                    <!-- <button type="submit" id="submit" :disabled="invalid" class="btn btn-primary">Submit</button> -->
                </div>
            </div>
        </validation-observer>
    </section>
</template>

<script>
import Vue from 'vue'; 
import DatePicker from 'vue2-datepicker';
import { Carousel, Slide } from 'vue-carousel';
import ShowPackage from '../Packages/ShowPackage';

// const weeks = new Date(Date.now() + 12096e5);
const today = new Date();
const weeks = today.setDate(today.getDate()+9);
export default {
    components: {
        ShowPackage,
        DatePicker,
    },
    computed: {
        all_total() {
            return this.package_reserved.packages.reduce(function (t, num) {
                return t + Number(num.total);
            }, 0);
        },
        barangay_name()
        {
            if (this.package_reserved.barangay_id != null) {
                var that = this;
                return that.barangays.filter(function (m) {  return m.id === that.package_reserved.barangay_id })[0].name;
            }
        },
        municipality_name()
        {
            if (this.package_reserved.municipality_id != null) {
                var that = this;
                return that.municipalities.filter(function (m) {  return m.id === that.package_reserved.municipality_id })[0].name;
            }
        },
        province_name(){
            if (this.package_reserved.province_id != null) {
                var that = this;
                return that.provinces.filter(function (p) { return p.id === that.package_reserved.province_id })[0].name;
            }
        },
        service_name() {
            if (this.package_reserved.service_id != null) {
                var that = this;
                return that.services.filter(function (s) {  return s.id === that.package_reserved.service_id })[0].name;
            }
        },
        m_ammount() {
            if (this.package_reserved.municipality_id != null) {
                var that = this;
                return Number(that.municipalities.filter(function (m) {  return m.id === that.package_reserved.municipality_id })[0].price);
            } else {
                return 0.00;
            }
        }
    },
    created() {
        this.getPackages();
        this.getReservation();
        this.getServices();
        this.getProvinces();
        this.getCategories();
        this.getDisableDates();
    },
    data() {
        return {
            name: null,
            title: null,
            municipality: null,
            service: null,
            actual_date: null,
            contact_number: null,
            address: null,
            province: null,
            selectedPack: {
                lists:[]
            },
            isLoadingArray: [],
            categories: [],
            categoryFoods: [],
            provinces: [],
            services: [],
            provinces: [],
            municipalities: [],
            barangays: [],
            tools: [],
            menus: [],
            package_reserved: {
                packages: []
            },
            er: false,
            err: false,
            amount: null,
            isDisabled: false,
            isModal: false,
            disableDates: null
        }
    },
    methods: {
        cancelDetails(pack)
        {
            var that = this;
            bootbox.confirm({
                message: "Are you sure you want to remove <b>" + pack.name + "</b> package?",
                buttons: {
                    confirm: {
                        label: 'Yes',
                        className: 'btn-success'
                    },
                    cancel: {
                        label: 'No',
                        className: 'btn-danger'
                    }
                },

                callback: function (result) {
                    if (result) {
                        that.package_reserved.packages = _.remove(that.package_reserved.packages, (i) => {
                                                    return pack != i
                                                });
                    }
                }
            });
        },
        cancelCategory(cat, index)
        {
            if (cat.value != null) {
                this.$set(this.isLoadingArray, index, false)
            }
        },
        editCategory(cat, index){
            this.$set(this.isLoadingArray, index, true)
            this.getCategoryFoods(cat.category_id);
        },
        checkAmount()
        {
            if (this.package_reserved.amount_paid != 0) {
                let e75 = (this.all_total + this.m_ammount) * .75;
                if (this.amount < e75) {
                    this.err = true;
                $('#err-msg').html('The amount you input is lower than 75% total amount.');
                } else if (this.amount > (this.all_total + this.m_ammount)) {
                    this.err = true;
                    $('#err-msg').html('The amount you input is higher than total amount.');
                } else {
                    this.err = false;
                }
            }
        },
        editDetails(pack)
        {
            $('#edited-package').modal('show');
            this.selectedPack = pack;
            console.log('test');
        },
        getCategories()
        {
            axios.get('/admin/get-categories').then(response => {
                this.categories = response.data.categories;
            }).catch(e => {
                console.log(e);
            });
        },
        getCategoryFoods(id)
        {
            axios.get('/admin/get-category-foods', {
                params: {
                    id: id
                }
            }).then(response => {
                this.categoryFoods = response.data.categoryFoods;
            }).catch(e => {
                console.log(e);
            });
        },
        updateReservation()
        {
            this.isDisabled = true;
            axios.put('/reservations/' + this.id, {
                title: this.package_reserved.title,
                service_id: this.package_reserved.service_id,
                province_id: this.package_reserved.province_id,
                municipality_id: this.package_reserved.municipality_id,
                barangay_id: this.package_reserved.barangay_id,
                package: this.package_reserved.packages,
                address: this.package_reserved.address,
                start_actual_date: this.package_reserved.actual_date[0],
                end_actual_date: this.package_reserved.actual_date[this.package_reserved.actual_date.length - 1],
                contact_number: this.package_reserved.contact_number,
                pamount: this.amount,
                amount: this.all_total + this.m_ammount,
                delivery_fee: this.m_ammount,
            }).then(response => {
                if (response.data.success) {
                    this.$toastr.s(response.data.msg, 'Success');
                    $('#summary-package').modal('hide');
                } else {
                    this.$toastr.e(response.data.msg, 'Error');
                }
                this.isDisabled = false;
            }).catch(e => {
                console.log(e);
            })
        },
        isNumberKey(evt, amount)
        {
            let keyCode = (evt.keyCode ? evt.keyCode : evt.which);
            if ((keyCode < 48 || keyCode > 57) && (keyCode !== 46 || amount.indexOf('.') != -1)) { // 46 is dot
                evt.preventDefault();
            }
            if(amount!=null && amount.indexOf(".")>-1 && (amount.split('.')[1].length > 1)){
                evt.preventDefault();
            }
        },
        checkAvailability()
        {   
            var dialog = bootbox.dialog({ 
                            message: '<div class="text-center"><i class="fa fa-spin fa-spinner"></i> Checking for availability...</div>'
                        });

            axios.get('/date-checker', {
                params: {
                    date: this.actual_date
                }
            }).then(response => {
                    if(response.data.check) {
                        dialog.init(function(){
                            setTimeout(function(){
                                dialog.find('.bootbox-body').html('<span style="color:red;">The date you choose is fully book. Please change your schedule for reservation. Thanks!</span>');
                            }, 1000);
                        });
                        // bootbox.alert({
                        //     message: "The date you choose is fully book. Please re schedule your reservation. Thanks",
                        //     size: 'small'
                        // });
                        this.actual_date = null;
                    } else {
                        setTimeout(function(){
                            dialog.modal('hide');
                        }, 1000);
                    }
                
            });
        },
        getServices()
        {
            axios.get('/get-services').then(response => {
                this.services = response.data.services;
            }).catch(e => {
                console.log(e);
            });
        },
        getQuantity(pack) {
            pack.total = (pack.price * pack.quantity) * pack.days;
            if (pack.total < 5000) {
                this.er = true;
            } else {
                this.er = false;
            }
        },
        getReservation()
        {
            axios.get('/get-reservation/' + this.id + '/edit').then(response => {
                this.package_reserved = response.data.reservation;
                this.getMunicipality(this.package_reserved.province_id);
                this.getBarangay(this.package_reserved.municipality_id);
            });
        },
        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', '.')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        },
        getPackages()
        {
            axios.get('/get-packages').then(response => {
                this.tools = response.data.tools;
                this.menus = response.data.menus;
            }).catch(e => {
                console.log(e);
            });
        },
        getMunicipality(id) {
            axios.get('/get-municipalities', {
                params: {
                    id: id
                }
            }).then(response => {
                this.municipalities = response.data.municipalities;
                console.log(this.municipalities);
            }).catch(e => {
                console.log(e);
            });
        },
        getBarangay(id) {
            axios.get('/get-barangays', {
                params: {
                    id: id
                }
            }).then(response => {
                this.barangays = response.data.barangays;
            }).catch(e => {
                console.log(e);
            });
        },
        getProvinces()
        {
            axios.get('/get-provinces').then(response => {
                this.provinces = response.data.provinces;
            }).catch(e => {
                console.log(e);
            });
        },
        reserve(pack)
        {
            $('html,body').animate({
                scrollTop: $("#package-details").offset().top},
            'slow');

            var qty = 0;

            if (pack.type == 'tools') {
                qty = 1;
            } else {
                qty = 25;
            }
            this.package_reserved.packages.push({
                'id' : pack.id,
                'name' : pack.name,
                'price' : pack.price,
                'description' : pack.description,
                'quantity' : qty,
                'total' : pack.price * qty,
                'lists' : pack.lists,
                'type' : pack.type
            });
        },
        showSummary()
        {
            this.isModal = true;
            $('#summary-package').modal('show');
            let a = ((this.all_total + this.m_ammount) * .75) - this.package_reserved.amount_paid;
            console.log(a);
            if (a < 0 ) {
                this.amount = 0;
            } else {
                this.amount = a;
            }
        },
        showDetails(pack) {
            $('#show-package').modal('show');
            this.$root.$emit('package:show', pack, 'client');
        },
        getDisableDates() {
            axios.get('/date-checker', {
                params: {
                    id: this.id
                }
            }).then(response => {
                this.disableDates = response.data.disabledDates;
            });
        },
        notBeforeToday(date) {
            var pass_dates = date < weeks;
            var string = moment(date).format('YYYY-MM-DD');
            
            return pass_dates || this.disableDates.indexOf(string) != -1;
        },
        notAfterToday(date) {
            return date > today;
        },
    },
    props: ['id']
}
</script>

<style>

</style>