<template>
  
    <!-- Main content -->
    <section class="content" style="padding-top: 20px;">
        <!-- <AddPackage></AddPackage>
        <DeletePackage></DeletePackage>
        <ShowPackage></ShowPackage> -->
        <!-- MODAL -->
        <div class="modal fade" id="confirm-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered form-dark" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button> -->
                        <!-- <h2>Update Status</h2> -->
                        <validation-observer v-slot="{ invalid, pristine }" tag="form" class="user-form" @submit.prevent="updateStatus" ref="updateStatussValidationObserver">
                            <div class="form-group text-center">
                                <div class="col-md-12">
                                    <div id="text" style="font-size: 30px;"></div>
                                </div>
                            </div>
                            <div class="form-group" v-if="status != 'approved' && status != 'completed'">
                                <div class="col-md-12">
                                    <validation-provider name="notes" rules="required" :isInitial="true" v-slot="{ errors }">
                                        <textarea name="notes" id="notes" v-model="cnotes" cols="30" rows="10" class="form-control" placeholder="Enter some reason/description"></textarea>
                                        <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                    </validation-provider>
                                </div>
                            </div>
                            <div class="form-group text-center" v-if="status == 'complete'">
                                <div style="color: red;">Make sure that all payment are complete.</div>
                            </div>
                            <hr>
                            <div class="form-group">
                                <div class="col-md-12 text-right">
                                    <button type="submit" :disabled="invalid" class="btn btn-sm btn-primary"> Yes </button>
                                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal" aria-label="Close"> No </button>
                                </div>
                            </div>
                        </validation-observer>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="add-payment-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered form-dark" role="document">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <h2>Add Payment</h2>
                        <validation-observer v-slot="{ invalid, pristine }" tag="form" class="user-form" @submit.prevent="addPayment" ref="updateStatussValidationObserver">
                            <div class="form-group">
                                <div class="col-md-12">
                                    <p style="color:red;" v-if="reservation != null">Note : Make sure the amount you paid is higher or equal to 75% (<b>{{ formatPrice(reservation.amount * .75) }}</b>) of the total amount. Your total amount is <b>{{ formatPrice(reservation.amount) }}</b> pesos.</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <validation-provider name="status" rules="required" :isInitial="true" v-slot="{ errors }">
                                        <date-picker 
                                            v-model="payment_date"
                                            value-type="format" 
                                            format="YYYY-MM-DD"
                                            type="date"
                                            name="birthdate"
                                            placeholder="Receipt Date"
                                            lang="en"
                                            :disabled-date="notAfterToday"
                                        ></date-picker>
                                        <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                    </validation-provider>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <validation-provider name="refference_no" rules="required" :isInitial="true" v-slot="{ errors }">
                                        <input type="text" v-model="refference_no" name="refference_no" id="refference_no" class="form-control" placeholder="Enter Reference No.">
                                        <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                    </validation-provider>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <validation-provider name="amount" rules="required" :isInitial="true" v-slot="{ errors }">
                                        <input type="text" v-model="amount" v-on:keypress="isNumberKey($event)" name="amount" id="amount" class="form-control" placeholder="Enter Amount">
                                        <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                    </validation-provider>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <validation-provider name="file" rules="required|image" :isInitial="true" ref="provider" v-slot="{ validate, errors }">
                                        <input type="file" @change="onImageChange" name="file" id="file" ref="file" class="form-control">
                                        <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                    </validation-provider>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <validation-provider name="notes" rules="required" :isInitial="true" v-slot="{ errors }">
                                        <textarea name="notes" id="notes" v-model="notes" cols="30" rows="5" class="form-control" placeholder="Note(s)..."></textarea>
                                        <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                    </validation-provider>
                                </div>
                            </div>
                            <div class="form-group" v-if="!loading">
                                <div class="col-md-12 text-right">
                                    <button type="submit" :disabled="invalid" class="btn btn-sm btn-primary"> Add Payment </button>
                                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal" aria-label="Close"> Close </button>
                                </div>
                            </div>
                            <div class="form-group" v-else>
                                <div class="col-md-12 text-right">
                                    <button type="submit" disabled class="btn btn-sm btn-primary"> Please wait... </button>
                                    <button type="button" disabled class="btn btn-sm btn-danger" data-dismiss="modal" aria-label="Close"> Close </button>
                                </div>
                            </div>
                        </validation-observer>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MODAL -->
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-11">
                                <h3 class="card-title">Waiting Reservations</h3>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="waiting-reservation-table" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Address</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="reserve in waiting_reservations">
                                <td><a :href="'/admin/reservations/' + reserve.orig_id" class="btn btn-xs btn-info">{{ reserve.id }}</a></td>
                                <td>{{ reserve.username }}</td>
                                <td>{{ reserve.address }}</td>
                                <td class="text-center">
                                <span v-if="reserve.status == 'waiting'" style="color: #ffc107;">waiting</span>
                                <span v-if="reserve.status == 'pending'" style="color: #1dbb97;">pending</span>
                                <span v-if="reserve.status == 'approved'" style="color: #2724e2;">approved</span>
                                <span v-if="reserve.status == 'completed'" style="color: #1dca42;">completed</span>
                                <span v-if="reserve.status == 'cancelling'" style="color: #8a2be2;">cancelling</span>
                                <span v-if="reserve.status == 'cancelled'" style="color: #e01d41;">cancelled</span>
                                </td>
                                <td class="text-center">
                                <a href="#" v-if="reserve.amount > reserve.amount_paid && reserve.status != 'cancelled'" class="btn btn-xs btn-primary" @click.prevent="showAddModal(reserve)">Add Payment</a> 
                                <a href="#" v-if="reserve.status == 'waiting' && reserve.time < 8" class="btn btn-xs btn-danger" @click.prevent="showDeleteModal(reserve)">Cancel</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-11">
                                <h3 class="card-title">Pending Reservations</h3>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="pending-reservation-table" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Address</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="reserve in pending_reservations">
                                <td><a :href="'/admin/reservations/' + reserve.orig_id" class="btn btn-xs btn-info">{{ reserve.id }}</a></td>
                                <td>{{ reserve.username }}</td>
                                <td>{{ reserve.address }}</td>
                                <td class="text-center">
                                <span v-if="reserve.status == 'waiting'" style="color: #ffc107;">waiting</span>
                                <span v-if="reserve.status == 'pending'" style="color: #1dbb97;">pending</span>
                                <span v-if="reserve.status == 'approved'" style="color: #2724e2;">approved</span>
                                <span v-if="reserve.status == 'completed'" style="color: #1dca42;">completed</span>
                                <span v-if="reserve.status == 'cancelling'" style="color: #8a2be2;">cancelling</span>
                                <span v-if="reserve.status == 'cancelled'" style="color: #e01d41;">cancelled</span>
                                </td>
                                <td class="text-center">
                                <a href="#" v-if="reserve.amount > reserve.amount_paid && reserve.status != 'cancelled'" class="btn btn-xs btn-primary" @click.prevent="showAddModal(reserve)">Add Payment</a> 
                                <a href="#" v-if="reserve.status == 'waiting' && reserve.time < 8" class="btn btn-xs btn-danger" @click.prevent="showDeleteModal(reserve)">Cancel</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-11">
                                <h3 class="card-title">Approved Reservations</h3>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="approved-reservation-table" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Address</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="reserve in approved_reservations">
                                <td><a :href="'/admin/reservations/' + reserve.orig_id" class="btn btn-xs btn-info">{{ reserve.id }}</a></td>
                                <td>{{ reserve.username }}</td>
                                <td>{{ reserve.address }}</td>
                                <td class="text-center">
                                <span v-if="reserve.status == 'waiting'" style="color: #ffc107;">waiting</span>
                                <span v-if="reserve.status == 'pending'" style="color: #1dbb97;">pending</span>
                                <span v-if="reserve.status == 'approved'" style="color: #2724e2;">approved</span>
                                <span v-if="reserve.status == 'completed'" style="color: #1dca42;">completed</span>
                                <span v-if="reserve.status == 'cancelling'" style="color: #8a2be2;">cancelling</span>
                                <span v-if="reserve.status == 'cancelled'" style="color: #e01d41;">cancelled</span>
                                </td>
                                <td class="text-center">
                                <a href="#" v-if="reserve.amount > reserve.amount_paid && reserve.status != 'cancelled'" class="btn btn-xs btn-primary" @click.prevent="showAddModal(reserve)">Add Payment</a> 
                                <a href="#" v-if="reserve.status == 'waiting' && reserve.time < 8" class="btn btn-xs btn-danger" @click.prevent="showDeleteModal(reserve)">Cancel</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-11">
                                <h3 class="card-title">Completed Reservations</h3>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="completed-reservation-table" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Address</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="reserve in completed_reservations">
                                <td><a :href="'/admin/reservations/' + reserve.orig_id" class="btn btn-xs btn-info">{{ reserve.id }}</a></td>
                                <td>{{ reserve.username }}</td>
                                <td>{{ reserve.address }}</td>
                                <td class="text-center">
                                <span v-if="reserve.status == 'waiting'" style="color: #ffc107;">waiting</span>
                                <span v-if="reserve.status == 'pending'" style="color: #1dbb97;">pending</span>
                                <span v-if="reserve.status == 'approved'" style="color: #2724e2;">approved</span>
                                <span v-if="reserve.status == 'completed'" style="color: #1dca42;">completed</span>
                                <span v-if="reserve.status == 'cancelling'" style="color: #8a2be2;">cancelling</span>
                                <span v-if="reserve.status == 'cancelled'" style="color: #e01d41;">cancelled</span>
                                </td>
                                <td class="text-center">
                                <a href="#" v-if="reserve.amount > reserve.amount_paid && reserve.status != 'cancelled'" class="btn btn-xs btn-primary" @click.prevent="showAddModal(reserve)">Add Payment</a> 
                                <a href="#" v-if="reserve.status == 'waiting' && reserve.time < 8" class="btn btn-xs btn-danger" @click.prevent="showDeleteModal(reserve)">Cancel</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-11">
                                <h3 class="card-title">Cancelling Reservations</h3>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="cancelling-reservation-table" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Address</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="reserve in cancelling_reservations">
                                <td><a :href="'/admin/reservations/' + reserve.orig_id" class="btn btn-xs btn-info">{{ reserve.id }}</a></td>
                                <td>{{ reserve.username }}</td>
                                <td>{{ reserve.address }}</td>
                                <td class="text-center">
                                <span v-if="reserve.status == 'waiting'" style="color: #ffc107;">waiting</span>
                                <span v-if="reserve.status == 'pending'" style="color: #1dbb97;">pending</span>
                                <span v-if="reserve.status == 'approved'" style="color: #2724e2;">approved</span>
                                <span v-if="reserve.status == 'completed'" style="color: #1dca42;">completed</span>
                                <span v-if="reserve.status == 'cancelling'" style="color: #8a2be2;">cancelling</span>
                                <span v-if="reserve.status == 'cancelled'" style="color: #e01d41;">cancelled</span>
                                </td>
                                <td class="text-center">
                                <a href="#" v-if="reserve.amount > reserve.amount_paid && reserve.status != 'cancelled'" class="btn btn-xs btn-primary" @click.prevent="showAddModal(reserve)">Add Payment</a> 
                                <a href="#" v-if="reserve.status == 'waiting' && reserve.time < 8" class="btn btn-xs btn-danger" @click.prevent="showDeleteModal(reserve)">Cancel</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-11">
                                <h3 class="card-title">Cancelled Reservations</h3>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="cancelled-reservation-table" class="table table-bordered table-striped">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Address</th>
                                <th class="text-center">Status</th>
                                <th class="text-center">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="reserve in cancelled_reservations">
                                <td><a :href="'/admin/reservations/' + reserve.orig_id" class="btn btn-xs btn-info">{{ reserve.id }}</a></td>
                                <td>{{ reserve.username }}</td>
                                <td>{{ reserve.address }}</td>
                                <td class="text-center">
                                <span v-if="reserve.status == 'waiting'" style="color: #ffc107;">waiting</span>
                                <span v-if="reserve.status == 'pending'" style="color: #1dbb97;">pending</span>
                                <span v-if="reserve.status == 'approved'" style="color: #2724e2;">approved</span>
                                <span v-if="reserve.status == 'completed'" style="color: #1dca42;">completed</span>
                                <span v-if="reserve.status == 'cancelling'" style="color: #8a2be2;">cancelling</span>
                                <span v-if="reserve.status == 'cancelled'" style="color: #e01d41;">cancelled</span>
                                </td>
                                <td class="text-center">
                                <a href="#" v-if="reserve.amount > reserve.amount_paid && reserve.status != 'cancelled'" class="btn btn-xs btn-primary" @click.prevent="showAddModal(reserve)">Add Payment</a> 
                                <a href="#" v-if="reserve.status == 'waiting' && reserve.time < 8" class="btn btn-xs btn-danger" @click.prevent="showDeleteModal(reserve)">Cancel</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
            <!-- /.card -->
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-12">
                                <h3 class="card-title">Disable Date</h3>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="date">Date</label>
                                    <input type="date" class="form-control" id="date" v-model="d_date">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <button class="btn btn-primary" :disabled="d_date == null" @click.prevent="disabledDate()">Disable</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-12">
                                <h3 class="card-title">Enable Date</h3>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="date">Date</label>
                                    <select name="date" id="date" v-model="e_date" class="form-control">
                                        <option v-for="disabledDate in disabledDates" :value="disabledDate.id">{{ disabledDate.d_date }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12">
                                    <button class="btn btn-primary" :disabled="e_date == null" @click.prevent="enabledDate()">Enable</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.col -->
            </div>
        </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
</template>

<script>
import Vue from 'vue'; 
import DatePicker from 'vue2-datepicker';

const today = new Date();

export default {
    created() {
        this.getReservations();
        this.getDisabledDate();
    },
    components: {
        DatePicker
    },
    data() {
        return {
            d_date: null,
            waiting_reservations: [],
            pending_reservations: [],
            approved_reservations: [],
            completed_reservations: [],
            cancelling_reservations: [],
            cancelled_reservations: [],
            reservation: null,
            payment_date: null,
            refference_no: null,
            amount: null,
            notes: null,
            reservation: null,
            file: null,
            loading: false,

            status: null,
            cnotes: 'Your Reservation is cancelled because you did not send any payment proof. The deadline is before 1 week of the effective event date.',
            id: null,
            disabledDates: [],
            e_date: null
        }
    },
    methods: {
        enabledDate()
        {
            axios.delete('/disable-date/' + this.e_date).then(response => {
                if (response.data.success) {
                    this.$toastr.s(response.data.msg, 'Success');
                } else {
                    this.$toastr.e(response.data.msg, 'Error');
                }
            });
            this.getDisabledDate();
        },
        getDisabledDate()
        {
            axios.get('/get-disabled-dates').then(response => {
                this.disabledDates = response.data.dates;
            });
        },
        disabledDate()
        {
            axios.post('/disable-date', {
                d_date: this.d_date
            }).then(response => {
                if (response.data.success) {
                    this.$toastr.s(response.data.msg, 'Success');
                } else {
                    this.$toastr.e(response.data.msg, 'Error');
                }
            });
            this.d_date = null;
        },
        showDeleteModal(reserve)
        {
            this.id = reserve.orig_id;
            
            $('#text').html('Do you want to cancel reservation?');
            $('#confirm-modal').modal('show');
        },
        updateStatus()
        {
            axios.put('/admin/update-status/' + this.id, {
                status: this.status,
                notes: this.cnotes
            }).then(response => {
                if (response.data.success) {
                    this.$toastr.s(response.data.msg, 'Success');
                } else {
                    this.$toastr.e(response.data.msg, 'Error');
                }
                $('#confirm-modal').modal('hide');
            });
        },
        addPayment()
        {
        
            this.loading = true;
            let formData = new FormData();
            formData.append('file', this.file);
            
            axios.post('/admin-send-payment', formData, {
                params: {
                    reservation_id: this.reservation.orig_id,
                    payment_date: this.payment_date,
                    amount: this.amount,
                    description: this.notes,
                    refference_no: this.refference_no,
                    type: 'paid',
                    status: 'complete',
                }
            }).then(response => {
                if (response.data.success) {
                    this.$toastr.s(response.data.msg, 'Success');
                    this.resetForm();
                    $('#add-payment-modal').modal('hide');
                    // this.$root.$emit('payment:refresh');
                } else {
                    this.$toastr.e(response.data.msg, 'Error');
                }
                this.loading = false;
            }).catch(e => {
                console.log(e);
            });
        },
        resetForm() {
            this.payment_date = null;
            this.notes = null;
            this.refference_no = null;
            this.file = null;

            this.$nextTick(() => {
                this.$refs.updateStatussValidationObserver.reset();
            });
        },
        getReservations() {
            axios.get('/admin/get-reservations', {
                params : {
                date: this.date
                }
            }).then(response => {
                response.data.reservations.forEach(r => {
                    if (r.status == 'waiting') {
                        this.waiting_reservations.push(r);
                    }
                    if (r.status == 'pending') {
                        this.pending_reservations.push(r);
                    }
                    if (r.status == 'approved') {
                        this.approved_reservations.push(r);
                    }
                    if (r.status == 'completed') {
                        this.completed_reservations.push(r);
                    }
                    if (r.status == 'cancelling') {
                        this.cancelling_reservations.push(r);
                    }
                    if (r.status == 'cancelled') {
                        this.cancelled_reservations.push(r);
                    }
                });

                setTimeout(() => {
                    $('#waiting-reservation-table').DataTable({
                        "order": [[ 0, "desc" ]]
                    });
                }, 100);
                setTimeout(() => {
                    $('#pending-reservation-table').DataTable({
                        "order": [[ 0, "desc" ]]
                    });
                }, 100);
                setTimeout(() => {
                    $('#approved-reservation-table').DataTable({
                        "order": [[ 0, "desc" ]]
                    });
                }, 100);
                setTimeout(() => {
                    $('#completed-reservation-table').DataTable({
                        "order": [[ 0, "desc" ]]
                    });
                }, 100);
                setTimeout(() => {
                    $('#cancelling-reservation-table').DataTable({
                        "order": [[ 0, "desc" ]]
                    });
                }, 100);
                setTimeout(() => {
                    $('#cancelled-reservation-table').DataTable({
                        "order": [[ 0, "desc" ]]
                    });
                }, 100);
            }).catch(e => {
                console.log(e);
            });
        },
        showAddModal(reserve)
        {
            this.reservation = reserve;
            this.amount = Number(reserve.amount) - Number(reserve.amount_paid);
            $('#add-payment-modal').modal('show');
        },
        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', '.')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        },
        notAfterToday(date) {
            return date > today;
        },
        async onImageChange(e) {
            console.log(e);
            const { valid } = await this.$refs.provider.validate(e);

            if (valid) {
                this.file = e.target.files[0];
            }
        },
    },
    props: ['date']
}
</script>

<style>

</style>