<template>
    <div class="text-center section">
        <div class="row m-4">
            <div class="col-md-12">
                <v-calendar
                class="custom-calendar max-w-full"
                :masks="masks"
                :attributes="attributes"
                disable-page-swipe
                is-expanded
                >
                    <template v-slot:day-content="{ day, attributes }">
                        <div class="flex flex-col h-full z-10 overflow-hidden" style="min-height: 80px; border: 1px solid #00000030;">
                        <span class="day-label text-sm text-gray-900">{{ day.day }}</span>
                        <div class="flex-grow overflow-y-auto overflow-x-auto">
                            <p v-for="(attr, index) in attributes" :key="index" class="text-xs leading-tight rounded-sm p-1 mt-0 mb-1" :class="attr.customData.class">
                                {{ attr.customData.description }}
                            </p>
                        </div>
                        </div>
                    </template>
                </v-calendar>
            </div>
        </div>
    </div>
</template>

<script>
import Vue from 'vue'; 
import VCalendar from 'v-calendar';

Vue.use(VCalendar, {
  componentPrefix: 'vc',  // Use <vc-calendar /> instead of <v-calendar />
});
const month = new Date().getMonth();
const year = new Date().getFullYear();

export default {
    created()
    {
        this.getReservationDate();
    },
    computed: {
        calendardata()
        {
            var num = 0;
            var data = [
                this.attributes.map(attr => ([
                    {
                        key: num + 1,
                        customData: {
                            title: attr.description,
                            class: 'bg-red-600 text-white',
                        },
                        dates: new Date(year, month, 2),
                    },
                ])),
            ];

            return data[0];
        }
    },
    data() {
        return {
        masks: {
            weekdays: 'WWW',
        },
        attributes: [],
        };
    },
    methods: {
        getReservationDate()
        {
            axios.get('/get-calendar-date').then(response => {
                this.attributes = response.data.attributes;
            });
        },
  }
};
</script>

<style lang="scss" scoped>
::-webkit-scrollbar {
  width: 0px;
}
::-webkit-scrollbar-track {
  display: none;
}
.custom-calendar.vc-container {
  --day-border: 1px solid #b8c2cc;
  --day-border-highlight: 1px solid #b8c2cc;
  --day-width: 90px;
  --day-height: 90px;
  --weekday-bg: #f8fafc;
  --weekday-border: 1px solid #eaeaea;
  border-radius: 0;
  width: 100%;
  & .vc-header {
    background-color: #f1f5f8;
    padding: 10px 0;
  }
  & .vc-weeks {
    padding: 0;
  }
  & .vc-weekday {
    background-color: var(--weekday-bg);
    border-bottom: var(--weekday-border);   
    border-top: var(--weekday-border);
    padding: 5px 0;
  }
  & .vc-day {
    padding: 0 5px 3px 5px;
    text-align: left;
    height: 90px !important;
    // height: var(--day-height);
    min-width: var(--day-width);
    background-color: white;
    &.weekday-1,
    &.weekday-7 {
      background-color: #eff8ff;
    }
    &:not(.on-bottom) {
      border-bottom: var(--day-border);
      &.weekday-1 {
        border-bottom: var(--day-border-highlight);
      }
    }
    &:not(.on-right) {
      border-right: var(--day-border);
    }
  }
  & .vc-day-dots {
    margin-bottom: 5px;
  }
}
</style>