<template>
    <div class="modal fade" id="setting-modal">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Account Setting</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="font-size: 16px;" v-if="editUser != null">
                    <validation-observer v-slot="{ invalid, pristine }" tag="form" class="material-form" @submit.prevent="updateAdmin"  ref="settingValidationObserver">
                        <div class="row">
                            <div class="col-md-6">
                                <validation-provider name="firstname" rules="required|min:2" :isInitial="true" v-slot="{ errors }">
                                    <div class="form-group">
                                            <input id="firstname" type="text" name="firstname" v-model="editUser.firstname" class="form-control" placeholder="Enter firstname">
                                            <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                        </div>
                                </validation-provider>
                            </div>
                            <div class="col-md-6">
                                <validation-provider name="lastname" rules="required|min:2" :isInitial="true" v-slot="{ errors }">
                                    <div class="form-group">
                                            <input id="lastname" type="text" name="lastname" v-model="editUser.lastname" class="form-control" placeholder="Enter lastname">
                                            <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                        </div>
                                </validation-provider> 
                            </div>
                            <div class="col-md-6">
                                <validation-provider name="email" rules="required|email" :isInitial="true" v-slot="{ errors }">
                                    <div class="form-group">
                                            <input id="email" type="email" name="email" v-model="editUser.email" class="form-control" placeholder="Enter email">
                                            <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                        </div>
                                </validation-provider> 
                            </div>
                            <div class="col-md-6">
                                <validation-provider name="contact_number" rules="required|numeric|max:10" :isInitial="true" v-slot="{ errors }">
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text form-control1">+63</span>
                                            </div>
                                            <input type="text" class="form-control form-control1" name="contact_number" id="basic-url" v-model="editUser.contact_number" aria-describedby="basic-addon3" placeholder="ex. 9123456789">
                                            <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                        </div>
                                    </div>
                                </validation-provider>
                            </div>
                            <div class="col-md-12">
                                <validation-provider name="address" rules="required|min:5" :isInitial="true" v-slot="{ errors }">
                                    <div class="form-group">
                                        <textarea name="address" id="address" v-model="editUser.address" class="form-control" cols="30" rows="5" placeholder="Enter address"></textarea>
                                        <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                    </div>
                                </validation-provider> 
                            </div>
                        </div>
                        <hr>
                        <h5>Update Password</h5>
                        <div class="row">
                            <div class="col-md-6">
                                <validation-provider name="password" rules="min:8" vid="confirmation" :isInitial="true" v-slot="{ errors }">
                                    <div class="form-group">
                                            <input id="password" type="password" name="password" v-model="password" class="form-control" placeholder="Enter new passwod">
                                            <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                        </div>
                                </validation-provider> 
                            </div>
                            <div class="col-md-6">
                                <validation-provider name="password_confirmation" rules="confirmed:confirmation|min:8" :isInitial="true" v-slot="{ errors }">
                                    <div class="form-group">
                                            <input id="password-confirm" type="password" name="password_confirmation" v-model="cpassword" class="form-control" placeholder="Enter confirm passwod">
                                            <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                        </div>
                                </validation-provider> 
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button type="submit" :disabled="invalid" class="btn btn-sm btn-primary">Update Account</button>
                                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </validation-observer>
                </div>
            </div>
        <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
</template>

<script>
export default {
    data() {
        return {
            editUser: null,
            password: null,
            cpassword: null,
        }
    },
    methods: {
        updateAdmin()
        {
            axios.put('/admin/update-admin/' + this.editUser.id, {
                firstname: this.editUser.firstname,
                lastname: this.editUser.lastname,
                email: this.editUser.email,
                address: this.editUser.address,
                contact_number: this.editUser.contact_number,
                password: this.password
            }).then(response => {
                if (response.data.success) {
                    this.$toastr.s(response.data.msg, 'Success');
                } else {
                    this.$toastr.e(response.data.msg, 'Error');
                }
                
                $("#setting-modal").modal('hide');
            });
        }
    },
    mounted() {
        var _this = this;

        this.$root.$on('user:edit', function (user) {
            _this.editUser = user;
        });
    },
}   
</script>

<style>

</style>