<template>
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Monthly Reservation Status Report</h5>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">
                        <strong>{{ this.month }} Reservations</strong>
                    </p>

                    <div class="chart">
                        <!-- Sales Chart Canvas -->
                        <canvas id="barChart" height="180" style="height: 180px;"></canvas>
                    </div>
                <!-- /.chart-responsive -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
    </div>
    <!-- /.card -->
</template>

<script>
export default {
    created() {
        this.getMonthlyReport();
    },
    data() {
        return {
            gdata: null,
            month: null
        }
    },
    methods: {
        getMonthlyReport()
        {
            axios.get('/admin/get-bar-report').then(response => {
                this.gdata = response.data.data;
                this.month = response.data.month;
                this.getChart();
            });
        },
        getChart()
        {
            var salesChartCanvas = $('#barChart').get(0).getContext('2d')

            var salesChartData = {
                labels  : ['Waiting', 'Pending', 'Approved', 'Completed', 'Cancelled'],
                datasets: [
                {
                    label               : 'Reservations ',
                    backgroundColor     : ['#ffc107', '#1dbb97', '#2724e2', '#1dca42', '#e01d41'],
                    borderColor         : 'rgba(60,141,188,0.8)',
                    pointRadius          : false,
                    pointColor          : '#3b8bba',
                    pointStrokeColor    : 'rgba(60,141,188,1)',
                    pointHighlightFill  : '#fff',
                    pointHighlightStroke: 'rgba(60,141,188,1)',
                    data                : this.gdata
                },
                ]
            }

            var salesChartOptions = {
                maintainAspectRatio : false,
                responsive : true,
                legend: {
                display: false
                },
                scales: {
                xAxes: [{
                    gridLines : {
                    display : true,
                    }
                }],
                yAxes: [{
                    gridLines : {
                    display : true,
                    }
                }]
                }
            }

            // This will get the first returned node in the jQuery collection.
            var salesChart = new Chart(salesChartCanvas, { 
                type: 'bar', 
                data: salesChartData, 
                options: salesChartOptions
                }
            )
        }
    },
}
</script>

<style>

</style>