<template>
    <!-- Main content -->
    <section class="content" style="padding-top: 20px;">
      <div class="container-fluid">
        
        <InfoBox></InfoBox>
        <div class="row">
          <div class="col-md-6">
            <ReportChart></ReportChart>
          </div>
          <div class="col-md-6">
            <BarChart></BarChart>
          </div>
          <!-- /.col -->
        </div>
        <div class="row">
          <div class="col-md-8">
            <LatestReservation></LatestReservation>
          </div>
          <div class="col-md-4">
            <Packages></Packages>
          </div>
        </div>
        <!-- /.row -->
      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
</template>

<script>
import InfoBox from './Infobox';
import LatestReservation from './LatestReservation';
import ReportChart from './ReportChart';
import BarChart from './BarChart';
import Packages from './PackageLists';
export default {
  components: {
    InfoBox,
    LatestReservation,
    Packages,
    ReportChart,
    BarChart,
  }
}
</script>

<style>

</style>