<template>

        <div class="row">
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{ formatPrice(noReservations) }}</h3>

                <p>Today's Reservations</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
              <a :href="'/admin/reservations?date=' + date " target="_blank" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{ formatPrice(totalReservations) }}</h3>

                <p>Total Reservations</p>
              </div>
              <div class="icon">
                <i class="ion ion-stats-bars"></i>
              </div>
              <a href="/admin/reservations" target="_blank" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>{{ formatPrice(newUsers.length) }}</h3>

                <p>New Users</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
              <a :href="'/admin/users?date=' + date" target="_blank" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small box -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>{{ formatPrice(totalUsers.length) }}</h3>

                <p>Total Users</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-stalker"></i>
              </div>
              <a href="/admin/users" target="_blank" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
            </div>
          </div>
    </div>
    <!-- /.row -->
</template>

<script>
export default {
    created() {
        this.getUsers();
        this.getReservations();
    },
    data() {
        return {
          date: new Date().getFullYear() + '-' + (new Date().getMonth()+1) + '-' + new Date().getDate(),
          totalUsers: [],
          newUsers: [],
          totalReservations: 0,
          noReservations: 0,
        }
    },
    methods: {
        formatPrice(value) {
            let val = (value/1).toFixed(0).replace('.', '.')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        },
        getUsers()
        {
            axios.get('/admin/get-users').then(response => {
                this.totalUsers = response.data.totalUsers;
                this.newUsers = response.data.newUsers;
            }).catch(e => {
                console.log(e);
            });
        },
        getReservations()
        {
          axios.get('/admin/get-reservations').then(response => {
            this.noReservations = response.data.today_reservations;
            this.totalReservations = response.data.reservations.length;
          }).catch(e => {
            console.log(e);
          });
        }
    },
}
</script>

<style>

</style>