<template>
  <!-- /.row -->
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">Latest Reservations</h3>

        <!-- <div class="card-tools">
          <div class="input-group input-group-sm" style="width: 150px;">
            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
            <div class="input-group-append">
              <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </div> -->
      </div>
      <!-- /.card-header -->
      <!-- <div class="card-body table-responsive pb-2" style="height: 330px;"> -->
      <div class="card-body table-responsive pb-2">
        <div class="col-md-12">
          <table id="reservation-table" class="table table-head-fixed text-nowrap">
            <thead>
              <tr>
                <th>User</th>
                <th>Address</th>
                <th>Date</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="reserve in reservations">
                <td><a :href="'/notifications/' + reserve.orig_id ">{{ reserve.username }}</a></td>
                <td>{{ reserve.address }}</td>
                <td>{{ reserve.date }}</td>
                <td>
                  <span v-if="reserve.status == 'waiting'" style="color: #ffc107;">waiting</span>
                  <span v-if="reserve.status == 'pending'" style="color: #1dbb97;">pending</span>
                  <span v-if="reserve.status == 'approved'" style="color: #2724e2;">approved</span>
                  <span v-if="reserve.status == 'completed'" style="color: #1dca42;">completed</span>
                  <span v-if="reserve.status == 'cancelling'" style="color: #8a2be2;">cancelling</span>
                  <span v-if="reserve.status == 'cancelled'" style="color: #e01d41;">cancelled</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  <!-- /.row -->
</template>

<script>
export default {
    created() {
        this.getLatestReservations();
    },
    data() {
        return {
            reservations: [],
        }
    },
    methods: {
        getLatestReservations()
        {
          axios.get('/admin/get-reservations').then(response => {
            this.reservations = response.data.reservations;
            setTimeout(() => {
                $('#reservation-table').DataTable({
                    "order": [[ 2, "desc" ]]
                });
            }, 100);
          }).catch(e => {
            console.log(e);
          });
        }
    },
}
</script>

<style>

</style>