<template>
    <!-- PRODUCT LIST -->
    <div class="card">
        <ShowPackage></ShowPackage>
        <div class="card-header">
        <h3 class="card-title">Packages</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body p-0">
        <ul class="products-list product-list-in-card pl-2 pr-2">
            <li class="item" v-for="pack in packages">
                <!-- <div class="product-img">
                    <img src="/assets/img/default-150x150.png" alt="Product Image" class="img-size-50">
                </div> -->
                <div class="product-infos">
                    <div class="row">
                        <div class="col-8">
                            <a href="#" @click.prevent="showShowModal(pack)" class="product-title">{{ pack.name }}</a>
                        </div>
                        <div class="col-4">
                            <span class="badge badge-warning float-right">Php {{ formatPrice(pack.price) }}</span>
                        </div>
                    </div>
                    <span class="product-description" style="max-height: 30px;" v-html="pack.description">
                    </span>
                </div>
            </li>
            <!-- /.item -->
        </ul>
        </div>
        <!-- /.card-body -->
        <!-- <div class="card-footer text-center">
        <a href="javascript:void(0)" class="uppercase">View All Packages</a>
        </div> -->
        <!-- /.card-footer -->
    </div>
    <!-- /.card -->
</template>

<script>
import ShowPackage from '../Packages/ShowPackage';

export default {
    created() {
        this.getPackages();
    },
    components: {
        ShowPackage,
    },
    data() {
        return {
            packages: [],
        }
    },
    methods: {
        formatPrice(value) {
            let val = (value/1).toFixed(2).replace('.', '.')
            return val.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")
        },
        getPackages()
        {
            axios.get('/admin/get-packages').then(response => {
                this.packages = response.data.packages;
            }).catch(e => {
                console.log(e);
            });
        },
        showShowModal(pack)
        {
          $('#show-package').modal('show');
          this.$root.$emit('package:show', pack, 'admin');
        }
    },
}
</script>

<style>
    .card-body1 {
        height: 270px;
        overflow: auto;
        text-align: justify;
    }
</style>