<template>
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">Monthly Recap Report</h5>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="chart">
                        <!-- Sales Chart Canvas -->
                        <canvas id="salesChart" style="height: 217px;"></canvas>
                    </div>
                <!-- /.chart-responsive -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
    </div>
    <!-- /.card -->
</template>

<script>
export default {
    created() {
        this.getMonthlyReport();
    },
    data() {
        return {
            reservations: [],
            creservations: [],
        }
    },
    methods: {
        getMonthlyReport()
        {
            axios.get('/admin/get-reservations_report').then(response => {
                this.reservations = response.data.reservations;
                this.creservations = response.data.creservations;
                this.getChart();
            });
        },
        getChart()
        {
            var salesChartCanvas = $('#salesChart').get(0).getContext('2d')

            var salesChartData = {
                labels  : ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'],
                datasets: [
                    {
                        label               : 'Not Cancel Reservation',
                        pointBackgroundColor: 'rgba(60,141,188,0.9)',
                        borderColor         : 'rgba(60,141,188,0.8)',
                        // pointRadius          : true,
                        pointColor          : '#3b8bba',
                        pointStrokeColor    : 'rgba(60,141,188,1)',
                        pointHighlightFill  : '#fff',
                        pointHighlightStroke: 'rgba(60,141,188,1)',
                        data                : this.reservations
                    },
                    {
                        label               : 'Cancel Reservation',
                        pointBackgroundColor: '#e01d41',
                        borderColor         : '#e01d41',
                        // pointRadius          : true,
                        pointColor          : '#3b8bba',
                        pointStrokeColor    : 'rgba(60,141,188,1)',
                        pointHighlightFill  : '#fff',
                        pointHighlightStroke: 'rgba(60,141,188,1)',
                        data                : this.creservations
                    },
                ]
            }

            var salesChartOptions = {
                maintainAspectRatio : false,
                responsive : true,
                legend: {
                display: true
                },
                scales: {
                    xAxes: [{
                        gridLines : {
                        display : true,
                        }
                    }],
                    yAxes: [{
                        gridLines : {
                        display : true,
                        }
                    }]
                }
            }

            // This will get the first returned node in the jQuery collection.
            var salesChart = new Chart(salesChartCanvas, { 
                type: 'line', 
                data: salesChartData, 
                options: salesChartOptions
                }
            )
        }
    },
}
</script>

<style>

</style>