<template>
    <!-- Main content -->
    <section class="content" style="padding-top: 20px;">
        <!-- Modal -->
        <!-- Add User -->
        <div class="modal fade" id="modal-lg">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add Admin/User</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <validation-observer v-slot="{ invalid, pristine }" tag="form" class="user-form" @submit.prevent="addUser">
                        <!-- <form v-submit.prevent="addUser()" method="post"> -->
                            <!-- <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label for="choice">Type of User</label>
                                        <select name="choice" id="choice" v-model="choice" class="form-control form-control-sm">
                                            <option value="admin" selected>Admin</option>
                                            <option value="customer">Customer</option>
                                        </select>
                                    </div>
                                </div>
                            </div> -->
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <validation-provider name="firstname" rules="required|min:2" :isInitial="true" v-slot="{ errors }">
                                            <input type="text" v-model="newUser.firstname" name="firstname" id="firstname" placeholder="Enter Firstname" class="form-control">
                                            <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                        </validation-provider>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <validation-provider name="lastname" rules="required|min:2" :isInitial="true" v-slot="{ errors }">
                                            <input type="text" v-model="newUser.lastname" name="lastname" id="lastname" placeholder="Enter Lastname" class="form-control">
                                            <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                        </validation-provider>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <validation-provider name="email" rules="required|unique:users" :isInitial="true" v-slot="{ errors }">
                                            <input type="text" v-model="newUser.email" name="email" id="email" placeholder="Enter Email/Username" class="form-control">
                                            <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                        </validation-provider>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <validation-provider name="type" rules="required" :isInitial="true" v-slot="{ errors }">
                                            <select name="type" v-model="newUser.type" id="type" class="form-control">
                                                <option value="0" disabled selected>Select Type of Account</option>
                                                <option value="admin" selected>Admin</option>
                                                <option value="customer">Customer</option>
                                            </select>
                                            <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                        </validation-provider>
                                    </div>
                                </div>
                            </div>
                            <hr>
                            <p><b>Default Password : </b>BananaDrive</p>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group" style="text-align: right;">
                                        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
                                        <button :disabled="invalid" type="submit" class="btn btn-sm btn-primary">Save</button>
                                    </div>
                                </div>
                            </div>
                        <!-- </form> -->
                        </validation-observer>
                    </div>
                </div>
            <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- Edit User -->
        <div class="modal fade" id="edit-modal-lg">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Admin/User</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <validation-observer v-slot="{ invalid, pristine }" tag="form" class="user-form" @submit.prevent="updateUser">
                        <!-- <form v-submit.prevent="addUser()" method="post"> -->
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <validation-provider name="firstname" rules="required|min:2" :isInitial="true" v-slot="{ errors }">
                                            <input type="text" v-model="editUser.firstname" name="firstname" id="firstname" placeholder="Enter Firstname" class="form-control">
                                            <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                        </validation-provider>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <validation-provider name="lastname" rules="required|min:2" :isInitial="true" v-slot="{ errors }">
                                            <input type="text" v-model="editUser.lastname" name="lastname" id="lastname" placeholder="Enter Lastname" class="form-control">
                                            <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                        </validation-provider>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <validation-provider name="email" :rules="'required|email|unique:users,' + editUser.id" :isInitial="true" v-slot="{ errors }">
                                            <input type="email" v-model="editUser.email" name="email" id="email" placeholder="Enter Email" class="form-control">
                                            <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                        </validation-provider>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <validation-provider name="type" rules="required" :isInitial="true" v-slot="{ errors }">
                                            <select name="type" v-model="editUser.type" id="type" class="form-control">
                                                <option value="0" disabled selected>Select Type of Account</option>
                                                <option value="admin" selected>Admin</option>
                                                <option value="customer">Customer</option>
                                            </select>
                                            <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                        </validation-provider>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group" style="text-align: right;">
                                        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
                                        <button :disabled="invalid" type="submit" class="btn btn-sm btn-primary">Update</button>
                                    </div>
                                </div>
                            </div>
                        <!-- </form> -->
                        </validation-observer>
                    </div>
                </div>
            <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- Delete User -->
        <div class="modal fade" id="delete-modal-lg">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Delete Admin/User</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <validation-observer v-slot="{ invalid, pristine }" tag="form" class="user-form" @submit.prevent="deleteUser">
                        <!-- <form v-submit.prevent="addUser()" method="post"> -->
                            <div class="row">
                                <div class="col-12">
                                    <p>Are you sure you want to delete <b>{{ removeUser.firstname }}'s</b> user?</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group" style="text-align: right;">
                                        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">No</button>
                                        <button :disabled="invalid" type="submit" class="btn btn-sm btn-primary">Yes</button>
                                    </div>
                                </div>
                            </div>
                        <!-- </form> -->
                        </validation-observer>
                    </div>
                </div>
            <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
      <div class="row">
        <div class="col-12">

          <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-11">
                        <h3 class="card-title">Admins & Users</h3>
                    </div>
                    <div class="col-1">
                        <button class="btn btn-sm btn-block btn-primary" @click.prevent="showModal()">Add</button>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="users-table" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Id</th>
                  <th>Name</th>
                  <th>Email</th>
                  <th>Account Type</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="user in users">
                  <td>{{ user.id }}</td>
                  <td>{{ user.firstname }} {{ user.lastname }}</td>
                  <td>{{ user.email }}</td>
                  <td> {{ user.type }}</td>
                  <td><a href="#" class="btn btn-xs btn-success"  @click.prevent="showEditModal(user)">Edit</a> | <a href="#" class="btn btn-xs btn-danger" @click.prevent="showDeleteModal(user)">Delete</a></td>
                </tr>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
</template>

<script>
export default {
    created() {
        this.getUsers();
    },
    data() {
        return {
            users: [],
            newUser: {
                firstname: null,
                lastname: null,
                email: null,
                type: null,
            },
            editUser: {
                firstname: null,
                lastname: null,
                email: null,
                type: null,
            },
            removeUser: {
                firstname: null,
                lastname: null,
            }
        }
    },
    methods: {
        addUser()
        {
            axios.post('/admin/save-user', {
                firstname: this.newUser.firstname,
                lastname: this.newUser.lastname,
                email: this.newUser.email,
                type: this.newUser.type,
            }).then(response => {
                this.$toastr.s(response.data.msg, 'Success');
                this.getUsers();
            $('#modal-lg').modal('hide');
            }).catch(e => {
                console.log(e);
            });
        },
        deleteUser()
        {
            axios.delete('/admin/delete-user', {
                params: {
                    id: this.removeUser.id,
                    orig_id: this.removeUser.orig_id,
                }
            }).then(response => {
                this.$toastr.s(response.data.msg, 'Success');
                this.getUsers();
                $('#delete-modal-lg').modal('hide');
            }).catch(e => {
                console.log(e);
            });
        },
        getUsers()
        {
            axios.get('/admin/get-admins-users', {
                params: {
                    date: this.date
                }
            }).then(response => {
                this.users = response.data.users;

                setTimeout(() => {
                    // $("#example1").DataTable();
                    $('#users-table').DataTable();
                }, 100);
            }).catch(e => {
                console.log(e);
            });
        },
        updateUser()
        {
            axios.put('/admin/update-user', {
                id: this.editUser.id,
                orig_id: this.editUser.orig_id,
                firstname: this.editUser.firstname,
                lastname: this.editUser.lastname,
                email: this.editUser.email,
                type: this.editUser.type,
            }).then(response => {
                this.$toastr.s(response.data.msg, 'Success');
                this.getUsers();
                $('#edit-modal-lg').modal('hide');
            }).catch(e => {
                console.log(e);
            });
        },
        showModal()
        {
            $('#modal-lg').modal('show');
        },
        showDeleteModal(user)
        {
            this.removeUser = user;
            $('#delete-modal-lg').modal('show');
        },
        showEditModal(user)
        {
            this.editUser.id = user.id;
            this.editUser.firstname = user.firstname;
            this.editUser.lastname = user.lastname;
            this.editUser.orig_id = user.orig_id;
            this.editUser.type = user.type;
            this.editUser.email = user.email;
            $('#edit-modal-lg').modal('show');
        }
    },
    props: ['date']
}
</script>

<style>

</style>