<template>
  <!-- Main content -->
    <section class="content" style="padding-top: 20px;">
        <!-- Modal -->
        <!-- Delete food -->
        <div class="modal fade" id="delete-food-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Delete Food</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <validation-observer v-slot="{ invalid, pristine }" tag="form" class="food-form" @submit.prevent="deleteFood">
                            <div class="row">
                                <div class="col-12">
                                    <p>Are you sure you want to delete <b>{{ removeFood.name }}'s</b> food/drink?</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group" style="text-align: right;">
                                        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">No</button>
                                        <button :disabled="invalid" type="submit" class="btn btn-sm btn-primary">Yes</button>
                                    </div>
                                </div>
                            </div>
                        <!-- </form> -->
                        </validation-observer>
                    </div>
                </div>
            <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <div class="modal fade" id="photo-modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Edit Photo Food</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <validation-observer v-slot="{ invalid, pristine }" tag="form" class="food-form" @submit.prevent="updatePhotoFood">
                            <div class="row">
                                <div class="col-12 text-center">
                                    <p v-if="updatePhoto.filename == null">{{ '- No Photo -' }}</p>
                                    <img :src="'/storage/foods/' + updatePhoto.link" alt="" width="300px">
                                </div>
                            </div>
                            <div class="row mb-1">
                                <div class="col-12">
                                    <label for="photo">Upload Photo</label>
                                    <input type="file" name="photo" @change="onPhotoChange" ref="photo" id="photo" class="form-control">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group" style="text-align: right;">
                                        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Cancel</button>
                                        <button :disabled="invalid" type="submit" class="btn btn-sm btn-primary">Update</button>
                                    </div>
                                </div>
                            </div>
                        <!-- </form> -->
                        </validation-observer>
                    </div>
                </div>
            <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
      <div class="row">
        <div class="col-8">

          <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-12">
                        <h3 class="card-title">Foods & Drinks</h3>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <div v-if="loading" class="text-center"><i class="fa fa-spin fa-spinner"></i> Please wait...</div>
                <table v-else id="foods-table" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Description</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="food in foods">
                            <td> {{ food.name }}</td>
                            <td> {{ food.category }}</td>
                            <td> {{ food.description }}</td>
                            <td>
                                <a href="#" class="btn btn-xs btn-success"  @click.prevent="showEditForm(food)">Edit</a> | 
                                <a href="#" class="btn btn-xs btn-info"  @click.prevent="showEditPhotoForm(food)">Edit Photo</a> | 
                                <a href="#" class="btn btn-xs btn-danger" @click.prevent="showDeleteModal(food)">Delete</a>
                                </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-4" v-if="!isEdit">
          <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-12">
                        <h3 class="card-title">Add Food</h3>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <validation-observer v-slot="{ invalid, pristine }" tag="form" class="food-form" @submit.prevent="addFood" ref="foodValidationObserver">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <validation-provider name="name" rules="required|min:2|unique:foods_drinks" :isInitial="true" v-slot="{ errors }">
                                    <input type="name" v-model="newFood.name" name="name" id="name" placeholder="Enter Name" class="form-control form-control-sm">
                                    <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                </validation-provider>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <validation-provider name="file" rules="required" :isInitial="true" v-slot="{ errors }">
                                    <input type="file" name="file" @change="onImageChange" id="file" ref="file" class="form-control form-control-sm" style="font-size: 10px;">
                                    <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                </validation-provider>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <validation-provider name="category" rules="required" :isInitial="true" v-slot="{ errors }">
                                    <v-select v-model="newFood.category" name="category" :options="categories" placeholder="Select Category" label="name" :reduce="category => category.id"></v-select>
                                    <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                </validation-provider>
                            </div>
                        </div>
                        <div class="col-12" v-if="!isSub && newFood.category != null">
                            <div class="form-group">
                                &nbsp;&nbsp;<button class="btn btn-sm btn-success" @click.prevent="showSub()" style="font-size: 14px;">+ sub category</button>
                            </div>
                        </div>
                        <div class="col-10" v-if="isSub">
                            <div class="form-group">
                                <validation-provider name="sub_category" rules="required" :isInitial="true" v-slot="{ errors }">
                                    <v-select name="sub_category" v-model="newFood.sub_category" :options="subCategories" placeholder="Select Sub Category" label="name" :reduce="category => category.id"></v-select>
                                    <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                </validation-provider>
                            </div>
                        </div>
                        <div class="col-1" v-if="isSub">
                            <div class="form-group">
                                <button class="btn btn-sm btn-danger" @click.prevent="showSub()">x</button>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <validation-provider name="description" rules="required|min:5" :isInitial="true" v-slot="{ errors }">
                                    <textarea name="description" v-model="newFood.description" class="form-control form-control-sm" placeholder="Type Description" id="description" cols="30" rows="10"></textarea>
                                    <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                </validation-provider>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 text-right">
                            <div class="form-group">
                                <button :disabled="invalid" type="submit" class="btn btn-sm btn-primary">Save</button>
                            </div>
                        </div>
                    </div>
                </validation-observer>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
        <div class="col-4" v-else>
          <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-12">
                        <h3 class="card-title">Edit Food</h3>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <validation-observer v-slot="{ invalid, pristine }" tag="form" class="food-form" @submit.prevent="updateFood" ref="foodValidationObserver">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <validation-provider name="name" :rules="'required|min:2|unique:foods_drinks,' + editFood.id" :isInitial="true" v-slot="{ errors }">
                                    <input type="name" v-model="editFood.name" name="name" id="name" placeholder="Enter Name" class="form-control form-control-sm">
                                    <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                </validation-provider>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <validation-provider name="category" :isInitial="true" v-slot="{ errors }">
                                    <v-select v-model="editFood.category" name="category" :options="categories" placeholder="Select Category" label="name" :reduce="category => category.id"></v-select>
                                    <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                </validation-provider>
                            </div>
                        </div>
                        <div class="col-12" v-if="!isSub && editFood.category != null">
                            <div class="form-group">
                                &nbsp;&nbsp;<button class="btn btn-sm btn-success" @click.prevent="showSub()" style="font-size: 14px;">+ sub category</button>
                            </div>
                        </div>
                        <div class="col-10" v-if="isSub">
                            <div class="form-group">
                                <validation-provider name="sub_category" rules="required" :isInitial="true" v-slot="{ errors }">
                                    <v-select name="sub_category" v-model="editFood.sub_category" :options="subCategories" placeholder="Select Sub Category" label="name" :reduce="category => category.id"></v-select>
                                    <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                </validation-provider>
                            </div>
                        </div>
                        <div class="col-1" v-if="isSub">
                            <div class="form-group">
                                <button class="btn btn-sm btn-danger" @click.prevent="showSub()">x</button>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <validation-provider name="description" rules="required|min:5" :isInitial="true" v-slot="{ errors }">
                                    <textarea name="description" v-model="editFood.description" class="form-control form-control-sm" placeholder="Type Description" id="description" cols="30" rows="10"></textarea>
                                    <span class="text-danger error-text mt-2 w-100" style="font-size: 14px;">{{ errors[0] }}</span>
                                </validation-provider>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12 text-right">
                            <div class="form-group">
                                <button type="button" @click.prevent="showAddFrom()" class="btn btn-sm btn-danger">Cancel</button>
                                <button  type="submit" :disabled="invalid" class="btn btn-sm btn-primary">Update</button>
                            </div>
                        </div>
                    </div>
                </validation-observer>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
</template>

<script>
export default {
    created() {
        this.getFoods();
    },
    data() {
        return {
            isSub: false,
            isEdit: false,
            newFood: {
                name: null,
            },
            editFood: {
                name: null,
            },
            removeFood: {
                name: null,
            },
            updatePhoto: {
                link: null,
                id: null,
                filename: null
            },
            categories: [],
            subCategories: [],
            foods: [],
            file: null,
            photo: null,
            loading: false,

        }
    },
    methods: {
        onImageChange(e) {
            this.file = e.target.files[0];
        },
        onPhotoChange(e) {
            this.photo = e.target.files[0];
        },
        updatePhotoFood()
        {
            let formData = new FormData();
            formData.append('file', this.photo);

            axios.post('/admin/food-drinks/photo/' + this.updatePhoto.id, formData).then(response => {
                if (response.data.success) {
                    this.$toastr.s(response.data.msg, 'Success');
                    this.resetForm();
                } else {
                    this.$toastr.e(response.data.msg, 'Error');
                }
                $('#photo-modal').modal('hide');
                this.getFoods();
            }).catch(e => {
                console.log(e);
            });
        },
        addFood()
        {
            let formData = new FormData();
            formData.append('file', this.file);

            axios.post('/admin/food-drinks', formData, {
                params: {
                    name: this.newFood.name,
                    category_id: this.newFood.category,
                    sub_category_id: this.newFood.sub_category,
                    description: this.newFood.description,
                }
            }).then(response => {
                if (response.data.success) {
                    this.$toastr.s(response.data.msg, 'Success');
                    this.resetForm();
                } else {
                    this.$toastr.e(response.data.msg, 'Error');
                }
                this.getFoods();
            }).catch(e => {
                console.log(e);
            });
        },
        deleteFood()
        {
            axios.delete('/admin/food-drinks/' + this.removeFood.id).then(response => {
                if (response.data.success) {
                    this.$toastr.s(response.data.msg, 'Success');
                } else {
                    this.$toastr.e(response.data.msg, 'Error');
                }
                this.getFoods();
                $('#delete-food-modal').modal('hide');
            }).catch(e => {
                console.log(e);
            });
        },
        getCategories()
        {
            axios.get('/admin/get-categories').then(response => {
                response.data.categories.forEach(category => {
                    this.categories.push({
                        id: category.id,
                        name: category.name,
                    });
                });
            }).catch(e => {
                console.log(e);
            });
        },
        getFoods()
        {
            this.loading = true;
            this.getCategories();
            axios.get('/admin/get-food-drinks').then(response => {
                this.foods = response.data.foods;
                setTimeout(() => {
                    // $("#example1").DataTable();
                    $('#foods-table').DataTable();
                    this.loading = false;
                }, 100);
            }).catch(e => {
                console.log(e);
            });
        },
        updateFood()
        {
            axios.put('/admin/food-drinks/' + this.editFood.id, {
                    name: this.editFood.name,
                    category_id: this.editFood.category,
                    sub_category_id: this.editFood.sub_category,
                    description: this.editFood.description,
            }).then(response => {
                if (response.data.success) {
                    this.$toastr.s(response.data.msg, 'Success');
                    this.resetForm();
                } else {
                    this.$toastr.s(response.data.msg, 'Error');
                }
                this.isEdit = false;
                this.getFoods();
            }).catch(e => {
                console.log(e);
            });
        },
        resetForm() {
	        this.newFood = {
		        name: null,
            };
            this.editFood = {
		        name: null,
            };

	        this.$nextTick(() => {
	        	this.$refs.foodValidationObserver.reset();
            });
        },
        showAddFrom()
        {
            this.isEdit = false;
            this.$refs.foodValidationObserver.reset();
        },
        showDeleteModal(food)
        {
            this.removeFood = food;
            $('#delete-food-modal').modal('show');
        },
        showEditForm(food)
        {
            this.resetForm();

            this.isEdit = true;
            this.editFood.id = food.id;
            this.editFood.name = food.name;
            this.editFood.description = food.description;
            this.categories.forEach(c => {
                if (c.id == food.category_id) {
                    this.editFood.category = food.category_id;
                }
            });
            this.categories.forEach(c => {
                if (c.id == food.sub_category_id) {
                    this.editFood.sub_category = food.sub_category_id;
                }
            });
            if (food.sub_category_id != null) {
                this.categories.forEach(c => {
                    if (c.id != this.editFood.category_id) {
                        this.subCategories.push({
                            id: c.id,
                            name: c.name,
                        });
                    } else {
                        this.editFood.category = food.category_id;
                    }
                });
                this.isSub = true;
            } else {
                this.isSub = false;
            }
            // this.$refs.foodValidationObserver.reset();
        },
        showEditPhotoForm(food)
        {
            this.updatePhoto.link = food.link;
            this.updatePhoto.filename = food.filename;
            this.updatePhoto.id = food.id;
            $('#photo-modal').modal('show');
        },
        showSub()
        {
            if (this.isSub == false) {
                this.isSub = true;
                this.categories.forEach(c => {
                    if (c.id != this.newFood.category) {
                        this.subCategories.push({
                            id: c.id,
                            name: c.name,
                        });
                    }
                });
            } else {
                this.isSub = false;
                this.subCategories = [];
            }
        },

    },
}
</script>

<style>

</style>